[2021-11-18 14:35] cristianrgreco commented on #293
@michalosik88 would you be able to look at this?

[2021-11-19 10:30] michalosik88 commented on #293
Hi @cristianrgreco, yes, but I haven't found the cause of the issue. The difference between your fix and mine is just a way how we do it. I just do it in the CMD console, using node command and making spawn there, you do it in testcontainers source code. The result should be the same of course, but for some reason it still throws that error.

I will have to take a further look when I will find som

[2021-11-29 14:48] suchbalazs opened #307 "Ability to add extra hosts"
Currently the extrahosts are private. It would be nice if we could change this just like in the Java and Python testcontainers version.

Especially it would be nice so that the linux version would have this `host.docker.internal` working too. Currently I cannot connect from a testcontainer running Java to a testcontainer MySQL database without this when it is run in docker in docker environment.

[2021-11-29 15:16] suchbalazs commented on #307
Some code that may help with understanding:
[code]

[2021-11-29 15:19] cristianrgreco commented on #307
Hi @suchbalazs, see the referenced PR, would something like this work for you?

[code]

[2021-11-29 15:32] suchbalazs commented on #307
This was quick 😄. This seems good to me.

[2021-11-29 15:37] cristianrgreco commented on #307
Awesome, released in [7.24.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.24.0)

[2021-11-29 15:37] #307 closed

[2021-11-30 15:11] suchbalazs commented on #307
Hello there.
Sorry for commenting here again, but the example seems to be incorrect.
[code]
Should be this instead according to the current implementation (because the spread operator):
[code]
  Also I tried this out today and it seems to not work for me. `nslookup` found nothing from inside or outside of the docker. Any idea why?

[2021-11-30 15:42] suchbalazs commented on #307
Probably the issue is on my side then, but the following doesn't work for me:
[code]
Thanks.

[2021-11-30 16:03] suchbalazs commented on #307
I did a bit further investigation and it seems like to not work with the `alpine` image and I don't know yet why. It is working as expected with your `cristianrgreco/testcontainer:1.1.12` image.

[2021-12-06 08:14] suchbalazs commented on #307
Hey @cristianrgreco, any idea why this wouldn't work with some images? Like `nslookup` doesn't even find it and yet it is in the `etc/hosts`.

[2021-12-06 09:19] cristianrgreco commented on #307
Hey @suchbalazs

The testcontainer image used for testing is based on alpine. Perhaps there is some issue with the host/ipAddress values you are providing? Does the `nslookup` work if you run it with Docker from the CLI?

[2021-12-06 09:51] suchbalazs commented on #307
`await container.exec(["nslookup", "host.docker.internal"])).exitCode` was `0` with the `cristianrgreco/testcontainer:1.1.12` image and it wasn't with the `alpine` image.
Sadly at the moment I cannot reproduce it as it is a linux specific issue (`host.docker.internal` is already mapped on Docker Desktop so on windows and mac). Tomorrow I can copy some logs. `nslookup` works as expected just does n

[2021-12-09 14:59] cristianrgreco commented on #283
@zsiegel FYI, this PR changes the way we map host ports, I believe it will fix this issue so stay tuned 🙂 https://github.com/testcontainers/testcontainers-node/pull/306

[2021-12-10 00:26] zsiegel commented on #283
@cristianrgreco amazing thank you. I will keep an eye out so I can test this as soon as it drops.

[2021-12-10 14:26] cristianrgreco commented on #283
@zsiegel could you please try `v8.0.0`?

[2021-12-11 16:06] zsiegel commented on #283
I gave this another try and sadly no luck!

I am now on Docker for Mac 4.3.0.

Output of test run on sample project within devcontainer setup is.

[code]

When I run this locally it works fine.

[2021-12-11 16:19] cristianrgreco commented on #283
@zsiegel thanks for trying. Could you please run the test with `DEBUG=testcontainers*`? The test timeout is only 15s, maybe it timed out pulling the image?

[2021-12-11 16:28] zsiegel commented on #283
Here are the logs.

[code]

I also captured the logs from the Ryuk container.

[code]

[2021-12-13 10:12] solidnerd opened #311 "docker service discovery breaks in version 8.x with GitLab CI"
Hey,

we were using version `v7.24.0` and it worked fine but  when we upgrade to `8.1.0` it doesn't work anymore.

It seems something with the Docker Discovery has changed. We we would really like your feedback and trying to get help to be also compatible with version `8.1.0`

## Error Log

[code]

## Our GitLab CI Config
[code]

[2021-12-13 15:20] cristianrgreco commented on #311
Hi @solidnerd, thanks for raising, I will need to look into this. In the meantime could you please retry your test using the GitLab configuration provided here? https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/

[2021-12-13 21:36] cristianrgreco commented on #311
I see from @solidnerd's logs that testcontainers is using the `ConfigurationStrategy`, which simply configures the Docker client to use `DOCKER_HOST`, `DOCKER_TLS_VERIFY`, and `DOCKER_TLS_CERTPATH` environment variables, so it's unclear to me why that's not working, and why I suggest checking the GitLab setup.

@vesse could you please also share your logs (run the test with `DEBUG=testcontainers*`

[2021-12-14 07:21] vesse commented on #311
@cristianrgreco here, looked pretty much the same to me except we have that RYUK_DISABLED set [as per documentation](https://www.testcontainers.org/supported_docker_environment/continuous_integration/bitbucket_pipelines/)

[code]

[2021-12-14 11:22] cristianrgreco commented on #311
I was able to reproduce the issue in GitLab and can confirm it's fixed as of [v8.1.2](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.1.2), could you please also confirm?

[2021-12-14 20:35] solidnerd commented on #311
Hey @cristianrgreco,
thanks for your fast feedback and for resolving the problem. We can confirm that it works on our site without any changes in the ci.

We bumped only the dependency to `v8.1.2`

[2021-12-14 20:35] #311 closed

[2021-12-15 06:45] vesse commented on #311
@cristianrgreco verified also on Bitbucket pipelines. Thanks!

[2021-12-21 09:55] ab316 opened #314 "Features to specify the host port in port mapping"
I use testcontainers for running my integration tests. On my work computer, a lot of port ranges are blocked. That causes the `docker-modem` library to fail with the following error on around every third run of tests:

[code]

A possible solution is to add to able to specify a host port as well for each port mapping e.g. in the `GenericContainer.withExposedPorts` method.

[2021-12-22 18:50] Legion2 opened #315 "TLS config is not detected resulting in error"
We run testcontainers in GitLab CI and configured docker dind with TLS verification which is enabled by default in docker since docker 19.03.12. We have setup the runner correctly, so the tls certificats are available and environment variables are set. `docker version` in the CI works correctly and can connect to dind via tls connection. However, testcontainer fails to run the tests with the follo

[2021-12-23 09:32] cristianrgreco commented on #315
hi @Legion2, how is the TLS configuration being provided to testcontainers? Is it via the environment or a `.testcontainers.properties` file? Could you please share the value of that configuration?

[2021-12-23 09:35] Legion2 commented on #315
It is provided as environment variables, they are set by the ci template:
[code]

[2022-01-11 14:28] Zomono commented on #64
The maintainers of testcontainers-java have implemented this functionallity by a reuse flag that could be set on their GenericContainer. This flag indicates that a similar container also created by testcontainers with the reuse flag can be reused by another test.

The use case is to speed up test runs and reduce resource usage. If you have a lot of test suits, each spawning e.g. a database contain

[2022-01-15 21:30] cristianrgreco commented on #64
@Zomono please raise a new issue

[2022-01-19 10:47] Zomono opened #319 "Feature: Reuse containers created by testcontainers"
The maintainers of testcontainers-java have implemented a functionallity to reuse an already created container. They implemented this by setting a flag on their GenericContainer. This flag indicates that a similar container also created by testcontainers with the reuse flag set can be reused by another test.

The use case is to speed up test runs and reduce resource usage. If you have a lot of tes

[2022-02-07 14:19] geordiepaul8 commented on #315
Hi, is there an update on this. I am noticing the same issue. It works using v 8.0.0, but when I go to a higher version I keep getting:

`2022-02-07T14:11:47.681Z testcontainers WARN  Docker client strategy ConfigurationStrategy is not reachable
2022-02-07T14:11:47.682Z testcontainers DEBUG Found applicable Docker client strategy: UnixSocketStrategy
2022-02-07T14:11:47.682Z testcontainers DEBUG Te

[2022-02-08 09:12] cristianrgreco commented on #315
Apologies @Legion2 and @geordiepaul8, I am swamped with work and other projects at the mo, any help with a PR would be much appreciated!

[2022-02-09 08:00] levitomer opened #321 "No Docker client strategy found"
My build in travis is breaking with the error `No Docker client strategy found`

version: "testcontainers": "8.1.2"

[code]

[2022-02-09 09:15] cristianrgreco commented on #321
This issue has inspired me to create an issue template 😄 Please share logs (`DEBUG=testcontainers*`), node version, docker version, the code, etc.

[2022-02-15 20:19] gareth-cheeseman commented on #321
I have the same error -  at least for me I think it is a combination of a few things:

- the code being run in a docker build
- changes in node 15 to error on unhandled rejections, instead of warn
- running tests with `NODE_OPTIONS=--unhandled-rejections=warn` avoids the error stoping the docker build, or running with a node 14 docker image as base.

I have jest tests using testcontainers that are

[2022-02-16 22:40] Duarte007 opened #322 "Error with PostgreSqlContainer"
Hello, im trying to use testcontainer in my aplication using postgres and i am recive this error:

[code]

I've done some research but to no avail...

I also cloned this repository and tried to run `postgresql-container.test` but I get the same error

Can someone help me?

[2022-02-17 09:41] cristianrgreco commented on #322
Hi @Duarte007, could you share some repro, are you using a `GenericContainer` or the `PostgreSqlContainer`? ..

[2022-02-17 12:32] Duarte007 commented on #322
Hello @cristianrgreco
I'm using `PostgreSqlContainer` and `"testcontainers": "^8.2.0"`

Here ir my code

[code]

The error ocurrs in this snippet

[code]

Always falls in the catch

[2022-02-17 13:10] Duarte007 commented on #322
@cristianrgreco

I added a promise that waits for 10 seconds before trying to connect and it connected correctly
But I started getting authentication error

`error: password authentication failed for user "dev"`

And I'm certainly trying to connect with the same username and password that I passed in the parameters for creating the container, because I'm getting it from a configuration file.

[2022-02-17 13:44] mderrien29 opened #323 "Feature: add environment variable for scaling "withStartupTimeout""
**Issue :** Test will fail if the container has not started in allocated time. Depending on environment the tests will "randomly" fail.

**Why :** Some environments might have limited performances (low spec machines, slow CI runner, etc) or limited connectivity (inital pull of images, new image, etc). Some might even have sufficient performances and only encounter issues when multitasking with oth

[2022-02-17 14:39] cristianrgreco commented on #323
hi @mderrien29, thanks for raising! it sounds like a good idea to me, and `TESTCONTAINERS_DEFAULT_STARTUP_TIMEOUT` sounds good 👍

[2022-02-18 10:37] cristianrgreco commented on #323
hey @mderrien29, so I was speaking to some of the tc-java folks and they made a good point, what is stopping you from doing something like: `withStartupTimeout(TIMEOUT_FROM_ENV)`, why have tc-node explicitly handle this variable?

[2022-02-18 11:47] mderrien29 commented on #323
Hello,

Since this is a common use case (eg. #57 ), I feel like using an environment variable to inject a timeout should be the default practice, without requiring a separate fixture in the test code base, imported in every test and applied manually to every container. It's also useful and easy to setup while you are debugging another issue.

As discussed in the original issue, the current solutio

[2022-02-20 07:47] SBD580 commented on #301
Hi,

@cristianrgreco I believe the fix is not bulletproof - you can't expect the Dockerfile name to appear there "as is" - it might be `*.Dockerfile` or completely missing if ignoring everything except for specific files:
[code]

I think it's better to add the Dockerfile explicitly to the tar after adding the context. wdyt?

[2022-02-20 07:55] SBD580 commented on #301
I actually see we are not supporting the full syntax of `.dockerignore` like negative (`!`) matches - this should be mentioned in the docs I believe.

[2022-02-20 16:47] #322 closed

[2022-03-02 20:36] #314 closed

[2022-03-04 19:50] geordiepaul8 commented on #315
Hi @cristianrgreco just to update you on this, I got my issue working. With v8.4.0 I could not get the testcontainers to reach the docker deamon on gitlab CI using the docker-in-docker runner.

I used the following settings to get it to work:

[code]
* note I did not set the `DOCKER_HOST` variable as the `tcp://` could not connect

I realise that this may not work for everyone, but if people have

[2022-03-07 21:06] ferntheplant commented on #315
@Legion2 did you ever resolve this? I have a similar issue with my GitLab runner (which given the env variables I think you did too)

[2022-03-07 21:45] Legion2 commented on #315
@Legion2 no I still use the non tls url for node testcontainers. With java testcontainers library the tls configuration works.

[2022-03-08 09:03] cristianrgreco commented on #315
@ferntheplant, @Legion2 could you please share how I can setup an environment to reproduce this? i should be able to have a look soon

[2022-03-08 10:04] Legion2 commented on #315
@cristianrgreco Run the `docker:dind` container such that it is accessible via `docker` hostname (docker compose for example)
Add a volume called `docker-certs` which is mounted in both docker dind and test container at `/certs/client`, docker dind will store the tls cert in there and the test container should read and use these.
Set the following environment variables in the test container
[code]

[2022-03-08 17:20] ferntheplant commented on #315
I actually reverted to 8.0.0 and TLS now it works great.

My setup on 8.4.0 that failed is:
[code]

[code]
I get the same testcontainers log output as Legion in the issue description, specifically `Docker daemon is not reachable: Error: error:0480006C:PEM routines::no start line` causing the testcontainer module to default to the host docker engine.

[2022-03-10 16:58] luismqoliveira opened #330 "Environment Variables With Cypress"
Hello @cristianrgreco,

I'm tying to migrate from protractor to cypress and keep using your testcontainers project but I'm struggling with the environment variables because I'm not able to set any of them (I was using DEBUG and RYUK_CONTAINER_IMAGE).

In protractor i was using in my protractor.conf.js file this way:
`const process = require('process');
process.env.DEBUG = 'testcontainers*';
proces

[2022-03-10 18:06] luismqoliveira commented on #330
I have some updates on this. I managed to get to override the RIUK IMAGE but I can't figure out why I can't enable the your testcontainers logs. This is what I'm try to do (my package.json):
` "cypress:run": "cross-env NODE_ENV=dev DEBUG=testcontainers* RYUK_CONTAINER_IMAGE=mycompany.com/testcontainers/ryuk:0.3.1 DEBUG=cypress:server:plugins ./node_modules/.bin/cypress run "`

[2022-03-16 04:42] david-induro opened #331 "AbstractWaitStrategy is not exported."
I'm trying to make a custom wait strategy, which ideally would extend the AbstractWaitStrategy, to take out the boilerplate, like the startUpTimeout stuff. However, AbstractWaitStrategy is not exported, line all the other classes which extend it.

[2022-03-16 09:16] cristianrgreco commented on #331
Hi @david-induro, indeed the wait strategy implementations are purposefully not exported so that they can be changed without potential breaking changes. The wait strategies provided should already provide all you need, if not I'd love to hear what it is and maybe we could raise a PR here so others would also benefit

[2022-03-20 23:02] cwkang1998 commented on #331
For me, there's a use case in which I have to wait for the application within docker to partially initialize, which in this case, would not usually satisfy some of the provided wait strategies. Of course there's always an option to add some log text to indicate this state, but I think the flexibility of extension would be nice as well.

[2022-03-21 09:40] cristianrgreco commented on #331
@cwkang1998 If the host-port or log wait strategies are insufficient, you can always provide your own health-check wait strategy like so:

[code]

You could put anything you like in the `test`. What use case isn't covered by these wait strategies?

[2022-03-21 12:03] cristianrgreco commented on #293
Haven't heard anything else regarding this so will close the issue and associated PR.

[2022-03-21 12:03] #293 closed

[2022-03-21 12:10] cristianrgreco commented on #323
This issue was solved simply by setting the startup timeout, the PR you have raised wouldn't solve the fact that there was a need to configure a startup timeout, it just changes how to do it.

I have 2 reasons why I am not for merging this:
1. It deviates more from testcontainers-java, they have 1000s of users and this isn't a problem they have (which is also why I say this isn't a common issue).

[2022-03-21 12:10] #323 closed

[2022-03-21 12:19] cristianrgreco commented on #319
@Zomono completely agree, will look into this when I can, PRs also welcome 👍

[2022-03-22 13:32] cwkang1998 commented on #331
One use case that is more specific to me, is the reliance on the use of sdk to infer the readiness of the testcontainers. Yes, I am aware that I can implement something via the current provided wait strategy that is similar to doing so via the sdk itself, but a more consistent and uniform use of the sdk would be preferable.

To put it in code instead of words:
[code]

Technically its already possi

[2022-03-24 12:01] cristianrgreco commented on #319
@cwkang1998 please feel free to raise issues for the missing features, we will get there eventually 🙂

[2022-03-25 23:08] cristianrgreco commented on #319
Released in [8.5.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.5.0).

[2022-03-25 23:08] #319 closed

[2022-03-26 12:32] cristianrgreco commented on #330
Hi @luismqoliveira, this seems to be an issue with how cypress reads environment variables, they provide some documentation about it: https://docs.cypress.io/guides/guides/environment-variables

[2022-03-26 12:32] #330 closed

[2022-03-26 12:39] cristianrgreco commented on #321
There is not enough information in this issue to be able to investigate. Pls feel free to raise a new issue with more information, reproduction steps, etc, if the issue persists. @PSanetra mentioned a dependency upgrade fixed the issue, since v8.5.1, all dependencies have had their patch versions upgraded.

[2022-03-26 12:39] #321 closed

[2022-03-26 23:59] cristianrgreco commented on #301
Thanks for raising those 2 points @SBD580, they've both been addressed in [8.6.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.6.0)

[2022-03-26 23:59] #301 closed

[2022-03-27 17:11] cristianrgreco commented on #315
@ferntheplant I need some more help reproducing this. This is the test I've written:

[code]

I've generated the certs according to: https://docs.docker.com/engine/security/protect-access/#create-a-ca-server-and-client-keys-with-openssl, specifically:

[code]

Note how I've set the CN to `docker-tls`. However when I run the test, `docker:dind` starts up successfully, however `docker` emits the fol

[2022-03-27 17:48] Legion2 commented on #315
The certificates are automatically generated by docker:dind see https://hub.docker.com/_/docker/#tls "Starting in 18.09+, the dind variants of this image will automatically generate TLS certificates in the directory specified by the DOCKER_TLS_CERTDIR environment variable."

[2022-03-27 19:35] cristianrgreco commented on #315
Thanks @Legion2, I'm now letting dind create the certs, and i'm mounting the client certs from that volume into the docker container. Here's the updated test:

[code]

Next problem is this (also same from 8.0.0/latest):
[code]

[2022-03-27 21:04] cristianrgreco commented on #315
@Legion2 I think I've found the issue, could you please try version `8.6.1-beta.0` and let me know?

[2022-03-28 09:02] enote-kane opened #337 "docker-compose with network alias / DNS override"
I have a container in a docker-compose setup that replaces a well-known server (which is hard-coded in a dependency) to provide a "mock" server instead.

Now the only way to do this is using network aliases:
[code]

So, how can I "attach" the test execution to the network so that its DNS resolution correctly points to the desired mock container?

[2022-03-28 09:31] cristianrgreco commented on #337
Hi @enote-kane, I'm not entirely sure what you mean. The alias `official.host.org` is only available within the `test` network. Unless your test execution is also a Docker container running inside the `test` network, DNS resolution won't work. Are you asking whether it's possible to dynamically attach a container to an existing network?

[2022-03-28 09:58] enote-kane commented on #337
Hi @cristianrgreco, thanx for you time

Essentially, my problem is: my application → calls 3rd party library → requests `https://official.host.org:443/...`

The application I currently have is a NestJS application that is being tested with Jest, but now as you mention it, the better idea is probably running the application itself in a Docker container on the same network and then just testing via

[2022-03-29 07:03] #337 closed

[2022-03-29 12:49] Legion2 commented on #315
@cristianrgreco thanks with `8.6.1-beta.0` the our tests work with tls enabled

[2022-03-29 14:39] cristianrgreco commented on #315
Excellent, released in 8.6.1. Thanks for your help!

[2022-03-29 14:39] #315 closed

[2022-03-29 19:06] SBD580 commented on #301
Awesome! Thank you for taking this and this entire wonderful lib!

[2022-04-04 12:08] cristianrgreco commented on #331
I will look into exposing these classes if there is more interest, for now I believe this is such a niche use case that I would rather keep the flexibility to make non-breaking changes.

[2022-04-04 13:52] cristianrgreco commented on #283
Hi @zsiegel, apologies for the delay!

I've tried this again using testcontainers 8.6.1, Docker Desktop for Mac 4.6.1, and with disabling ryuk it works:

[code]

I will look into why ryuk is not working in this setup, but in the meantime this is a workaround.

[2022-04-04 16:05] cristianrgreco commented on #283
@zsiegel So this one took me several hours to find the root cause, thanks also for your help @kiview!

When you run docker-compose, it by default creates a **new** bridge network. Testcontainers doesn't know about this and creates containers in the **default** bridge network. Containers cannot talk to each other across different networks, resulting in connection timeouts.

You can simply tell Dock

[2022-04-04 16:05] #283 closed

[2022-04-06 05:23] cwkang1998 opened #340 "Feature request: Ability to restart container"
As of right now, there is no possible way provided to restart started containers. I would like to see a exposed method to restart a given container.

The use case for this may be specific to me (or may not be), but generally there is a need for me to change the configuration file and push for a restart after the config change. As of right now, I am trying to work it through via the use of `Dockero

[2022-04-06 05:26] cwkang1998 opened #341 "Feature request: HttpWaitStrategy & StartupCheckStrategies"
Referencing the docs for `testcontainer-java`, I would like to see implementation of HttpWaitStrategy and StartupCheckStategies in `testcontainers-node`.

https://www.testcontainers.org/features/startup_and_waits/

I am willing to contribute myself.

[2022-04-06 06:58] richjharris opened #342 "Support for health checks using CMD rather than CMD-SHELL"
Currently only `CMD-SHELL` health checks are supported which require a shell on the docker container to run. `distroless` docker images like [mockserver](https://hub.docker.com/r/mockserver/mockserver/) don't have a shell so that mechanism doesn't work, see https://github.com/GoogleContainerTools/distroless/issues/183.

To support docker containers without a shell the health check needs to be in t

[2022-04-06 07:05] richjharris commented on #342
Here is a PR to support `CMD` health checks https://github.com/testcontainers/testcontainers-node/pull/343

[2022-04-08 15:56] TheTFo opened #346 "SIGNREQUEST when using DockerComposeEnvironment"
**Expected Behaviour**
Jest + Test Containers exits cleanly

**Actual Behaviour**
Receiving error "SIGNREQUEST"

**Testcontainer Logs**
[code]

**Steps to Reproduce**
Note: Using docker-compose for this, and not the pre-built kafka container, because I also want schema registry

Using docker-compose
[code]
With this test file
[code]
Started with: `NODE_ENV=development jest --config=e2e/jest.config

[2022-04-10 10:13] cristianrgreco commented on #346
Related to https://github.com/testcontainers/testcontainers-node/discussions/310

[2022-04-11 08:35] SkySails commented on #346
Unfortunately not, I'm still seeing this occasionally unless I add manual timeouts!

[2022-04-11 08:54] cristianrgreco commented on #346
@TheTFo could you pls share the version of Jest you are using?

[2022-04-15 12:59] apokralipsa opened #351 "Kafka containers are not reusable"
**Expected Behaviour**
Kafka containers should be reusable when the `withReuse` method is called before the container is started.

**Actual Behaviour**
Containers are kept alive after the test is done, but new ones are created each time.
This is because a random zookeeper port is being selected and exposed each time.

**Testcontainer Logs**
None

**Steps to Reproduce**
Run the following test:
[cod

[2022-04-15 14:42] #351 closed

[2022-04-15 14:45] cristianrgreco commented on #351
Released in 8.7.1

[2022-04-16 09:46] apokralipsa opened #353 "Feature request: Make setting up SASL and SSL in Kafka containers easier."
Production Kafka clusters may require the application to use encryption and to authenticate using the SASL mechanism.
In such a case it might be best to also configure the test container to require it, so that the test and production environments are as similar as possible.

Currently setting it up using the provided module is a bit cumbersome. It requires extending the `KafkaContainer` class so t

[2022-04-21 10:07] Robin-Hoodie opened #356 "Feature request: allow configuration of exposed ports for PostgreSQL container"
When calling `start` on an instance of `PostgreSQLContainer` https://github.com/testcontainers/testcontainers-node/blob/7580ad550b2e4a2221f55c75a7bb0774de6c07f0/src/modules/postgresql/postgresql-container.ts#L32 the exposed ports are hardcoded to `5432` so calling `withExposedPorts` while configuring the container does not work.

A workaround is using an instance of `GenericContainer`.

Happy to c

[2022-04-21 10:14] cristianrgreco commented on #356
Hi @Robin-Hoodie, yes I see that the exposed ports are overridden in the PostgreSQL container module, what is the use case for exposing non-postgres ports from the container?

[2022-04-21 10:19] Robin-Hoodie commented on #356
Thanks for the swift reaction.

No need to expose non-postgres ports. I do however want to specify the host port and not have this determined at random. I know this is not recommended.
The application that I want to test runs in another process. The Postgres client also lives in that application, so I can not easily control which port it uses to connect to the Postgres container. Otherwise I could

[2022-04-21 10:29] cristianrgreco commented on #356
Yes I think I understand, thanks for explaining - What you would like to do is replace the Postgres module's

[code]

With:

[code]

Is my understanding correct? If so, my question is what should happen with the default exposed ports. Do you think the user provided ports should be appended to the existing or replace the existing?

[2022-04-21 10:52] Robin-Hoodie commented on #356
Yes!

I think we should indeed replacing the existing ports

[2022-04-23 17:39] cristianrgreco commented on #353
Released in [v8.8.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.8.0), thanks again @apokralipsa !

[2022-04-23 17:39] #353 closed

[2022-04-23 17:40] cristianrgreco commented on #356
Sounds good, we should probably do that in all the modules, PR welcome!

[2022-04-25 13:24] jondot commented on #346
Try something like this:

[code]

[2022-04-26 10:17] ab316 opened #358 "Feature Request: Custom host port for ryuk container"
The ryuk container is started by Docker at a random port. On my work computer where a big range of ports are blocked, this causes the ryuk container to fail due to the host port being blocked by the computer.

We already have the functionality to support fixed host ports in the `withExposedPorts` method. We can extend this to the `ReaperInstance` class as well. The fixed port can come from an envi

[2022-04-26 10:32] cristianrgreco commented on #358
PR welcome 👍

[2022-04-26 19:34] feg624 opened #359 "No Docker client strategy found"
**Expected Behaviour**
Testcontainers to be able to start a docker-compose environment without problem.

**Actual Behaviour**
It shows the error "No Docker client strategy found".

**Testcontainer Logs**
    No Docker client strategy found

      at ../node_modules/testcontainers/dist/docker/docker-client.js:46:11
      at fulfilled (../node_modules/testcontainers/dist/docker/docker-client.js:5:58

[2022-04-27 12:04] #356 closed

[2022-04-27 12:40] cristianrgreco commented on #359
Hi @feg624, please share all the testcontainers logs.

[2022-04-27 13:28] feg624 commented on #359
Hi @cristianrgreco please check whether the following are good enough. I've got these with version 8.6.1:

DEBUG=testcontainers* TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/mnt/wsl/shared-docker/docker.sock TESTCONTAINERS_RYUK_PRIVILEGED=true npm run test

  testcontainers DEBUG Found applicable Docker client strategy: ConfigurationStrategy +0ms
  testcontainers DEBUG Testing Docker client strategy URI

[2022-04-27 13:59] cristianrgreco commented on #359
Thanks @feg624, that's very helpful. I see an immediate issue in this log line `testcontainers DEBUG Testing Docker client strategy URI: tcp://unix:///mnt/wsl/shared-docker/docker.sock +64ms` but the solution at the moment is unclear.

Out of curiosity, the `ConfigurationStrategy` is only applicable if the `DOCKER_HOST` environment variable is set, is this the case for you?

[2022-04-27 15:30] feg624 commented on #359
Thanks @cristianrgreco for the quick check on your side. As I mentioned earlier, I made a "custom" docker install within WSL2, so it's not installed via docker desktop on Windows.

The docker related environment variables are:

DOCKER_BUILDKIT=1
DOCKER_DIR=/mnt/wsl/shared-docker
DOCKER_DISTRO=Ubuntu
DOCKER_HOST=unix:///mnt/wsl/shared-docker/docker.sock
DOCKER_SOCK=/mnt/wsl/shared-docker/docker.soc

[2022-04-27 15:53] cristianrgreco commented on #359
OK, I think I understand why this is so confusing 😄

Because the `DOCKER_HOST` environment variable is set, we use the `ConfigurationStrategy` to create the Docker client. The `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE` is irrelevant here, it is later used by the resource reaper, whereas in this issue it is failing to even initialise the Docker client.

In version 8.6.0, we parse the `DOCKER_HOST` to

[2022-04-27 17:58] feg624 commented on #359
Great! Send me the info and I'll test it out.

[2022-04-28 09:10] cristianrgreco commented on #359
@feg624 could you please try version `8.8.1-beta.0`?

[2022-04-28 12:07] feg624 commented on #359
Hi @cristianrgreco , I've just tested the beta, but similar error as before. Please check the logs below:

DEBUG=testcontainers* TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/mnt/wsl/shared-docker/docker.sock TESTCONTAINERS_RYUK_PRIVILEGED=true npm run test

  testcontainers DEBUG Found applicable Docker client strategy: ConfigurationStrategy +0ms
  testcontainers DEBUG Testing Docker client strategy URI

[2022-04-28 12:13] cristianrgreco commented on #359
@feg624 Please try `8.8.1-beta.1`

[2022-04-28 12:27] feg624 commented on #359
Excellent @cristianrgreco , version `8.8.1-beta.1` worked great! And you're right, it only worked by defining the env variable `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE`.

Thanks a lot for your quick support on this!

[2022-04-28 12:44] cristianrgreco commented on #359
Great, released in [8.9.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.9.0). Thanks for raising the issue and for your help getting it fixed! All the best

[2022-04-28 12:44] #359 closed

[2022-04-29 12:47] cristianrgreco commented on #346
FYI I've raised an issue with `ssh2`, will be tracking that for more information/progress.

[2022-05-01 11:13] cristianrgreco commented on #358
@ab316 Could you please test version 8.10.0-beta.0 and confirm it works for you?
You're now able to set `TESTCONTAINERS_RYUK_PORT`

[2022-05-03 07:06] iwt-gregorpoloczek opened #362 "Cannot connect to Reaper with log wait strategy when using Rancher Desktop"
**Outline**
* Since Version 8.7.0 we seem to encounter race-conditions while starting the container ``postgres:10``.
* Only around 15% of starts of a test container are sucessful.
* The run actual container may not be the issue however, since the logs indicate, that it may not be responsible.

**Expected Behaviour**
* Container starts normally.

**Actual Behaviour**
* Test-Containers cannot connec

[2022-05-03 08:02] jackkainov opened #363 "Question about version 8 comparing to version 7"
Hi, sorry, didn't find any other type of issue, only a bug.
We have observed a strange behavior of version 8 on a Jenkin's agent, which is a Kubernetes pod. If I use the v8.9 of testcontainers, either as a generic container or a docker-compose environment, according to logs the process just halts, e.g.
[code]
  nothing is happening after this. My assumption is that the new changes in v8 require a

[2022-05-03 08:35] cristianrgreco commented on #362
Hi @iwt-gregorpoloczek

The change which affects the reaper between the versions you provided is: https://github.com/testcontainers/testcontainers-node/pull/338, which replaces the wait strategy from host-port to log. This issue implies that ryuk says it's "Started!" before it's ready to accept connections, of which I'm doubtful.

I've run your repro several times locally on Mac Monterey 12.3.1 an

[2022-05-03 08:38] cristianrgreco commented on #363
Hi @jackkainov, some of those logs do not exist in version 8.9.0 of testcontainers. Could you please update to the latest version (8.9.0) and try again? If there is still an issue, please provide a repro of the code, and provide more information about the environment - it would have been very helpful if you filled out the bug report template.

[2022-05-03 08:40] cristianrgreco commented on #346
The PR for jest has been merged (https://github.com/facebook/jest/pull/12789). Waiting for the next release to confirm and close this issue.

[2022-05-03 09:04] jackkainov commented on #363
Thx for answering @cristianrgreco, I didn't use the bug report because to me it seems like a configuration issue on our side. The working version was 7.24.0, and I did indeed try the v8.9.0. I can try to pinpoint if all v8 versions behave the same way or not.

[2022-05-03 11:34] iwt-gregorpoloczek commented on #362
Hi @cristianrgreco

I did what you proposed:
* Installed ``docker-desktop``
* Tested both ``8.6.1`` and ``8.7.0``
* Both work just fine

After that:
* Reinstalled ``rancher-desktop`` via ``homebrew``, this time version ``1.3.0`` (no beta, or anything like that)
* Tested both ``8.6.1`` and ``8.7.0``
* ``8.6.1`` works
* ``8.7.0`` fails with the aforementioned problem

I understand the case for ``doc

[2022-05-03 14:44] cristianrgreco commented on #363
No need to pinpoint all v8 versions. Please share the logs when using the latest version, as well as a code repro

[2022-05-05 14:48] cruxicheiros commented on #340
@cristianrgreco is there a straightforward way to wait for a particular log message after restarting a process in a container? I have this problem too and that's what stops me from doing that - if I create a new container I get `Wait.forLogMessage` but I have to wait for my container to start, which takes a long time because it needs to build everything from scratch due to being set up for hot rel

[2022-05-05 20:13] ab316 commented on #358
@cristianrgreco , yes it seems to be working correctly!

[2022-05-05 21:05] cristianrgreco commented on #358
Excellent thanks @ab316, released in [8.10.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.10.0)

[2022-05-05 21:05] #358 closed

[2022-05-06 17:24] SkySails commented on #346
@cristianrgreco Can confirm, I can't reproduce the issue using my steps from #310 ! Thanks a lot for looking into and fixing this!

[2022-05-06 17:52] cristianrgreco commented on #346
Great! And thank you @SkySails for bringing this issue to my attention and for your help in resolving it! 🙂

[2022-05-06 17:52] #346 closed

[2022-05-09 21:35] Android3000 commented on #362
Yeah, it definitely appears to be a timing issue somehow from when the health check log stream is matching versus when Rancher Desktop is accepting socket connections to the container (I'm using the dockerd (Moby) container runtime). I don't know a lot about this space, so apologies in advance for probably getting a lot of this terminology / guessing at the behavior differences way wrong.

Still t

[2022-05-10 08:18] cristianrgreco commented on #362
I think the best thing to do is to raise the issue with rancher-desktop. Firstly because there is a difference in behaviour between rancher and the official Docker Desktop (I don't know if this is intended), and secondly because if a container opens a socket, and _then_ logs that it's ready, you would expect that when you see the log message that the socket is indeed open.

[2022-05-16 14:35] daviian opened #365 "Multistage Dockerfile with private registries does not build"
**Expected Behaviour**

A Dockerfile containing multiple stages that also uses private registries should build fine and use the provided auth configs.

**Actual Behaviour**

The AuthLocator always tries to get the credentials for the DEFAULT_REGISTRY "https://index.docker.io/v1/" as it tries to find auth configs based on the registries in the Dockerfile.

The getDockerFileImages from dockerfile-pa

[2022-05-17 09:59] #365 closed

[2022-05-17 10:01] cristianrgreco commented on #365
Thanks @daviian, released in [8.10.1](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.10.1)

[2022-05-18 17:15] cristianrgreco commented on #340
Hi @cruxicheiros, yes as per the README you can stream the logs of a running container:

[code]

I guess you want something like:

[code]

[2022-05-22 08:45] calvintwr opened #367 "No Docker client strategy found caused by invoked exported dockerClient"
**Expected Behaviour**
No error should occur when setup files involving `dockerClient` are called.
...

**Actual Behaviour**
`No Docker client strategy found` error appears.
...

**Testcontainer Logs**
With `DEBUG=testcontainers*` on, testcointainers will run:
[code]
And the error:
[code]
...

**Steps to Reproduce**
1. Write a generic setup "boilerplate" file like:

[code]

[code]

2. When you run

[2022-05-22 08:48] cristianrgreco commented on #367
@calvintwr share the test containers logs

[2022-05-22 08:52] calvintwr commented on #367
@cristianrgreco I have created the PR for the fix.

[2022-05-22 09:41] cristianrgreco commented on #367
@calvintwr I'm more interested in fixing why the Docker client was not found instead of making it lazy

[2022-05-22 10:00] calvintwr commented on #367
@cristianrgreco the issue is not that it’s not found. The issue has more to do the search (`dockerClient`) being invoked when it shouldn’t have been. You can check my PR and advise how best to resolve this further.

[2022-05-23 15:26] Shpota opened #369 "Unable to run tests on AWS CloudBuild"
I have a Node.js project with Testcontainers used for staring Redis and Prostgress for tests.

I want to run these tests as a part of CI. For that purpose, I use an alpine image of Node.js with Docker installed on top of it. The tests work well on my local machine, but they fail in CloudBuild.

**Expected Behaviour**
Tests run well in AWS CloudBuild

**Actual Behaviour**
An error appears in logs

[2022-05-23 18:45] ivandotv commented on #283
Could docker-compose define a `network` and then `testcontainers` and `ryk` attach to that network?

[2022-05-24 13:48] cristianrgreco commented on #369
@Shpota could you please share the testcontainers logs?

[2022-05-25 10:37] Shpota commented on #369
@cristianrgreco I don't see anything specific to testcontainers in logs, this is all what I get (I changed names of test classes):
[code]

[2022-05-25 11:09] cristianrgreco commented on #369
@Shpota you'll need to run the tests with `DEBUG=testcontainers*` environment variable set, it's at the top of the readme

[2022-05-25 13:12] Shpota commented on #369
Thank you @cristianrgreco
This is what I get if I add debug:
[code]

[2022-05-25 13:14] cristianrgreco commented on #369
I haven't used AWS code build before but it seems the docker socket is not in its default location. Do you need to mount it into your build container or something?

[2022-05-31 12:50] #363 closed

[2022-05-31 14:06] daviian opened #372 "Feature Request: nocache support for image build from Dockerfile"
There is no possibility to specify the nocache option so that the Docker build uses the nocache flag.

This flag is especially useful in test scenarios to make sure the image is able to be build from scratch without any previous caches available.

It would be really great if this can be supported.

[2022-06-01 17:36] borcherspm commented on #362
I'm getting this same error with docker desktop 4.8.2.   I recently switch to node 16, it was working fine with node 14.   Not sure what else would impact it.

[code]

[2022-06-02 12:43] Motii1 opened #373 "Docker credential provider exited with code: 1"
**Expected Behaviour**
Testcontainers to be able to start without problem.

**Actual Behaviour**
It shows the error `Unexpected response from Docker credential provider GET command: "credentials not found in native keychain`.

**Testcontainer Logs**
[code]

**Steps to Reproduce**

I am using docker desktop with ubuntu 22.04 inside WSL2.
I am using localstack like this:
[code]
It seems that `start`

[2022-06-03 06:32] alimMax opened #374 "Can't start a container in Cypress project"
**Expected Behaviour**
Starting container with custom image

**Actual Behaviour**
Error while trying to start test:
`Cannot read properties of undefined (reading 'DEFLATE')`

![Screenshot from 2022-06-03 11-57-34](https://user-images.githubusercontent.com/56675132/171798212-7424faa8-aade-4338-82c9-cec0d9fa1895.png)

**Testcontainer Logs**
No logs, because I can't even start them :)

**Steps to Rep

[2022-06-03 14:47] #373 closed

[2022-06-03 14:51] cristianrgreco commented on #374
@alimMax testcontainers cannot run in a browser, perhaps run it in a separate process to cypress?

[2022-06-06 08:00] alimMax commented on #374
@cristianrgreco it works! Thanks a lot!
But now have another issue with starting containers in an interactive mode. I have put some executable files into the container. In order to properly run the container, I need to mark command as interactive. Otherwise, a container is just shut down. So, is there any way to do something like this?
`docker run -it DOCKER_IMAGE`

[2022-06-06 08:04] cristianrgreco commented on #374
@alimMax there isn't an interactive mode. You could do like in the README and start the container with:

[code]

And execute the commands needed manually:

[code]

[2022-06-06 19:25] #374 closed

[2022-06-06 19:28] cristianrgreco commented on #362
Hi @borcherspm, I've just run the test suite locally on Docker Desktop 4.8.2 and Node 16.13.1 without issue. If you are able to reproduce the issue then please raise a new issue here.

[2022-06-07 06:31] alimMax commented on #374
@cristianrgreco thank you for your help!

[2022-06-10 06:21] richjharris commented on #342
@cristianrgreco is there an expected time frame for this to get merged?

[2022-06-13 04:19] overmike commented on #362
I face the same issue on using rancher desktop, node 14 and testcontainer 8.10
Currently using testcontainer 8.6.1 fix the issue, but would like to know if there is any solution

[2022-06-13 08:06] cristianrgreco commented on #362
Has anyone raised an issue with rancher-desktop as per https://github.com/testcontainers/testcontainers-node/issues/362#issuecomment-1122077767?

[2022-06-20 08:57] cristianrgreco commented on #369
@Shpota I see there was an answer https://stackoverflow.com/a/72396224/964145, did it help?

[2022-06-22 08:46] cristianrgreco commented on #342
@richjharris sorry for the delay, haven't had much time to work on this lately. I'm hoping to get this done in the next couple of weeks

[2022-06-27 13:04] Audarth commented on #362
We seem to have a similar issue:

[code]

Seems to randomly fail on my m1 pro but consistently passes on our Jenkins server

Operating System: macOS 12.4 (21F79)
Docker Version: Docker Desktop 4.9.1 (81317)
(both experimental features 'Use new virtualisation framework and Enable VirtioFS accelerated directory sharing are enabled)
Node version: v16.15.1"
Testcontainers version: 8.10.1

[2022-07-03 10:49] gdonoso94 opened #376 "Feature request: Remove docker-compose-environment associated volumes"
As well as for other containers, passing config object to `stop` is allowed, it'd be great to have this feature for Docker Compose environments `down` or `stop` methods. Such as
[code]

[code]

Thanks.

[2022-07-04 10:48] tcharlat opened #377 "require side effect : socket access on docker asynchronously triggered by import"
**Expected Behaviour**
When I don't execute `new PostgreSqlContainer()` I expect require()'ing the library to be no-op with no side effect

**Actual Behaviour**
On the developer side, the library works as expected.
On circle ci, "docker in docker" is unavailable and the test image is started via the circleci.yml config.
Our test setup distinguished the developper env and the ci env and only starts

[2022-07-04 11:06] cristianrgreco commented on #377
Hi @tcharlat, this PR should fix it, but it seems to have been abandoned: https://github.com/testcontainers/testcontainers-node/pull/368, WDYT @calvintwr?

[2022-07-04 17:29] toefel18 commented on #340
I would really like this feature as well, I want to test kafka auto-healing behavior, but as of right now when I do a stop() and start() I get new mappings. I want exactly the same host:port to test this behaviour. Mapping the ports to something I explicitly want is also not allowed/recommended anymore.

What is the correct way of testing such a feature?

[2022-07-05 14:35] eli-lim commented on #3
Hey, thanks for the awesome package! ❤️

I'm using the `GenericContainer.fromDockerFile` API, trying to give the built image a `name` and `tag` so I can avoid rebuilding the image every test run.

Correct me if I'm wrong, but I quickly looked through the codebase and I don't think it's possible atm?

[2022-07-07 21:41] #369 closed

[2022-07-07 21:50] cristianrgreco commented on #362
Hi all, I will ask for a 3rd time 😄

This behaviour **works** with the official Docker desktop.

The behaviour is simply: stream the container logs until a given log is received, at which point the container is "ready". The  log we are interested in is emitted **after** the port is open, so it **cannot** be true that the port is unavailable.

All the issues mentioned here are:

1. Not using the of

[2022-07-10 10:07] #367 closed

[2022-07-10 10:08] cristianrgreco commented on #377
Fixed in [8.11.1](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.11.1)

[2022-07-10 10:08] #377 closed

[2022-07-10 12:15] calvintwr commented on #377
@cristianrgreco thanks much! Sorry I just didn’t had time at all. I’ll check it out. Once again thanks!

[2022-07-14 16:44] rudemex opened #379 "Configure AWS ECR"
**Expected Behaviour**
Hi, how are you? first of all, I wanted to thank you for this amazing library! it made my application development so much easier, but I need to configure the pull of the images to be done from an ECR from AWS, how can I do this configuration?

Thank you very much in advance.

**Actual Behaviour**
...

**Testcontainer Logs**
...

**Steps to Reproduce**
1. In this environment.

[2022-07-14 17:13] rudemex commented on #379
Hi @cristianrgreco.

Great, I was reviewing a little bit the code, and I saw that there is an environment variable that calls a config.json with the registry data, but apparently it is not taking the data well.

[code]

inside the .docker folder there is a config.json file with the following data structure

[code]

[2022-07-15 08:51] cristianrgreco commented on #379
@rudemex this scenario is covered by https://github.com/testcontainers/testcontainers-node/blob/91d9127f3e157a59f7371bec59effc5889096b1d/src/registry-auth-locator/auths.test.ts#L38-L53

Have you double checked the `DOCKER_CONFIG` path is correct? Can you confirm that the `<url-ecr>` matches the repository of the image you are trying to pull from? Could you run your app with the env variable `DEBUG

[2022-07-18 17:00] tcharlat commented on #377
@cristianrgreco Thanks for the lightning fast fix, I missed the notification on github to thank you in due time.
I left the client context where I encountered this issue though so can't check myself.

@FannyMonet could you check if it's fixed for you ?

[2022-07-20 08:37] #362 closed

[2022-07-20 08:39] cristianrgreco commented on #362
Closing this issue as per my previous message:

@lidanh I shared the code of the `LogWaitStrategy` in my previous message. If you had read it you'd see that there's nothing to retry, as the way it works is it continually tries until the given startup timeout.

[2022-07-22 05:44] cwkang1998 opened #380 "Extract `waitForContainer` into its own module"
As mentioned in https://github.com/testcontainers/testcontainers-node/pull/364#discussion_r866613854, since this functionality is duplicated in a few places, it will be a good idea to extract it out into its own module.

[2022-07-22 06:20] cwkang1998 opened #381 "Tests does not run as expected on mac M1 machines"
**Expected Behaviour**
Tests to run as expected as a windows or linux machine.

**Actual Behaviour**
Tests failing.
Attached are the failing tests.

[code]

**Testcontainer Logs**
Its a long log, so not going to include everything here, focusing on docker-compose-environment test

[code]

**Steps to Reproduce**
1. Run the tests using `npm run test` in a mac machine with m1 chip
2. Should see failu

[2022-07-22 09:17] #340 closed

[2022-07-22 09:37] cristianrgreco commented on #340
Released in [8.12.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.12.0), thanks @cwkang1998

[2022-07-22 09:46] bikash001 opened #382 "Override option for entrypoint"
There is no way to override entrypoint for the images which has entrypoint defined. Docker client has that option but testcontainers hasn't exposed it.

[2022-07-22 10:01] cristianrgreco commented on #382
Sure @bikash001, would you be able to raise a PR?

[2022-07-22 10:15] bikash001 commented on #382
Yes, I will raise a PR.

[2022-07-25 08:15] #379 closed

[2022-07-25 12:29] Zomono opened #383 "Memory leak when running testcontainers with jest"
Hi,
I have some problems with high memory allocation in my unit test running with jest and node-testcontainers.
I have reduced the problem to a single test file that only starts and stops a single GenericContainer.
After running this test a small amount of memory does not get garbage collected.
This could be tested by running the test suite multiple times (in a single jest run) with and without th

[2022-07-26 19:41] maggie-weber opened #385 "Unable to connect to sibling container on same network using network alias"
I'm trying to run two sibling containers on the same network such that `barContainer` is able to make HTTP connections to `fooContainer`. I ran into this issue when trying to implement a feature in a close-source project, so I copied the implementation from [the Java testcontainers documentation](https://www.testcontainers.org/features/networking/#advanced-networking) to get a minimal reproduction

[2022-08-01 08:36] cristianrgreco opened #386 "Test template"
**Expected Behaviour**
...

**Actual Behaviour**
...

**Testcontainer Logs**
...

**Steps to Reproduce**
1. In this environment...
2. With this config...
3. Run '...'
4. See error...

**Environment Information**
- Operating System:
- Docker Version:
- Node version:
- Testcontainers version:

[2022-08-01 08:36] #386 closed

[2022-08-04 08:31] cristianrgreco commented on #385
Hi @maggie-weber, this functionality is tested as part of the CI/CD pipeline.
Please have a look on your side what could be different: https://github.com/testcontainers/testcontainers-node/blob/8f6ad11e0c73ac5f2b232902404a087a67b3315f/src/generic-container/generic-container.test.ts#L114-L133

[2022-08-05 09:20] laat commented on #381
To get this to work on M1:
[code]

I had to pull this image:
[code]

[2022-08-08 10:01] #385 closed

[2022-08-18 22:38] jsdevel opened #387 "No ports exposed from ryuk container. Is this normal?"
I'm using testcontainers `withExposedPort` and all i see is the ryuk container.   The ryuk container _has no exposed ports either_.  Is this normal?

![ports](https://user-images.githubusercontent.com/2605980/185507314-fdbe8508-9c49-444a-bc01-1fb25935b745.png)

I set `DEBUG=testcontainers*` and this is the output:

[code]

[2022-08-19 08:53] cristianrgreco commented on #387
Hi @jsdevel, no that's not right, as you haven't filled out the issue template I can't tell you what could be your issue. Here's the `docker ps` output when I run a test:

<img width="1501" alt="Screenshot 2022-08-19 at 09 52 38" src="https://user-images.githubusercontent.com/10348798/185582791-d0f48baa-ef3e-4c96-85f6-90c6c0b9d3f1.png">

[2022-08-20 07:38] jsdevel commented on #387
@cristianrgreco perhaps this has something to do with it?

[code]

[2022-08-20 09:09] YashchenkoN opened #388 "testcontainers is unable to start in CodeBuild"
I have a simple test starting postgres container:
[code]

It works perfectly well on my laptop.

**Expected Behaviour**
I expect this test to run successfully in AWS CodeBuild.

**Actual Behaviour**
CodeBuild build hangs while starting the container and eventually times out.

**Testcontainer Logs**
[code]

**Environment Information**
- Operating System: Amazon Linux 2 x86_64 standard image, versio

[2022-08-24 08:40] cristianrgreco commented on #388
Interesting, thanks for raising, I will take a look when I can.

[2022-08-24 08:41] cristianrgreco commented on #387
If you have an issue you need help with then please fill out the issue template when you raise it.

[2022-08-24 08:41] #387 closed

[2022-08-24 18:03] jsdevel commented on #387
turned out i had old containers that the latest docker daemon couldn't start, so it failed to create the default bridge network.  nuking all my containers fixed my issue.

[2022-08-30 03:52] galah92 opened #391 "Cannot run testcontainers"
**Expected Behaviour**
The following should work:
[code]

**Actual Behaviour**
[code]

**Steps to Reproduce**
1. Environment: NodeJS 16 over WSL2.

**Environment Information**
- Operating System: WSL2
- Docker Version: Docker version 20.10.17, build 100c701
- Node version: v16.15.1
- Testcontainers version: ^8.12.0

Would appreciate any help, thanks!

[2022-08-30 07:11] cristianrgreco commented on #391
Failed to complete the issue template

[2022-08-30 07:11] #391 closed

[2022-08-30 14:29] galah92 commented on #391
@cristianrgreco can you explain what's missing?

[2022-09-02 17:02] dicolasi commented on #382
Hi all,
I am struggling to understand how to override the entry point of a docker image. Has the functionality been implemented?

[2022-09-03 09:51] cristianrgreco commented on #382
Hi @dicolasi, this hasn't been implemented, it would make for a good first PR if you're up for it

[2022-09-03 16:01] dicolasi commented on #382
I have 0 idea how to implement this. Sorry @cristianrgreco

[2022-09-08 22:29] mukitmomin commented on #388
Facing the same issue. Any updates @cristianrgreco?

The `testcontainer` works like a charm on my local machine but hangs on AWS CodeBuild. I checked to make sure the docker daemon on aws codebuild, with privileged access, but facing the same issue.

**Environment Information**
- Amazon Linux 2, version 5
- Node version: 16
- Testcontainers version: 8.13.0

[2022-09-08 22:35] knihit commented on #388
+1

[2022-09-10 17:50] cristianrgreco commented on #388
Hi, should be fixed in version [8.13.2](https://github.com/testcontainers/testcontainers-node/releases/tag/v8.13.2), please confirm

[2022-09-12 17:41] mukitmomin commented on #388
Hey @cristianrgreco, can confirm, this update fixed the issue. Many thanks!

[2022-09-12 17:44] #388 closed

[2022-09-14 10:24] YashchenkoN commented on #388
Now everything works very well! Thank you!

[2022-09-16 12:05] karl-run opened #396 "port-check.ts does not log when port checking fails"
**Expected Behaviour**
Error logging telling me that the port checking is failing. In this particular case the container does not have `bash` available, so `port-check.ts` fails on checking if the port has been bound until it times out.

**Actual Behaviour**
No logs, even with `DEBUG=testcontainers*`, only times out after 60 seconds with a error message saying that the port was never bound.

**Tes

[2022-09-16 13:37] cristianrgreco commented on #396
Hi @karl-run, thanks for raising. The reason for not logging the result of the port-check is that it can be very noisy (every 100ms we run several commands). In your example, one of the 3 commands is outputting a 126 exit code, but it doesn't mean that the other commands aren't trying with more success. I worry therefore that outputting this error is misleading.

[2022-09-16 13:46] karl-run commented on #396
Hmm, yeah I agree that it can be noisy. But when the overall check times out, maybe one could log the result of the last attempt? That would have saved me quite a few hours of debugging today, for example. :smiling_face_with_tear:

[2022-09-16 13:48] cristianrgreco commented on #396
@karl-run it's a good idea, I'll experiment with some approaches. I'd like to be able to fail-fast with an error message but not sure it's safe to do so. If not I'd like to output an error message ASAP to save you from waiting 2 minutes to see what failed. Worst case (if it's too noisy) we can output something at the end.

[2022-09-16 13:51] karl-run commented on #396
It might be too specific, but `/bin/sh` not being available is becoming more and more common as [distroless](https://github.com/GoogleContainerTools/distroless) is becoming more and more common. So maybe failing fast on `/bin/sh` missing? :shrug:

At least it would be very helpful for any poor soul in the future trying to run a distroless based image in testcontainers.

[2022-09-16 13:53] karl-run commented on #396
Also, for any poor soul coming to this issue in the future because they are running some distroless based image, this is the solution to your problem:

[code]

[2022-09-17 10:23] cristianrgreco commented on #396
@karl-run have a look at the linked PR, specifically the test names, do you think this covers most things/is a worthwhile improvement?

[2022-09-17 12:12] karl-run commented on #396
Looks really good! In my opinion this is definitely worth while.

[2022-09-17 13:35] cristianrgreco commented on #396
Excellent, thanks @karl-run, released in 8.14.0

[2022-09-17 13:35] #396 closed

[2022-09-23 09:30] ywilkof commented on #388
I can confirm this has solved same issue when running test-containers with our self hosted Github runners.

[2022-10-13 05:31] sublimator opened #398 "Feature Request: Add support for specifying --add-cap/--ulimit"
See https://github.com/tigerbeetledb/tigerbeetle/issues/92

[2022-10-15 19:04] cristianrgreco commented on #383
Hi @Zomono, thanks for raising the issue.

I've been checking this locally and I think I've found the problem.

When you start a container, we also start a container called ryuk. We do not explicitly stop this container (it stops itself 10s after process termination). This means that as you run multiple instances of testcontainers, that you end up with a growing list of ryuk containers:

![Screens

[2022-10-15 20:46] Zomono commented on #383
Thanks for your investigation.
Let me clarify the memory thing a little:
With the "maximum amount of memory" I mean the memory allocated by the node process only. Not for the whole system.
And I expect it to stay roughly the same while executing the tests.

The ryuk docker container may stay alive for a while (consuming memory on its own), but if I am calling "dockerContainer.stop()"  and the test

[2022-10-15 22:06] cristianrgreco commented on #383
No, because the socket is [unref'd](https://github.com/testcontainers/testcontainers-node/blob/2ff9f2632424fad27535975fa497bae42be85bd5/src/reaper.ts#L112).
This is on purpose so that ryuk is not attached to the node process, so the process can terminate without waiting on ryuk.

See above.

Again, I have run your memory leak test and analysed the heap dump and can confirm the resources are those

[2022-10-16 09:38] Zomono commented on #383
Sorry. I thought calling the stop method would clean up all references and frees all memory including the ryuk connection. No reason here to wait until the ryuk container really has been shutdown by docker.
If it is on purpose that there are dangling connection after calling "stop", this ticket can be closed.

[2022-10-16 10:54] #383 closed

[2022-10-22 13:53] cristianrgreco commented on #376
Hi @gdonoso94, removing volumes isn't supported by docker-compose `stop`, but is in `down`, i'll raise a PR to support it. I'll also add the timeout so the options are the same for docker-compose as for a standard container.

[2022-10-22 14:06] cristianrgreco commented on #376
Just seen that removing volumes is the default behaviour. Regardless I'm making it configurable.

[2022-10-22 14:10] #382 closed

[2022-10-22 14:27] #376 closed

[2022-10-22 14:58] #372 closed

[2022-10-22 18:19] #398 closed

[2022-10-23 17:59] omerlh commented on #74
Did someone got it working? I am trying to connect to Kafka from another container, having the same shared network, but the advertised broker is the localhost one...

[2022-10-24 11:12] katerina-semikina commented on #74
Hi Omer, yes, it should work fine.

It may be a bit tricky when using another container which is trying to get advertised listeners in the same network. For me it works for schema registry container just fine (in testcontainers@7.24.0).

Could you provide more details please?

[2022-10-24 15:12] Tenshock opened #407 "No Docker client strategy found on mac m1"
**Expected Behaviour**
when launching tests from [elastic search module file](https://github.com/testcontainers/testcontainers-node/blob/master/src/modules/elasticsearch/elasticsearch-container.test.ts), I expect the tests to pass

**Actual Behaviour**
When launching tests, I have the following error:

[code]

**Testcontainer Logs**
[code]

**Steps to Reproduce**

1. Clone project `git@github.com:

[2022-10-24 15:24] cristianrgreco commented on #407
Hi @Tenshock, by default I'd expect the Docker daemon to create the socket `/var/run/docker.sock`. I'm also on an M1 mac and that's how it is for me on the same version of Docker. Could you please investigate why that socket does not exist?

[2022-10-24 15:36] Tenshock commented on #407
I’d expect it as well, I will reset to factory my docker desktop configuration, uninstall all docker related stuff (docker and cask docker) and I will reinstall it to see if I have the same behavior

did you installed docker desktop? And if so, through brew or with the official dmg from docker website?

[2022-10-24 15:49] Tenshock commented on #407
I uninstalled everything (I uninstalled from the docker desktop application first then from brew cli), the deamon was successfully deleted.

I reinstalled from the website, with the same deamon (`com.docker.vmnetd.sock`) being created. The problem still persists

[2022-10-24 16:00] Tenshock commented on #407
It appears like it's a problem with docker, not testcontainers. You can close this thread so, I will finish to debug by my own or in a proper place :)

Thanks for your reactivity

[2022-10-24 16:46] Tenshock commented on #407
FYI: I had to create the symlink by hand (`sudo ln -sf /Users/myUser/.docker/run/docker.sock /var/run/docker.sock`), the patch is not that awful but quite annoying

I don't know why it was not created automatically, I'll try to troubleshoot it later

[2022-10-25 08:56] cristianrgreco commented on #407
Interesting, the socket was in your home dir instead of available for everyone. Maybe it was an option in the installation to install only for your user?

[2022-10-25 09:36] Tenshock commented on #407
Maybe, after reading all setups configurations, I did not found any configuration to setup this …

Apparently, it is an issue, following this issue: https://github.com/docker/for-mac/issues/6529

I set the DOCKER_HOST environment variable to `unix:///Users/myUser/.docker/run/docker.sock`, it resolves the problem with the current implementation of testcontainers and is cleaner.

But it's an additio

[2022-10-25 11:43] cristianrgreco commented on #74
@omerlh could you please share a reproducible example using the latest version of testcontainers?

[2022-10-25 14:42] omerlh commented on #74
I got it to work by following this [post](https://www.confluent.io/blog/kafka-client-cannot-connect-to-broker-on-aws-on-docker-etc/). I am not sure what is the difference exactly (some code is borrowed from testcontainers kafka), but the important part is setting both addressess.
[code]

[2022-10-26 12:02] katerina-semikina commented on #74
Actually that's how the version I use work (7.24.0) - I have both addresses.

[2022-10-26 12:03] omerlh commented on #74
Weird, I moved to other task for now, but I'll try to investigate it again, i spent a lot of time on it yesterday and gave up at some point...

[2022-10-29 15:43] #381 closed

[2022-10-30 13:42] cristianrgreco commented on #342
Released in 9.0.0

[2022-10-30 13:42] #342 closed

[2022-10-31 16:11] #380 closed

[2022-11-06 01:49] Nilegfx opened #410 "testcontainers works only when setting DOCKER_CONFIG"
**Expected Behaviour**
test container works fine when logged in with a private docker registry and having `~/.docker/config.json` in place

**Actual Behaviour**
test container only works if I set the `DOCKER_CONFIG` env although my docker config is at `~/.docker/config.json` which I can see that this is the default [here](https://github.com/testcontainers/testcontainers-node/blob/e7a52d3c26fd3b0ad

[2022-11-06 02:43] Nilegfx commented on #410
I was able to debug my issue. looks like an issue from our internal setup/tooling.

when I changed the config to
[code]
things worked.

[2022-11-06 03:00] Nilegfx commented on #410
I guess [this line](https://github.com/testcontainers/testcontainers-node/blob/e7a52d3c26fd3b0adafdb47bcbe093c6bf7a0819/src/registry-auth-locator/credential-provider.ts#L21) and the following couple of lines are the root cause of my issue as my internal credentials program doesn't support list command and all what this code does it try to find the credentials to log one message. is logging this me

[2022-11-06 13:33] cristianrgreco commented on #410
HI @Nilegfx, that line doesn't just log a message, it returns undefined, which [tells testcontainers that it hasn't found authentication info for the given repository](https://github.com/testcontainers/testcontainers-node/blob/e7a52d3c26fd3b0adafdb47bcbe093c6bf7a0819/src/registry-auth-locator/index.ts#L48). I don't think that the issue lies within testcontainers to handle custom credential provide

[2022-11-07 18:37] #410 closed

[2022-11-18 08:31] abcfy2 commented on #203
Hi @cristianrgreco . I try to set `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE`, but still not working. Would you please help ?

[code]

[2022-11-19 22:39] itsravenous commented on #407
Just as a note, the same problem exists with Docker Desktop on Linux, and the `/var/run/docker.sock` symlink was _not_ restored in v4.13.1 as it [was in Mac](https://docs.docker.com/desktop/release-notes/#for-mac-2). The `DOCKER_HOST` env var workaround does work, however - e.g.:

`DOCKER_HOST=unix:///home/youruser/.docker/run/docker.sock`

[2022-11-23 10:04] kbariotis commented on #407
I'm facing the exact same issue but I'm using Rancher Desktop, Im not sure if that would make any difference. I symlinked the socket file from home directory but the error still comes up.

<img width="1069" alt="image" src="https://user-images.githubusercontent.com/605742/203519493-76a27bcd-8f32-48ef-9eb6-ce44e2c33934.png">

[2022-11-23 14:45] itsravenous commented on #407
How odd. Have you tried setting the `DOCKER_HOST` env var? In your case:

[code]

[2022-11-23 14:59] kbariotis commented on #407
yes @itsravenous I did and its just the same. :/

[2022-11-23 15:09] itsravenous commented on #407
I haven't used Rancher desktop, but as mentioned above, Docker desktop [restored the previous location of the docker socket in 14.13.1](https://docs.docker.com/desktop/release-notes/#for-mac-2). If you're not on the latest version of Rancher desktop, perhaps upgrading will help? Otherwise I'd suggest asking in the Rancher Desktop community for help.

[2022-11-23 15:29] kbariotis commented on #407
ok @itsravenous thank you I think I found the issue, the symlink was actually not right. The right path of RD's socket is in `unix:///Users/${USER}/.rd/docker.sock` and that's where the `/var/run/docker.sock`  should be pointing to. :) thank you for your time thought :)

[2022-11-24 12:04] itsravenous commented on #407
That sounds about right! Glad you got it sorted :grin:

[2022-11-29 08:05] mircohaug opened #411 "DockerComposeEnvironment.up() does not fail when initial connection to Ryuk fails"
I am using the colima docker wrapper on Mac and this engine is a little bit slower to open ports on the host machine as is Docker Desktop.

**Expected Behaviour**
When testcontainers can not connect to ryuk it should either retry the connection after some offset or fail the `.up()` command.

**Actual Behaviour**
When testcontainers fails to connect to ryuk a log message is written but otherwise no

[2022-11-29 21:21] cristianrgreco commented on #411
Thanks for raising @mircohaug. Raising a PR which will both retry the connection to the Reaper if it fails, and correctly throw if it fails to do so.

[2022-11-30 03:56] olivierodo opened #413 "Issue to fetch the image testcontainers/ryuk - Github action windows."
I'm not sure from where the issue is coming from...
I'm using GIthub action to run some unit test on my opensource project RestQA.
During the build we are performing the test on windows and Unix.
On Unix no issue at all,  however on windows i'm getting the error:
[code]
Result of the build: https://github.com/restqa/restqa/actions/runs/3548736493/jobs/5965213655
Issues open on RestQA: https://gith

[2022-11-30 09:25] cristianrgreco commented on #413
Hi @olivierodo. Is your Windows agent configured to use Linux containers? What is the architecture of the agent? I am not sure it is an issue with testcontainers if the agent cannot find an image. I assume it'd be the same if you SSH'd onto the agent and tried to pull the image via the CLI.

[2022-11-30 09:31] #411 closed

[2022-11-30 09:56] olivierodo commented on #413
Yes i think you are right that might not be a testcontainer issue, it might be related to the windows Github action agent.
The debugging experience is very poor on Github action,  so it's not very easy gather valuable information.

I'll share my findings on this issue.

[2022-11-30 09:56] #413 closed

[2022-11-30 10:02] mircohaug commented on #411
@cristianrgreco Thank you very much for fixing this ❤️ I was just about to start drafting a PR but your solution is ways better 😉 Can you given an ETA when this gets released?

[2022-11-30 13:28] cristianrgreco commented on #411
@mircohaug released now in 9.0.1 🙂