[2018-01-07 11:39] rnorth opened #1 "Join forces?"
Hi @cristianrgreco !

We noticed that you've created this project - it's very nice that you've decided to bring the Testcontainers concept to Node 😄

A NodeJS implementation was something that I've wanted to do at some point but didn't get around to yet. As you've made a start, would it be possible for us to work together to develop, maintain and publicise this?

Perhaps we could discuss here or o

[2018-01-07 16:09] cristianrgreco commented on #1
Hi @rnorth

Joining forces would be great! I used testcontainers for Java extensively at my last workplace and definitely feel like there's a gap missing for NodeJS.

I've joined the Slack team 😄

[2018-07-28 17:58] #1 closed

[2019-02-19 16:00] JimNero009 opened #3 "Build from local Dockerfile"
Hey,

Just a quick note asking if building images from a local Dockerfile was on your roadmap? From what I can see, that is not currently supported. To be clear, what I mean is creating a GenericContainer from a Dockerfile that you keep within the repository itself.

[2019-02-19 16:11] cristianrgreco commented on #3
Hey @JimNero009

I had a similar requirement last week but I opted to build and push the image to DockerHub instead.
I didn't think it was the responsibility of testcontainers to build the image as the API could get quite complex (build args, etc).

[2019-02-19 16:43] JimNero009 commented on #3
Hi Christian,
Thank you for your answer. The reason I ask is because I see that the Java library has support for this, and the Python library has similar support (in the context of a docker-compose file, in any case) so it seemed a logical extension to include it here. I personally think it would be an incredibly powerful feature that would allow node developers everywhere to properly test artefac

[2019-03-10 20:27] el-davo opened #5 "How does this work with couchdb?"
Hi Im trying to get this to work with couchdb. However I keep getting an error. Here is my code

[code]

After running I get this error

[code]

Not entirely sure where port `4369` is coming from. Perhaps I misunderstand the purpose of `withExposedPorts`.

I also noticed that it does seem to start the container correctly when I do a `docker ps` I can see the started container

[code]

*UPDATE*

I

[2019-03-10 21:53] cristianrgreco commented on #5
Hi @el-davo, thanks for flagging this. Could you share what version of node you're using?

[2019-03-10 21:57] el-davo commented on #5
Hi @cristianrgreco I am on - v8.15.1

[2019-03-10 22:00] el-davo commented on #5
Heres some debug info which may be helpful

[code]

[2019-05-02 07:56] encodeering commented on #5
Hey @el-davo, did you find a solution or way to handle this? I also ran into exactly this with a `mysql:5.6` container on `node v8.11.3` with `testcontainers 1.1.10`.

Followed the example in the Readme and the code doesn't step over the `await ... start();` statement.

[2019-05-07 22:22] cristianrgreco commented on #5
Hi @el-davo, @encodeering, I believe this has been fixed in version `1.1.11`.
Could you please upgrade and report back?

[2019-05-08 06:22] Meemaw opened #7 "dynamodb-local inside Gitlab CI"
I can't get [amazon/dynamodb-local](https://hub.docker.com/r/amazon/dynamodb-local/) image work inside Gitlab CI. Note that it works locally without any problems. I haven't tried if this works in [testcontainers-java](https://github.com/testcontainers/testcontainers-java), cc @rnorth

I'm using CI settings from [docs](https://www.testcontainers.org/supported_docker_environment/continuous_integrati

[2019-05-08 08:35] cristianrgreco commented on #5
@el-davo, @encodeering I had some time this morning to verify that the change in `1.1.11` would fix CouchDB but it did not, meaning the issue for MySQL and CouchDB were different.

CouchDB should be fixed now in version `1.1.12`.
Both MySQL and CouchDB are now tested in the build pipeline.

The two issues were as follows:
1. The port to hex conversion was not padded so when we checked the internal

[2019-05-08 08:37] cristianrgreco commented on #7
Hi @Meemaw, it seems from the logs that the container is unable to bind its ports. Interesting that it works locally and not in GitLabs as the environment *shouldn't* matter here.

Version `1.1.12` fixes issue https://github.com/testcontainers/testcontainers-node/issues/5 which changes the behaviour of internal port checking.
Could you please upgrade, try again and report back?

[2019-05-08 09:00] Meemaw commented on #7
Upgraded but the error persists:

CI output:

[code]

[2019-05-08 09:08] cristianrgreco commented on #7
I can confirm that `amazon/dynamodb-local` works locally.

I assume then that the issue is related to docker in docker, and that `testcontainers-node` is not using the correct socket in this case. I see you've set the `DOCKER_HOST` env variable, I'd need to check what `testcontainers-java` does with it. Possibly it's as simple as using that value as the socket instead of the default one if it is p

[2019-05-08 09:16] cristianrgreco commented on #7
@Meemaw Version `1.1.13` will now use the `DOCKER_HOST` env variable if one is set as the socket path. Could you please upgrade and try again?

[2019-05-08 09:43] Meemaw commented on #7
Getting     `connect ENOENT tcp://docker:2375`

[2019-05-08 09:46] cristianrgreco commented on #7
Ah my bad, it's not a socket. Will let you know once this is fixed.

[2019-05-08 09:54] cristianrgreco commented on #7
@Meemaw Could you please try version `1.1.14`? 🙂

[2019-05-08 10:35] Meemaw commented on #7
`Port :46427 not bound after 40000ms` again :|

[2019-05-08 15:49] Meemaw commented on #7
Might be. Would be nice if this is fixed, as this is now unusable inside CI environments. If you need some help, I can fix/look into it once I'll find some time.

[2019-05-08 16:58] cristianrgreco commented on #7
Help would be appreciated!
The issue isn't CI environments, as the build pipeline runs in Travis - the issue is docker in docker.

Perhaps @rnorth could point me in the right direction?

[2019-05-09 11:45] encodeering commented on #5
Hi @cristianrgreco,

thanks for the update. just tried again with `1.1.14` and had no issues with mysql and sequelize.

do you think it would make sense to expose this kind of _health-check_ api to the container builder type? just in case when networking is not sufficient to consider a container _ready_.

[2019-05-09 13:12] cristianrgreco commented on #5
@encodeering Great!

Yes it's something that needs to be done. We should provide different wait strategies and allow the user to choose. The network one is just a good default for now 🙂

[2019-05-09 13:12] #5 closed

[2019-05-11 15:25] cristianrgreco commented on #7
Btw @Meemaw I noticed in your example that you're not `awaiting` the result of starting the container:
[code]

[2019-05-11 19:18] cristianrgreco commented on #7
@Meemaw I've verified that version `1.1.15` fixes this issue: https://gitlab.com/cristianrgreco/testcontainers-node/-/jobs/210895051

Could you please upgrade and try again?

[2019-05-12 12:53] Meemaw commented on #7
I have upgraded and can confirm that he container now starts. However, there is still a problem. I am connecting to dynamodb locally like:

[code]

This doesn't work in CI, as the container is on different IP. It would be nice if testcontainers exposed a method like `getContainerIpAddress`. Java version already exposes [that](https://github.com/testcontainers/testcontainers-java/blob/2c5f274d73317

[2019-05-12 14:38] cristianrgreco commented on #7
@Meemaw This should be fixed now in version `1.1.17`, could you give it a go?

[2019-05-12 16:59] Meemaw commented on #7
I can confirm that it works now 🚀 Thanks for fix and for being so responsive :+1:

[2019-05-12 16:59] #7 closed

[2019-05-12 18:12] cristianrgreco commented on #3
Hey @JimNero009

I've started work on this feature. What do you think about the following API:

[code]

[2019-05-15 01:39] thomaseizinger opened #9 "Allow to wait for log messages"
Hello from the Rust universe! :)

Thanks for creating a `node` port of testcontainers!

**Context:** Some containers take quite a while to start up and open ports before they are actually ready (bitcoin for example).

**Possible solution:** One way that works well for us in [testcontainers-rs](https://github.com/testcontainers/testcontainers-rs) is to wait for a particular log message to be emitte

[2019-05-15 20:21] cristianrgreco commented on #9
Hi @thomaseizinger, could you take a look at the PR and let me know your thoughts?

[2019-05-16 21:36] cristianrgreco commented on #9
Hi @thomaseizinger, this has been released in version `1.1.18` which is available now 🙂

[2019-05-17 07:31] #9 closed

[2019-05-18 10:01] JimNero009 commented on #3
Hey @cristianrgreco -- sorry for the tardiness of my reply.

I think we're looking pretty good with that! A couple of suggestions:
1. Is it really necessary to have an image name and tag seperated like that? Since this is a container being built from a local Dockerfile, I think an optional parameter that specifies an image name for later reference is sufficient here. In the use cases I'm thinking

[2019-05-18 10:22] cristianrgreco commented on #3
Hey @JimNero009,

Thanks for the feedback, both great points.

In terms of the first point, if the name of the container is abstracted away, does it make sense to keep the image once the application has terminated? I see that the Java port of testcontainers will auto-delete the image by default on shutdown, wondering if we should do the same?

For the second point, after having gotten feedback fro

[2019-05-21 19:50] andreybleme opened #11 "container.stop() is not a function"
Hi there, thanks for the great node lib!

I'm using it to run some tests with jest and getting the message:

[code]
My code:

[code]
Any ideas why is this happening?

[2019-05-21 19:54] cristianrgreco commented on #11
Hi @andreybleme

The variable `pgContainer` is a `GenericContainer`.
Calling `await pgContainer.start()` returns a `StartedContainer` which has a `stop()` method.

You probably want `pgContainer` to be the started container

[2019-05-21 20:45] #11 closed

[2019-05-23 01:24] andreybleme opened #12 "Support startup command"
Would be nice to be able to run commands when creating a container. Something such as

[code]

[2019-05-28 15:04] ebenson6295 commented on #3
Hello! First of all, your implementation of `testcontainers` is amazing. Thank you so much for all of your work. I just wanted to ask about this feature (building from local Dockerfile) and see if you have an ETA for when it will be completed. It seems like it will be super awesome.

[2019-05-28 21:37] cristianrgreco commented on #3
Hey @JimNero009, @ebenson6295,

Thanks for the positive feedback!

This feature is now available in version `1.1.19`.
Example usage from the `README`:

[code]

[2019-05-29 10:24] #3 closed

[2019-07-10 15:17] KaiStapel opened #15 "getContainerIpAddress() does not work as expected in Gitlab CI docker runner"
I have a similar issue like #7

I am starting two docker containers in my tests (postgres and rabbitMQ). Then I construct the connection strings using `container.getContainerIpAddress()` and `container.getMappedPort()`. Everything works locally. However, in Gitlab CI I get the following error.
[code]

When checking the value of `getContainerIpAddress()` it always returns `localhost` even when run

[2019-07-10 15:19] cristianrgreco commented on #15
Hi @KaiStapel

Have you followed the docs here: https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/ ?

Testcontainers will look for a `DOCKER_HOST` env variable, so as long as you are setting that it should work.

[2019-07-10 15:24] KaiStapel commented on #15
I am not using dind service. I am directly using the docker daemon of the docker runner itself which is on default socket `unix:///var/run/docker.sock`. This works fine with Java, but fails with NodeJS as the IP is not resolved correctly (or at all).

[2019-07-10 15:32] KaiStapel commented on #15
Looks like the Java code is doing some strange stuff if run inside a container: https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/dockerclient/DockerClientConfigUtils.java#L48

[2019-07-10 16:18] cristianrgreco commented on #15
@KaiStapel Could you please post the value of the `DOCKER_HOST` env variable in Gitlab CI?

[2019-07-11 07:07] KaiStapel commented on #15
In my case it is undefined. That means the default socket `unix:///var/run/docker.sock` is being used.

[2019-07-11 07:27] cristianrgreco commented on #15
@KaiStapel if you're using the socket, wouldn't `localhost` be the correct hostname?

[2019-07-11 07:43] KaiStapel commented on #15
No. I guess my setup is special because I am re-using the docker deamon of the gitlab CI docker runner itself. That means the docker runner first creates a container for the build. Lets call it `build`. Then, inside of `build`, the outer deamon is used to create a new container like `postgres`. Both containers are "local" to the runner. But from within the `build` container, in order to access the

[2019-07-11 10:47] cristianrgreco commented on #15
Seems a bit of a strange setup, as you have containers running on different networks but expect them to communicate with each other. Why not use `dind`?

[2019-07-11 10:49] KaiStapel commented on #15
Our gitlab admin suggested to not use dind because of security concerns.

Java uses an IP if run inside a container: https://github.com/testcontainers/testcontainers-java/blob/1.11.4/core/src/main/java/org/testcontainers/dockerclient/DockerClientConfigUtils.java#L57

[2019-07-11 10:50] KaiStapel commented on #15
If you do not want feature parity between java and node testcontainers that is fine. I will find a workaround in my code.

[2019-07-11 10:56] cristianrgreco commented on #15
I had missed the logic for finding the default gateway when running in a container, I will look at implementing this soon (at work at the moment).

Just to confirm this will fix your issue, can you confirm that:
1. There exists `/.dockerenv` in your file system.
2. The output of this command: `sh -c "ip route|awk '/default/ { print $3 }'"`

[2019-07-11 13:27] KaiStapel commented on #15
1. `/.dockerenv` exists inside the container that is running on the Gitlab CI runner.
2. The output of `docker run alpine:3.5 sh -c "ip route|awk '/default/ { print $3 }'"` is `172.17.0.1\n`

Note that in Java testcontainers the command is run inside a "tiny" container, i.e. `alpine:3.5`.

The follwoing works for me both locally and on Gitlab (which is more or less equivalent to what is done in Ja

[2019-07-24 12:22] zonk911 opened #19 "TypeError: container.exec is not a function"
Hi Folks,

i tried the example, "Running commands inside running container", from the README.md and i tumbled over the following issue.

`TypeError: container.exec is not a function
    at somefile.js:17:54
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:189:7)`

It is not part of the TestContainer interface so the GenericContainer is obviously not able to do this. P

[2019-07-24 12:27] cristianrgreco commented on #19
Hi @zonk911

It's part of the `StartedTestContainer` interface - did you `.start()` the `GenericContainer`?
If yes, could you provide an example code?

[2019-07-24 13:17] zonk911 commented on #19
I used the code from your README.md

`const { GenericContainer } = require("testcontainers");

(async () => {
  const container = await new GenericContainer("mysql")
      .withEnv("MYSQL_ALLOW_EMPTY_PASSWORD", "true")
      .start();

  const { output, exitCode } = await container.exec(["mysql", "--execute", "show databases"]);

  console.log(exitCode, output);

  await container.stop();
})();`

[2019-07-24 13:23] cristianrgreco commented on #19
Works for me. What version of node/testcontainers are you using?

[2019-07-24 13:27] zonk911 commented on #19
I use ```"testcontainers": "^1.1.19",```. I will check if i can find a newer one.

[2019-07-24 13:39] cristianrgreco commented on #19
The functionality was added in `1.2.0`.

[2019-07-24 13:40] zonk911 commented on #19
I didn't expected a new version. I just installed the module at the end of last week and assumed that i have the latest one. I will try it out, sry for interrupting. ;)

Thx and Cheers

[2019-07-24 13:40] #19 closed

[2019-07-29 06:27] da-kami opened #20 "Docker volume support for testcontainers"
Similar to Java testcontainers it would be great to be able to mount files/volumes. (i.e. https://www.testcontainers.org/features/files/)

Thanks 😃

[2019-08-05 10:38] dweidenfeld opened #21 "Built container could not be found during tests"
Hi,

I am currently facing the issue, that my freshly built container could not be found to start it for the tests.

[code]

This fails with:
[code]

The uuid `5668e0a8f7a4fb86f08d814c41dc4402` is the generated one.

Does somebody else had those issues before?
Is there a solution for it?

[2019-08-05 11:40] cristianrgreco commented on #21
Hi

I haven't seen that issue before.

Could there be something in your Dockerfile which is pulling from a private repo?

[2019-08-05 11:54] dweidenfeld commented on #21
Actually yes. But is there an option to pass build-args?

[2019-08-05 11:58] cristianrgreco commented on #21
Not as of yet

[2019-08-05 11:59] dweidenfeld commented on #21
Okay, I'll open a PR if I can make it work ;)

[2019-08-27 14:31] markmsmith opened #26 "Support for tmpfs"
It would be helpful to be able to specify a `tmpfs` setting, the same way you can with testcontainers-java:
https://github.com/testcontainers/testcontainers-java/issues/673

My use case is that I'd like to point a test database's data volume at a tmpfs in order to make our unit tests run quicker.

Thanks.

[2019-08-29 00:58] markmsmith opened #28 "Allow arguments to container.stop()"
### Feature Request
It would be helpful to be able to pass arguments to to `container.stop()` which are propagated to the underlying dockerode `container.stop()`.  This would allow specifying the timeout, `t`, that the container will wait before it is killed:
https://docs.docker.com/engine/api/v1.37/#operation/ContainerStop

When dealing with an ephemeral container for a test, you often don't care

[2019-08-29 02:07] markmsmith opened #29 "Add option to remove volumes on stop"
### Feature Request
When running an official image (such as postgres) you're stuck with the `VOLUME`s that it declares. This has the unfortunate effect of having your tests accumulate anonymous volumes, as can be seen with `docker volume ls`.  It would be really helpful if there was an option to remove any associated volumes when a container is stopped (which would actually be handled by passing t

[2019-08-29 15:25] cristianrgreco commented on #26
Hi @markmsmith

I'm planning to implement this similarly to testcontainers-java:

[code]

[2019-08-29 17:15] cristianrgreco commented on #29
Available in 1.3.0.

[2019-08-29 17:15] cristianrgreco commented on #28
Available in 1.3.0.

[2019-08-29 17:15] cristianrgreco commented on #26
Available in 1.3.0.

[2019-08-30 05:42] markmsmith commented on #26
Confirmed working in 1.3.1 with the command
[code]

[2019-08-30 05:42] #26 closed

[2019-08-30 05:44] markmsmith commented on #28
Confirmed working in 1.3.1 with the command:
[code]

[2019-08-30 05:44] #28 closed

[2019-08-30 05:49] markmsmith commented on #29
Confirmed working in 1.3.1,
[code]
will now remove any volumes associated with container (as defined in its dockerfile) by default.
This behavior can be overridden by passing a config object to `stop`, eg:
[code]
in the case that you want to look at it for debugging purposes.

[2019-08-30 05:49] #29 closed

[2019-09-01 13:36] cristianrgreco commented on #20
Hi @da-kami

Could you check out the PR and let me know if that works for you?

[2019-09-02 20:42] cristianrgreco commented on #21
Your PR has been merged and released in v2.0.0. Please give it a go and report back

[2019-09-02 20:43] #20 closed

[2019-09-02 20:43] cristianrgreco commented on #20
This functionality is available in v2.0.0.

[2019-09-02 20:43] cristianrgreco commented on #15
Hi @KaiStapel, could you please try v2.0.0 and report back?

[2019-09-03 07:53] #21 closed

[2019-09-03 07:58] KaiStapel commented on #15
Can you point me to a migration guide? v2 does not seem to be backwards compatible.

[2019-09-03 08:06] cristianrgreco commented on #15
@KaiStapel Yes, it's a major release because there's a breaking change. If you have:

[code]

Then you just have to add `.build()` at the end, as `fromDockerfile` now returns a builder.

[2019-09-03 08:18] KaiStapel commented on #15
Looking good locally and on Gitlab:

For example:
[code]

Can you give a short summary how you fixed this without #16 ?

[2019-09-03 08:23] cristianrgreco commented on #15
@KaiStapel Great news.

These are the changes:

https://github.com/testcontainers/testcontainers-node/blob/d9696834d842f9b8565cb40d1c565152698338a8/src/docker-client-factory.ts#L25-L29
https://github.com/testcontainers/testcontainers-node/blob/d9696834d842f9b8565cb40d1c565152698338a8/src/docker-client-factory.ts#L68-L79

Let me know if we can close this issue.

[2019-09-03 08:27] KaiStapel commented on #15
Ah, you used a wormhole, of course 😃

Yes, you can go ahead and close this ticket. Thanks for your support.

[2019-09-03 08:30] cristianrgreco commented on #15
Thank you for raising the issue 🙂

[2019-09-03 08:30] #15 closed

[2019-09-04 12:10] Quaiks commented on #15
Hello!

I am having a related issue. `getContainerIpAddress` always returns localhost.

https://github.com/testcontainers/testcontainers-node/blob/d9696834d842f9b8565cb40d1c565152698338a8/src/generic-container.ts#L113-L119

I don't get why is returning the client host instead of the ip of the actual container. Is a design decision? Am I mixing concepts?

Thanks in advance

[2019-09-05 11:24] Quaiks opened #36 "Support docker networks in order to resolve containers IPs by name"
Hello!

I am trying to connect two containers but without any success. The only way I know to achieve this is using networks.

I've tried to add the feature myself but I am struggling a bit with typescript. Can I make this possible without networks?

I have this workaround using dockerode

[code]

Regards!

[2019-09-05 14:56] cristianrgreco commented on #36
Hi @Quaiks

It looks to me that you're trying to get the IP address of a container.
Here's an example from the README:

[code]

Does that help?

[2019-09-05 15:13] Quaiks commented on #36
The problem is that `getContainerIpAddress` is returning the ip of the docker client, not the actual IP of the container.

https://github.com/testcontainers/testcontainers-node/blob/8b94ff8d22f3fbe6cd566a6aa402bb713b8e9f4f/src/generic-container.ts#L113-L120

I am always getting `locahost` as the IP address. I think a container does not resolve `localhost` to the the host running docker.

[2019-09-05 16:30] cristianrgreco commented on #36
Yes I think that's correct, that the IP address of the container is the same as the Docker client, because they're on the same network.

If you try to connect to the result of `getContainerIpAddress()`, does it work? What is `dockerode` returning in your example?

[2019-09-05 16:36] Quaiks commented on #36
It does not work with `getContainerIpAddress()` which returns localhost. In the example `ins.NetworkSettings.IPAddress` is returning `172.17.0.2` or whatever IP address inside the docker network.

Using `getContainerIpAddress()` and the mapped port do not work.

[2019-09-05 21:21] cristianrgreco commented on #36
What environment is this running in?
Running the example I sent you I can connect to the container via localhost.

[2019-09-09 08:43] Quaiks commented on #36
I am running this locally in a MacOS

[2019-09-10 12:41] sazzer opened #37 "Container version tags don't work as expected"
When I'm using TestContainers with just an image name and nothing else, everything works fantastic. However, if I use a versioned image name then for some reason the container now no longer works.

For example, this works great:
[code]
But this doesn't:

[code]

On the second, I get the following output:
[code]

Cheers

[2019-09-10 12:42] cristianrgreco commented on #37
Hi @sazzer

The version is a separate argument: `new GenericContainer('postgres', '11.5-alpine')`.

I'll update the docs because it's not clear.

Does that help?

[2019-09-10 12:44] sazzer commented on #37
That's perfect. Thank you :)

[2019-09-10 14:37] cristianrgreco commented on #37
I've updated the README with an example. Thanks for flagging!

[2019-09-10 14:37] #37 closed

[2019-09-12 08:30] sazzer opened #38 "Stopping containers is really slow"
I'm not sure if it's something I'm doing wrong, but I'm finding that stopping containers is really slow.

My code for this is:
[code]

And the output from this is:
[code]

Note the *11 seconds* between my log statement and the actual call to delete the container. Given that this entire test ran in 15 seconds, this is a huge percentage of it.

Cheers

[2019-09-12 16:50] #38 closed, assigned to nobody

[2019-09-18 14:58] rflpazini opened #39 "Can't connect to postgres container"
I'm facing some troubles when trying to connect to Postgres container. In my integration tests, I'm using jest and supertest to run...

This is the error message
[code]

And here is my test class:

[code]

Could you give more examples of how to connect with Postgres or something like that?

[2019-09-18 15:02] cristianrgreco commented on #39
Is `localhost` correct for this environment?
Could you replace it with `container.getContainerIpAddress()` and try again?

[2019-09-18 15:03] Reiser-meta opened #40 "Waiting for host Port"
Can you help me to solve this problem?? im runing version 2.0 .0 in a windows machine, yeah sad =/ but true. Here is the code:

[code]
The container start, i can see it running docker ps but when i run npm test, it fails.

the error code:

[code]
And stops here, nothing responds. Any idea?

Thanks in advance.

[2019-09-18 15:09] rflpazini commented on #39
`localhost` replaced  and get the same error 😢

[2019-09-18 15:11] rflpazini commented on #39
If you want to see, my project is on github... Here is the [link](https://github.com/rflpazini/bidu/tree/feat/create-database)

[2019-09-18 15:31] cristianrgreco commented on #39
Could you re-run the test with DEBUG output?
For example: `DEBUG=testcontainers npm test`

[2019-09-18 16:03] rflpazini commented on #39
[code]

[2019-09-18 16:07] cristianrgreco commented on #39
Maybe it's unrelated, but can you do `async (done)` in a test? I thought it one or the other (either `async () -> {}` or `done -> { done() }`

[2019-09-18 16:19] rflpazini commented on #39
I'm currently running `done => { done() }` in my test "/

[code]

[2019-09-18 16:46] cristianrgreco commented on #39
I don't see what the issue could be, there don't seem to be any errors from Testcontainers, you're just not able to connect to a container which is supposedly running.

Perhaps you could start Postgres via Testcontainers and leave the container running.
Then see via the Docker CLI if you can connect.

[2019-09-18 16:49] rflpazini commented on #39
I will do that @cristianrgreco and try to figure out what is happening ... Thanks for your help

[2019-09-18 16:51] Reiser-meta commented on #39
@rflpazini in your error msg, your application is trying to connect port 5432 and not the ephemeral port of docker, i think the error is in there

[2019-09-18 18:24] rflpazini commented on #39
@Reiser-meta Do you know how to change it to ephemeral port instead of `5432`?

[2019-09-18 18:25] cristianrgreco commented on #39
@rflpazini Are you sure that the port is set to `container.getMappedPort(5432)` everywhere you connect?

[2019-09-18 18:36] Reiser-meta commented on #39
@rflpazini when you require the app.js, maybe it is trying to connect your database, can you move this requie after you set the env DATABASE_URL?

[2019-09-18 18:48] rflpazini commented on #39
You're awesome guys @cristianrgreco @Reiser-meta 🥰 . It's working now!!! I have only to fix my migration script that stills pointing to `localhost:5432`

[2019-09-18 19:38] #39 closed

[2019-09-18 19:57] cristianrgreco commented on #40
@Reiser-meta It seems that the container isn't able to bind to port 3306. Do you have issues if you start a mysql container via the Docker CLI? If that works, could you exec onto the container and share the exit codes and output of the following commands?

[code]

[2019-09-18 21:26] Reiser-meta commented on #40
@cristianrgreco Ty for reply, the container is up, and i can access it via CLI. Im figuring out how to run this commands on windows and then i'll paste here!

[2019-09-18 21:42] Reiser-meta commented on #40
if i run netstat -a which is equivalent to /proc/net/tcp, i can see the ports listening there.

[code]
all of them are mysql containers that was started by the code above. I think might be this ip 0.0.0.0, anyway, i´ve found this article, maybe it helps, https://github.com/docker/for-win/issues/1804

[2019-09-18 21:56] cristianrgreco commented on #40
I meant to run those commands in the container itself. So for example if you have a container running with ID 123, you can run `docker exec -it 123 sh`, which will give you a shell onto the container. The Postgres container I assume is running Linux, so you should be able to run those three commands.

[2019-09-18 22:16] Reiser-meta commented on #40
Oh , sorry for that...

[code]

[2019-09-19 13:10] cristianrgreco commented on #40
So we can see that these commands return a success exit code:

[code]

Which is what Testcontainers waits for before it determines that the internal port is bound, so I'm not sure why your logs show that Testcontainers is hanging after that.

I think the default timeout is 60s, at which point Testcontainers will throw an error: "Port :${port} not bound after ${timeout}ms". Do you see this error? A

[2019-09-20 12:36] Reiser-meta commented on #40
@cristianrgreco i can´t see this error, i´ve raised the timeout of mocha to 2 minutes in each step and still not seeing this error. I will try to debug Testcontainers code.

[2019-09-20 13:37] Reiser-meta commented on #40
@cristianrgreco if i comment this line: const commandResults = yield Promise.all(commands.map(command => this.dockerClient.exec(this.container, command)));
it starts to work. I can´t figure out why.

[2019-09-23 12:37] #36 closed

[2019-09-23 12:42] cristianrgreco commented on #40
@Reiser-meta Commenting that line would skip the check altogether, meaning that the container may be accessible to the app before it's ready to start accepting traffic.

If that line is the one that's hanging, that means that Testcontainers is waiting indefinitely for a result, which isn't ideal, perhaps we're missing a timeout, though you would still have an issue.

 There is a list of commands w

[2019-09-23 15:01] Reiser-meta commented on #40
@cristianrgreco , none of this commands are hanging, even if i send an empty array of command, the application doesnt respond. i though it was netcat, because when i ran this commands in the container, ii had to install netcat to execute. But even if i comment this line, it stop to respond.

[2019-09-23 20:49] cristianrgreco commented on #40
@Reiser-meta It doesn't make sense that commenting out ` await Promise.all(commands.map(command => this.dockerClient.exec(this.container, command)));` works, but setting commands to an empty array doesn't. If it's an empty array there should be no interaction with Docker, it'd essentially be `await Promise.all([])`.

What version of node are you using?

[2019-09-23 20:52] Reiser-meta commented on #40
@cristianrgreco yeah =/ 10.16.3

[2019-09-24 09:01] cristianrgreco commented on #40
I don't think this can be true, if when we set `commands = []` and add the line back, it hangs. Could you perhaps check again? In theory running `await Promise.all([])` is causing the process to hang.

[2019-09-30 17:22] mitchconquer opened #41 "Generic Test Container fails to start"
Hi! I love this library, thanks for making it available!

I'm having an issue on one of my two machines but I can't figure out the root cause. I have been using the library for several months now and it was working however a few days ago, my test container wouldn't start on one of my machines. On another machine it still works well. I tried comparing the Docker versions but there doesn't seem to b

[2019-09-30 17:40] cristianrgreco commented on #41
Hi @mitchconquer

Really glad you like the library! 🙂

The main point of interest to me is that it works on one machine but not the other.

Could you confirm that both machines are using the same node/docker versions? Are the machines running the same OS? Are they both running the same node project which has package-lock or yarn.lock files (have the transitive dependencies changed)?

If it was wor

[2019-09-30 17:53] mitchconquer commented on #41
Wow thanks for the super quick follow up. I don't have my other machine here but I'll see if I can reproduce the (non) issue on my husband's computer and get some answers to the above questions.

I also believe it is something to do with my setup but I don't see obvious differences. I'll follow up with more info.

[2019-09-30 19:12] mitchconquer commented on #41
Amazing you led me to the right path!

When I tried to run `docker run postgres:9.6` it failed with an error

[code]

Some Googling led me to run this blogpost about [what to do if docker runs out of space](https://rmoff.net/post/what-to-do-when-docker-runs-out-of-space/). I ran `docker system df` and sure enough, I was over my 60GB limit with over 55GB used for local volumes.

I ran `docker volum

[2019-09-30 19:12] #41 closed

[2019-09-30 19:56] cristianrgreco commented on #41
That's great news @mitchconquer!

I'll add something into Testcontainers to alert when Docker is nearly out of space to help diagnose issues like these in the future 🙂

[2019-09-30 19:58] cristianrgreco commented on #40
@Reiser-meta A similar issue came up and it turned out that it was the Docker system that was nearly out of space: https://github.com/testcontainers/testcontainers-node/issues/41.

Could you try a `docker system prune` and try again?

[2019-09-30 21:44] cristianrgreco commented on #40
If you update to `2.1.0` you'll see a WARN logged if disk space is < 2GB

[2019-11-30 22:08] glerendegui commented on #36
I'm having this trouble to connect between container.
It looks similar to this bug of the java testcontainer implementation.
https://github.com/testcontainers/testcontainers-java/issues/1719

[2019-12-03 21:23] jeantil opened #43 "Testcontainers should not run multiple disk checks at the same time"
Hi,

I recently opened apocas/docker-modem#112 because I kept getting seemingly innocuous stack traces in my tests logs:
[code]

@ehossack recently commented that he started observing these messages after upgrading from testcontainers 2.0.0 to testcontainers 2.1.0 and suggests it may be related to the changes in #42

It seems testcontainers is attempting to run multiple disk free checks. It's a bi

[2019-12-03 21:30] cristianrgreco commented on #43
Hi @jeantil

Thanks for raising this issue. The expected behaviour is that testcontainers should check the disk usage once, are you sure it is running it multiple times?

Could you share the test you are running which reproduces the issue?
Could you also please provide your node and docker version?

[2019-12-03 21:31] ehossack commented on #43
I've been thinking about this a bit more, and I don't think this should be the default behaviour of `testcontainers`.
With the eslint CLI, there's an option `--env-info` which prints information about the execution environment, which I think is the appropriate process to diagnose issues (e.g. #41, the impetus of the change in #42). Perhaps a different factory method on `DockerodeClientFactory` lik

[2019-12-03 21:36] cristianrgreco commented on #43
Thanks @ehossack, that's a very useful explanation. I see now that disk usage checks can conflict with other libraries, and running them across multiple jest tests can exacerbate the issue.

My first thought is to just rollback the change, and perhaps provide more info/FAQ in the readme to help users diagnose such issues. What do you think?

[2019-12-03 21:52] ehossack commented on #43
Tough question.
I think, yes a FAQ section would be the ideal place, since it should be the first place users check on encountering difficulty. but realistically would they 😄
The warning is a good idea, as many libraries do this, but if it has side effects like we're seeing, one has to consider the cost of the command.
I noticed no other side effects/performance hits of this, aside from a message

[2019-12-04 17:16] cristianrgreco commented on #43
My understanding is as follows:

1. If other libraries perform a disk usage operation, testcontainers fails.
2. If we perform a disk usage operation, other libraries are failing.

Catching the error would fix the first point, but we still have the second issue.

Is my understanding correct? If it is then I think the only solution is to get rid of it altogether.

[2019-12-05 14:22] rashid5 opened #44 "TypeError: Cannot read property 'stop' of undefined"
Hello,

First of all, thanks for the great library! 👍

I'm having a problem when running my test using jest - it happens only intermittently on my machine, but seems to happen all the time in CircleCI.

This is my test code:

[code]

This is the error I get from jest:
[code]

Thanks!

[2019-12-05 19:25] cristianrgreco commented on #44
Hi @rashid5

Your example shows that `pgContainer` is assigned the result of starting the container. Unless there's been some exception and the result is `undefined` it's not possible for `pgContainer.stop()` to throw.

Could you please share a complete/reproducible example?

[2019-12-06 12:46] rashid5 commented on #44
Hi @cristianrgreco

Thanks for your response!

Yeah, I know right - it doesn't make sense to me either.

It's hard to get something completely reproducible since the problem is intermittent, but I was able to reproduce it with the pared down but complete example below. I stopped and removed all my docker containers before running, and ran 6 times - 3 passed and 3 failed.

[code]
![Screenshot 2019-

[2019-12-06 19:12] cristianrgreco commented on #44
Hi @rashid5

My assumption is that the default jest timeout isn't enough to pull the postgres image and start it. The tests are more likely to fail on CI envs as it's unlikely they'll already have the postgres image.

I was also able to reproduce the issue with your code (thanks!) and can verify that it's working after increasing the timeout in the beforeAll:

[code]

[2019-12-07 15:41] jeantil commented on #43
@cristianrgreco

I have created a sample repo demonstrating the problem at https://github.com/jeantil/documentstore
if you run a single test all is fine
[code]
if you try to run all the tests one of them fails because the generic container startup fails with an exection due to the already running disk operation. note that the docker container itself does start and has to be cleaned up manually.

[

[2019-12-08 14:21] cristianrgreco commented on #43
Hi @jeantil

I have released 2.2.0 which reverts the disk check.
I've added a "Common Issues" to the top of the README instead.

Please let me know if this has resolved the issue for you.

[2019-12-08 14:53] jeantil commented on #43
Hi @cristianrgreco

Thanks for the new release, I have updated my sample repository and it does indeed fix the issues I reported above.

[2019-12-08 14:53] #43 closed

[2019-12-09 19:27] rashid5 commented on #44
Hi @cristianrgreco

Ahh interesting - it's cool that you were able to reproduce the error.

I've tried increasing the timeout all the way to 600000 but I still get the error in CI - I'm not sure but I don't think it can take 10 minutes to pull and start the image, even in CircleCI... On the other hand, it does seem to have made it disappear locally, which would be some evidence in favour of your a

[2019-12-09 22:30] cristianrgreco commented on #44
@rashid5 Could you run your tests with DEBUG=testcontainers set as an environment variable and share the output? I'm curious to see if/where testcontainers is getting stuck.

[2019-12-10 12:42] rashid5 commented on #44
@cristianrgreco Yep sure (included text for searchability and screenshot for colours):

[code]

![Screenshot 2019-12-10 at 12 41 32](https://user-images.githubusercontent.com/5686867/70530273-70aae800-1b4a-11ea-9b9c-04063653e3db.png)

[2019-12-10 13:24] cristianrgreco commented on #44
@rashid5 Looks like the postgres container isn't able to listen on port 5432. I think this is more an issue of your CI environment setup. Are you able to inspect the logs of the postgres container to see what it's doing? I've also found this documentation about using testcontainers in Circle CI: https://www.testcontainers.org/supported_docker_environment/continuous_integration/circle_ci/

[2019-12-10 15:21] rashid5 commented on #44
@cristianrgreco Ah interesting, thanks for sharing that link. Interestingly what they recommend is how I was running the tests in CircleCI originally, with the 600s timeout, and it was still failing - but it does seem likely that the problem is to do with the CI config in some way, I'm just not sure exactly how.

Feel free to close this issue - I might post an update if I do manage to figure out h

[2019-12-10 15:46] #44 closed

[2020-01-23 16:17] RedGlow commented on #40
Sorry if I piggyback on this issue, but I'm finding myself in the same situation trying to run postgresql and apparently I have enough disk space.

I'm on Windows 10, node 10.14.2, Docker desktop community 2.1.0.5 (40693).

I reduced the command list to just one command (nc), and logged what happens in the exec call.
My exec function now looks like this:

[code]

And the output is:
[code]

Which m

[2020-01-23 16:42] RedGlow commented on #40
If it can be useful, I turned on debug for docker-modem, getting:
[code]

[2020-01-23 16:46] RedGlow commented on #40
(could this be the underlying bug? https://github.com/apocas/docker-modem/issues/83 )

[2020-02-03 12:44] stalar opened #49 "Can't run in AWS CodeBuild after version 1.3.1"
When running versions higher than 1.3.1 in AWS CodeBuild I get an error saying "Error: Port :39195 not bound after 60000ms".

This is the full output running with "DEBUG=testcontainers":

    2020-02-03T12:35:46.072Z testcontainers INFO: Using Docker in Docker method
    2020-02-03T12:35:46.106Z testcontainers INFO: Pulling image: postgres:11.5
    2020-02-03T12:35:58.817Z testcontainers INFO: Cre

[2020-02-03 16:09] stalar commented on #49
Could this be caused by "nc" not being installed in the image?

[2020-02-06 18:25] cristianrgreco commented on #49
Hi @stalar, I assume you mean version 2.3.1? If so, could you please confirm that the issue does not exist in a previous version? For example 2.3.0 and 2.2.0? If it works on a previous version I assume the issue isn't a missing `nc` as that hasn't changed.

[2020-02-06 19:38] stalar commented on #49
Hi! I tested 1.3.1 (works), 2.0.0 (does not work), 2.3.1 (does not work). I think I tested 2.2.0 as well, but can't remember - no version above 1.3.1 worked. I can do additional testing if you know what I should look for.

[2020-02-07 19:21] cristianrgreco commented on #49
One relevant difference between 1.3.1 and 2.0.0 is https://github.com/testcontainers/testcontainers-node/commit/5655a1701fa43c50c406867f4c9c860db6374ac1#diff-ecd99b80d72b339d9b4c0e6cafbdb1b7R25, which added support for running testcontainers using docker in docker, which from your log (`INFO: Using Docker in Docker method` seems to be the case.

I am not sure why that method doesn't seem to work w

[2020-02-07 20:23] stalar commented on #49
I can set `DOCKER_HOST`, although I'm not sure what the value should be. I tried "tcp://docker:2375", but that didn't work (tried with 2.3.1):

    Error: getaddrinfo ENOTFOUND docker docker:2375
        at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:57:26)

The code looks like the value of DOCKER_HOST isn't used. It is checked, but then the if-statement after will override it unless I am

[2020-02-08 10:58] cristianrgreco commented on #49
I tried running the tests for this project via AWS code build and it would fail when trying to find the default gateway. Node was throwing an ENOENT error.

The default-gateway package we use spawns a child process which I think is running into this: https://forums.aws.amazon.com/thread.jspa?threadID=290406.

[2020-02-09 18:21] stalar commented on #49
I think that link refers to a problem with spawning processes on windows (at least they talk about launching cmd.exe). The problem with default-gateway can be that "ip" is not installed in the AWS image.

I did some more experiments, and CodeBuild exposes the docker daemon through `/var/run/docker.sock` which is the default method for dockerode to connect to it. CodeBuild also has a `/.dockerenv`

[2020-02-09 18:27] stalar commented on #49
I modified `DockerodeClientFactory` to only run the code in the last else-statement, and all tests in testcontainers pass on CodeBuild.

[2020-02-09 20:34] cristianrgreco commented on #49
Hi @stalar, thanks for investigating.

Do you think this commit will solve the issue? Essentially it's checking if an environment variable set by code build exists and if so follows the code branch that works: https://github.com/testcontainers/testcontainers-node/commit/4ca8e7430eb384dcd52973f488fdc44393d59f66

[2020-02-09 20:47] stalar commented on #49
Hi @cristianrgreco!

That commit should work. `CODEBUILD_CI` isn't document, though: https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-env-vars.html, so maybe picking `CODEBUILD_BUILD_NUMBER` or `CODEBUILD_BUILD_ARN` instead?

[2020-02-09 22:48] cristianrgreco commented on #49
@stalar PR: https://github.com/testcontainers/testcontainers-node/pull/50

[2020-02-10 09:19] cristianrgreco commented on #49
@stalar 2.3.2 has been released, could you upgrade and let me know how it goes?

[2020-02-10 10:02] stalar commented on #49
@cristianrgreco Works like a charm - all of my tests are passing now! 💯

[2020-02-10 10:02] #49 closed

[2020-02-10 10:55] cristianrgreco commented on #49
Awesome, thanks for raising the issue and helping fix it @stalar!

[2020-02-12 17:38] r3mi opened #51 "TestContainer fluent API returning 'this' type"
Hello,
thanks for this useful library.
I am trying to extend (subclass) `GenericContainer` but the current typing for the `withXxx` method gets in the way. To be able to extend the fluent API, these methods should return the actual type of Container class, not the base `TestContainer`.
In other words, simply return a [`this type`](https://www.typescriptlang.org/docs/handbook/advanced-types.html#po

[2020-02-13 17:43] cristianrgreco commented on #51
Hi @r3mi

Could you show me an example of where it's getting in the way so that I can better understand the problem? I'd guess that the base interface of `TestContainer` is fine as `GenericContainer` implements it anyways. So you'd end up with `CustomGenericContainer -> GenericContainer -> TestContainer`.

[2020-02-13 21:10] r3mi commented on #51
Hi @cristianrgreco
sorry my issue was a bit short. Here are simplified examples:
[code]
Another example:
[code]
Both examples would be fine if `withStartupTimeout` was declared to return '`this` type' instead of `TestContainer`.

[2020-02-14 18:29] cristianrgreco commented on #51
@r3mi Please review https://github.com/testcontainers/testcontainers-node/pull/52

[2020-02-16 21:23] cristianrgreco commented on #51
@r3mi Available in 2.4.0. Could you have a try and let me know?

[2020-02-17 21:23] r3mi commented on #51
works fine, thank you !

[2020-02-17 21:23] #51 closed

[2020-02-21 04:46] sgronblo opened #53 "Add support for checking container health status if using HEALTHCHECK"
Docker supports defining a separate HEALTHCHECK command that can be run internally to check whether the container is "healthy".

`testcontainers-node` mentions doing its own "health checks" at https://github.com/testcontainers/testcontainers-node/blob/878e2ef087939e4ff7d024eeb7de12024e6006c4/src/generic-container.ts#L180

However, this seems to refer only to checking that ports are listening. In s

[2020-02-21 17:00] cristianrgreco commented on #53
Hi @sgronblo

Please review https://github.com/testcontainers/testcontainers-node/pull/54

[2020-02-21 21:36] narraressan opened #55 "(HTTP code 400) bad parameter - Client sent an HTTP request to an HTTPS server."
I always run into this error when running `npm run test`

[code]

I totally have no idea why.

a few info that may help

`node: v10.16.1`
`Docker version 18.09.3, build 774a1f4eee` -- using docker toolbox instead of desktop

cheers!

[2020-02-21 22:20] cristianrgreco commented on #55
Hi @narraressan

Could you share some code which reproduces the issue? Are you able to start containers via the docker CLI? Also the stack trace is from docker modem, why is it an issue for testcontainers?

[2020-02-23 21:46] cristianrgreco commented on #53
Available in version 2.5.0.

[2020-02-23 21:46] #53 closed

[2020-02-25 14:53] #55 closed

[2020-03-31 13:02] Duchynko opened #60 "Option to remove a container"
Hello,

Would it make sense to implement a wrapper around `dockerode.remove()`?

I want to clean up containers after tests have finished running. Instead of installing dockerode separately in my application, this could be a nice enhancement to the library. I think it's a quite straightforward feature, but just to provide an example, I'd like to be able to do something like this.

[code]

I'll be h

[2020-03-31 13:05] cristianrgreco commented on #60
Hi @Duchynko, the containers should be being cleared up automatically when the container is stopped. Is this not what you're seeing?

[2020-03-31 15:12] Duchynko commented on #60
Hey @cristianrgreco, I figured out it was a problem with my test setup and jest instead.

[code]

Everything works as expected now and containers are removed after being stoped.

Thanks

[2020-03-31 15:12] #60 closed

[2020-04-06 13:28] ismailkuruca opened #61 "[question] Startup hangs in Jenkins"
I have been using testcontainers-java for the past couple of year and I love it. Hence I tried to give it a shot to node version (2.7.0) of it.

I have a fairly simple test setup:
[code]

which works perfectly on my local machine:

[code]

But when I try to run it on my company's Jenkins slave (which sadly I have very limited access to)
it fails to start
[code]

Jenkins pipeline that is responsibl

[2020-04-07 19:14] cristianrgreco commented on #61
Hi @ismailkuruca, is the Jenkins slave also running in a Docker container?

[2020-04-08 06:57] ismailkuruca commented on #61
Hey @cristianrgreco yes, it is running in a Docker container

[2020-04-08 08:20] ismailkuruca commented on #61
Hi again, I have managed to solve my issue by adding specialised healthchecks. Although I am not sure why it becomes a problem in CI environment and why local builds do not require such checks, would be great if you can give me some insights about that part.

For future reference, what I did was adding:
[code]

[2020-04-13 15:50] AntonovRoman opened #62 "[feature-request] Private Registry"
### Overview
It would be nice to have the ability to pull images from private registries the same way as `java` lib does.
https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java

- Auth from local `~/.docker/config.json`
- Support for `credHelpers` and `credsStore`

[2020-04-13 16:57] cristianrgreco commented on #62
Hi @AntonovRoman

What do you think about something like:

[code]

[2020-04-13 17:01] AntonovRoman commented on #62
@cristianrgreco That's what i was thinking for a short term solution. I can create a PR for that.

[2020-04-16 15:08] cristianrgreco commented on #62
@AntonovRoman Available in 2.8.0

[2020-04-16 15:10] AntonovRoman commented on #62
@cristianrgreco thank you !

[2020-04-16 17:44] #62 closed

[2020-04-17 15:12] jayarjo opened #64 "can it start existing container?"
What if container already exists, with a specific name and everything - will this start it or attempt something else?

[2020-04-17 15:17] cristianrgreco commented on #64
It will start a new container each time

[2020-04-17 15:54] jayarjo commented on #64
Just encountered the error below:

[code]

But won't be it a nice feature if you could re-use the container or there are no benefits?

[2020-04-17 16:13] cristianrgreco commented on #64
I'm not sure. I can't think of many cases where you'd need to connect to an already running container. Likely the container would have been created by testcontainers in the first place thus you wouldn't create it again

[2020-04-17 16:22] cristianrgreco commented on #64
I've spoken to the maintainers of testcontainers-java and they've advised against this functionality as it could result in a few complications. In hindsight I think we should not have added the option to name the container

[2020-04-17 16:22] #64 closed

[2020-04-18 06:52] jayarjo opened #65 "Throw an exception if GenericContainer.withCmd is unsuccesful?"
If GenericContainer is started with a command and command fails (exits with the error), shouldn't the whole thing throw and exception?

Doesn't seem to be a case.

[2020-04-18 08:54] cristianrgreco commented on #65
No. The exit code is returned to the user and the user can handle it as they wish.

[2020-04-18 08:54] #65 closed

[2020-04-18 09:08] jayarjo commented on #65
But amn't I the user? Suppose I'm running:

[code]

And `Cmd` failed. How do I know from inside node application if it doesn't throw?

[2020-04-18 09:09] jayarjo opened #66 "support for user-defined networks?"
Any way/plans to support user-defined networks? From what I see `testcontainers-java` has [such functionality](https://www.testcontainers.org/features/networking#advanced-networking).

[2020-04-18 10:04] jayarjo opened #67 "expose inspect result"
I see there's an inspect method buried in the depths of private variables. Why not expose it? Also would be great to have access to the full response rather than very [limited sub-set](https://github.com/testcontainers/testcontainers-node/blob/master/src/container.ts#L11).

I was looking for a way to retrieve an internal ip of the container on the default bridge network. Might be useful, especiall

[2020-04-18 11:20] cristianrgreco commented on #65
What if you run a command like `top` which doesn't return? Or something like starting a web server?

[2020-04-18 11:23] cristianrgreco commented on #67
It's not exposed because it shouldn't be part of the public API. If you want a way to query internals of a Docker container then something like `dockerode` sounds like a better fit.

[2020-04-18 11:24] cristianrgreco commented on #66
Yes, it's in the README: `.withNetworkMode("network_name")`

[2020-04-18 11:25] cristianrgreco commented on #66
Sorry, I closed the issue by mistake.

[2020-04-18 17:09] jayarjo commented on #65
I mean only if command has returned with like obvious error.

[2020-04-18 17:12] jayarjo commented on #67
Why not? Knowing internal IP of the container is quite crucial during testing. Isn't it? Potentially I think one could simply use `dockerode` for the whole thing. But that's not the point, right?

[2020-04-18 17:13] jayarjo commented on #66
But you can't create the network itself with it, or can you? I thought it was only for well the mode (e.g. bridge, etc)

[2020-04-18 17:13] cristianrgreco commented on #67
The IP of the container is exposed via `getContainerIpAddress()`, as shown in the first example in the README. Whether or not it's internal is irrelevant.

[2020-04-18 17:15] cristianrgreco commented on #65
Sounds like you want to use `.withHealthCheck()`, which allows you to define whether or not the container is healthy, which retries/intervals/timeouts, etc.

[2020-04-18 17:17] cristianrgreco commented on #66
That's right, currently you cannot create the network with testcontainers. Feel free to raise a PR, if not I'll look into this when I can.

[2020-04-18 17:18] jayarjo commented on #67
It is irrelevant only if you support user-defined networks. Otherwise if one requires to launch more than one container - they can't communicate. At least I don't know how.

[2020-04-18 17:20] jayarjo commented on #67
I mean if it was user-defined network, then they could communicate through container names (and that feature would become actually useful).

[2020-04-20 10:25] jayarjo commented on #65
@cristianrgreco I just realized that what you say means that the fact that one awaits for `start()` method to return before proceeding, doesn't necessarily mean that a command from `withCmd` will be finished by then... is it so @cristianrgreco ?

[2020-04-20 10:28] cristianrgreco commented on #65
Yes that's right, `.start()` by default waits for the container ports to be bound. If you want to change this to rely on the result of `.withCmd()`, then use `.withHealthCheck()` as mentioned above.

[2020-04-20 15:29] jayarjo opened #68 "expose remove method from StartedTestContainer?"
Would be great to have `remove` method exposed separately from `stop`. Some containers stop automatically (like wrappers for executables) and then there's no way to remove them.

[2020-04-21 16:27] jayarjo opened #69 "testcontainers-node creates lots of docker images and doesn't clean after itself"
testcontainers-node has flooded my docker with these images:

![Screen Shot 2020-04-21 at 8 24 00 PM](https://user-images.githubusercontent.com/150075/79888837-44fc1080-840e-11ea-84f3-8fb799d92b15.png)

I don't even remember running jest test or anything, so not sure how this might have happened.

[2020-04-22 15:45] jayarjo commented on #69
Ok, I get now how this happened - husky triggered tests on commit and that's how these were created. Still an issue, IMHO.

[2020-04-23 11:35] cristianrgreco commented on #69
@jayarjo Each test will remove the container it created, perhaps it doesn't if a test fails? Would you be able to reproduce the issue and provide some more info?

[2020-04-23 11:36] cristianrgreco commented on #68
I would rather the user doesn't have to manually remove volumes as it should be the default behaviour. If the volume is not removed for some containers, then that sounds like an issue that should be fixed.

[2020-04-23 16:03] simonstadlinger commented on #40
Any further insights on this issue, @RedGlow @cristianrgreco?
I have the same problems with following setup
- _Image_ : rabbitmq:3-management
- _Docker_ :  Engine: 19.03.08, API 1.40, containerd: 1.2.13, runc: 1.0.0
- _Node_: 12.14.1
- _Windows_: Windows 10 Enterprise 1809

In my test setup I run following command
` rabbitmqbroker = await new GenericContainer("rabbitmq", "3-management")

[2020-04-23 19:14] r3mi opened #71 "Docker Compose ?"
Hello,

is there any way to use with a set of services, using a docker-compose.yml ? or is there any plan to add this functionality ?

thanks for testcontainers-node !

[2020-04-28 09:50] polaroi8d commented on #40
I have got the same issue. I tried to make some integration tests with Testcontainers with GenericContainer and our private docker images. TestContainers output is the same as above:

[code]

[2020-04-29 10:17] polaroi8d opened #72 "Host expose ports is not supported"
I would like to expose for example MySQL container ports, how can I define the container host ports? There is a function like in the Java package called `.withFixedExposedPort(3306, 3306)` where I can define the host and the container ports?

[2020-04-29 11:52] cristianrgreco commented on #72
Hi @polaroi8d , I have been asked by the Java team not to provide this functionality, instead users should work with random ports. Refer to this blog post for more info: https://bsideup.github.io/posts/testcontainers_fixed_ports/

[2020-04-29 11:52] #72 closed

[2020-04-29 12:28] polaroi8d commented on #72
Hy @cristianrgreco, thanks for the post. I learned it now and try to do it with random ports. Thanks again!

[2020-04-29 15:17] kpeters-cbsi opened #73 "Connection times out after spawning Docker"
Using the following code I am unable to connect to the spawned Docker. Is there something I'm doing wrong?

[code]

[2020-04-29 16:27] cristianrgreco commented on #73
Hi @kpeters-cbsi

Could you please share any log output/errors with `DEBUG=testcontainers` enabled?

The host may not be `localhost`, I'd advise setting it to `container.getContainerIpAddress()`.

[2020-04-29 16:44] cristianrgreco commented on #40
@RedGlow That's very interesting, so actually the health check command is returning immediately, which is expected, but waiting for the stream is blocking. Perhaps if the command doesn't return any output with the command it just blocks? I'll investigate this further.

[2020-04-29 16:51] kpeters-cbsi commented on #73
See below. I've changed the host to `container.getContainerIpAddress()`; that did not fix matters.

[code]

[2020-04-29 17:02] cristianrgreco commented on #73
I've just noticed that the mysql container logs log the message "mysqld: ready for connections." twice. It immediately shuts down after the first log, I assume that's the issue.

[code]

[2020-04-29 17:05] kpeters-cbsi commented on #73
Is that something I'm doing on my end?

[2020-04-29 17:07] kpeters-cbsi commented on #73
Taking out `.withWaitStrategy(Wait.forLogMessage('mysqld: ready for connections.'))` seems to have corrected the issue. I have no idea why, though.

[2020-04-29 17:08] kpeters-cbsi commented on #73
Updated sketch:

[code]

[2020-04-29 17:11] cristianrgreco commented on #73
@kpeters-cbsi The WaitStrategy was set to pass when the container output `mysqld: ready for connections`, you can see from my previous reply that the mysql container will log that, and then immediately shut down and start up again, this is part of its initialisation process. Testcontainers would see the first message and think it's ready, but then the container would shut down.

By removing the `w

[2020-04-29 17:13] kpeters-cbsi commented on #73
Thanks for your help. Feel free to use this as an example if you think it would be helpful.

[2020-04-29 17:13] #73 closed

[2020-04-29 17:27] cristianrgreco commented on #40
@RedGlow @simonstadlinger @Reiser-meta Could you please try 2.8.1?

[2020-05-05 02:09] AG-Teammate commented on #40
This is a crazy one, quick fix:

1. Make sure Docker for Windows is listening on the 2375 port. In my case this was broken: https://github.com/docker/for-win/issues/3286
Run:
[code]
2. Start testcontainers-node in TCP mode:
[code]

Details:
I was able to trace it to https://github.com/apocas/docker-modem/blob/c0eee3e9bd717a127c75cd6f04129e87da41a8ec/lib/modem.js#L286 where http.ClientRequest never

[2020-05-05 09:39] cristianrgreco commented on #40
Hi @AG-Teammate

Thanks very much for investigating that and sharing your findings. I will look at adding it to the README and seeing if there's something testcontainers can do to make it work.

Out of curiosity, did upgrading testcontainers to 2.8.1 not have any effect on the issue?

[2020-05-05 13:58] AG-Teammate commented on #40
Hi @cristianrgreco

I haven't tried older versions, but I think not since it's deep in docker-modem and possibly in Docker for Windows named pipes implementation.

[2020-05-05 22:03] marcelo-turrin opened #74 "Use a Kafka container"
Hi great library thanks for it.
Does it support to run a kafka server?
I tried a basic generic container  but probably I don't understand how to do it correctly.

Thanks in advance for you answer.

[2020-05-08 09:33] polaroi8d commented on #74
Hello @marcelo-turrin you can use any type of container. There is a bunch of example in the readme. For example, I am using a latest MySQL image.

[code]

[2020-05-08 09:34] polaroi8d commented on #71
Hello @r3mi,

You could build an image from docker-compose and use this image to start a new GenericContainer.

[2020-05-08 09:40] polaroi8d opened #75 "Not supported ImagePullPolicy()"
It would be nice if the node version of test containers will be supporting the `.withImagePullPolicy()` feature.

[2020-05-09 06:26] r3mi commented on #71
Hello @polaroi8d ,
Thanks.
I am not sure how that would work. As I described, the `docker-compose.yml` contains a set of services (e.g. a backend and its database dependency). It is encapsulated as a whole (from a network or volume point of view). Do you foresee a way to make it work with a GenericContainer ?

[2020-05-09 08:39] jayarjo commented on #71
TestContainers Java seems to have that: https://www.testcontainers.org/modules/docker_compose/. So this one should have as well at some point future. From what I know there is no support for that at the moment. And author seems to be busy doing other things. Consider a PR maybe.

[2020-05-09 08:42] jayarjo commented on #74
@marcelo-turrin check if this helps: https://www.testcontainers.org/modules/kafka/

[2020-05-09 08:45] jayarjo commented on #75
I think there should a way to instantiate a container with raw full config in first place. Simplification is good for many cases, but then there are some  cases that fall out of such and there's no go for that in TestContainers @cristianrgreco

[2020-05-19 11:30] Foo42 opened #77 "Cannot consume within typescript project"
After installing `testcontainers` my typescript project no longer compiles. This is because `testcontainers`s types depend on `@types/dockerode`, however these are only a dev dependency of `testcontainers` and are thus not installed for consumers.

The fix is to convert `@types/dockerode` into a regular dependency.

See [this thread](https://github.com/Microsoft/types-publisher/issues/81) for furt

[2020-05-19 15:43] cristianrgreco commented on #77
Hi @Foo42, thanks for raising this. I didn't think testcontainers exposed any Dockerode internals, could you please share an example showing the problem?

[2020-05-20 16:34] rhyek opened #79 "How can I view container logs?"
Hi. I'm running two test containers during my integration tests using Jest. One is based on postgres and the other is for a migrations app based on a local Dockerfile. They both seem to be running correctly, but I would like to see their output (STDOUT) and it is not clear to me from the documentation how I can do this.

`DEBUG=testcontainers` only outputs docker image build and container creation

[2020-05-20 17:20] cristianrgreco commented on #79
Hi @rhyek, this is currently not supported, though should be easy to implement as we already check container logs for startup

[2020-05-20 17:23] cristianrgreco commented on #74
HI @marcelo-turrin , were you able to get the help you needed?

[2020-05-20 17:24] #68 closed

[2020-05-20 17:26] rhyek commented on #79
Great. Yeah, turns out my containers aren't actually running correctly and it's not immediately clear to me how to debug them right now aside from starting them outside my test suite.

[2020-05-20 17:28] cristianrgreco commented on #79
You could not run the code that shuts down the container/breakpoint before it and run docker logs via the CLI?

[2020-05-20 17:31] rhyek commented on #79
Perfect. I'll try that, thanks. It would still be beneficial to have this functionality within the tool as the logs could help out during CI failure debugging.

[2020-05-21 08:24] Foo42 commented on #77
I've created a small project to demonstrate the issue https://github.com/Foo42/testcontainers-issue77-demo

Compiling produces the following error:
[code]
The issue appears to be caused by the fact the `docker-client.d.ts` file exports a class `DockerodeClient` whose constructor had a parameter of type `Dockerode`. Evaluating this file's types therefore requires the type of `Dockerode` be availabl

[2020-05-22 15:39] cristianrgreco commented on #77
Hi @Foo42, thank you that's very helpful. I've merged your PR and deployed it as version 2.8.2, please give it a go and if you're happy then please close the issue 🙂

[2020-05-23 13:30] cristianrgreco commented on #69
Fixed in 2.9.0.

[2020-05-23 13:30] #69 closed

[2020-05-23 13:31] cristianrgreco commented on #79
@rhyek As of 2.9.0 you can now stream container logs:

[code]

[2020-05-23 13:31] #79 closed

[2020-05-23 13:33] cristianrgreco commented on #75
Hi @polaroi8d, could you elaborate a bit more on what you mean by image pull policy? I wasn't aware Docker had such a feature

[2020-05-25 08:20] jayarjo opened #82 "complex shell commands fail with exec()"
How does one exec complex commands on a container? Something like `seq 5 | xargs -I INDEX echo "hi"` for example? I tried all kind of things, but it fails, obviously command gets mingled on its way to the container. Escaping quotes or pipe characters doesn't seem to have any effect. Is this even possible?

[2020-05-25 08:21] cristianrgreco commented on #82
Have you tried `.withCmd(['sh', '-c', 'seq 5 | xargs -I INDEX echo "hi"'])` ?

[2020-05-25 08:59] jayarjo commented on #82
Magic! Thanks.

[2020-05-25 08:59] #82 closed

[2020-05-30 18:37] #77 closed

[2020-06-01 07:53] Foo42 commented on #77
Sorry took a while getting round to checking, but it seems fixed now (tested with 2.9.0). Thanks

[2020-06-03 15:09] JeremyLoy opened #83 "Ability to restart a container"
Adding a `.restart()` method on the StartedTestContainer interface would be really useful, and possibly more efficient/faster than having to `.stop()` and `.start()` in between tests.

e.g. Writing integration tests for a MySQL database where each test invocation is expected to have an empty database.

[2020-06-03 15:48] katerina-semikina commented on #66
Hi everyone. Looking forward for this useful change. How the things are going?

[2020-06-03 16:17] cristianrgreco commented on #83
Hi @JeremyLoy, thanks for raising the issue. Out of curiosity, would it not be significantly faster to clear the database on an already running container, instead of stopping and starting a new one?

[2020-06-03 16:37] JeremyLoy commented on #83
Maybe/maybe not. It depends on the capabilities of whatever process is being containerized. I only used a database as an example, but users could do anything tbh

[2020-06-04 03:46] imdark opened #84 "Ability to run withPrivilegedMode"
this exists in the java implementation

[2020-06-04 09:08] cristianrgreco commented on #84
Hi @imdark, thanks for raising the issue!
What's the use case you have for running in privileged mode?

[2020-06-04 13:42] jayarjo commented on #66
Вау, девчонка интересуется возможностью создания сетки между докер контейнерами! Клааасс! Я тебе обещаю, если ответишь на этот комментарий я добавлю детали о моем ПиаРе в ридми ) До сих пор никак руки не доходили просто...

[2020-06-04 17:20] imdark commented on #84
My production system uses privileged for multiple reasons, and i am writing integration code for it

[2020-06-05 09:07] katerina-semikina commented on #66
Это было бы здорово!

[2020-06-05 10:02] jayarjo commented on #66
Сделано 🙌
😉

[2020-06-06 06:21] kezhenxu94 commented on #71
Really in need of this feature, is anyone working on this? If not, I can help on this maybe

[2020-06-06 06:48] jayarjo commented on #71
I will be needing this feature in my app, so I might take a look into it. @cristianrgreco what would be your ideas/suggestions about it?

[2020-06-06 09:23] cristianrgreco commented on #66
Hi @jayarjo, I've pushed a couple of minor changes, do you want to take a look? If OK I'll release it

[2020-06-06 09:32] cristianrgreco commented on #71
I haven't really thought about this yet, was kind of hoping it wouldn't be required :smile:

@kezhenxu94, @jayarjo recently committed creating a network, which would allow communication between containers, would that help you for now?

@jayarjo I guess the benefit of implementing docker-compose would be to export the GenericContainer definitions to a docker-compose.yml? What other benefits are the

[2020-06-06 10:07] kezhenxu94 commented on #71
That helps for sure, but as I'm building test framework for many developers, it would be more helpful that it supports docker-compose:

1. Less codes: I used health check and service dependencies to control the start up order in `docker-compose.yml`, no need to orchestrate the services in codes;
1. Reusable: I have some common service definitions that are to be inherited in specific test cases, wi

[2020-06-06 15:07] jayarjo commented on #66
@cristianrgreco well... I'd say not ok, since I took those interfaces and method names from Testcontainers Java, shouldn't we follow them in that?

Also the idea behind `Network.newNetwork()` was that network creation is asynchronous,  so `new Network()` doesn't properly represent the process. Also I didn't want Network instance to be accessible/available before `Network.newNetwork()` resolves. Th

[2020-06-06 16:02] jayarjo commented on #71
I personally think that it is another must have kind of thing. @kezhenxu94 if you have time to work on it, please do. I can also help.

[2020-06-06 16:24] cristianrgreco commented on #66
Seems like a big issue considering I changed a static creator method to a constructor, I even said on the PR that I would make these changes once merged and you agreed :slightly_smiling_face:

Yes but within reason, we should leverage the benefits of JS.

This is a reason why I got rid of the static creator function, because there's no compiler stopping someone from invoking `new Network()` anyway

[2020-06-06 17:00] jayarjo commented on #66
First of all you are maintainer of this package, so you decide :)

But here are my points:

I thought you were talking about examples in README, 'cause you brought this topic previously I remember and I had very similar reaction.

Since big part of documentation is on Testcontainers Java side, I'd expect us following them as close as possible.

Network is not exported, only it's interface is, so t

[2020-06-07 09:56] cristianrgreco commented on #66
Available in 2.10.0

[2020-06-07 09:56] #66 closed

[2020-06-07 10:06] cristianrgreco commented on #84
Hi @imdark, do you want to review the PR or are you happy for me to release it?

[2020-06-07 10:18] cristianrgreco commented on #67
Closing this as this feature is now supported via networks (thanks again @jayarjo)

[code]

[2020-06-07 10:18] #67 closed

[2020-06-08 19:17] cristianrgreco commented on #84
Available in 2.11.0.

[2020-06-08 19:17] #84 closed

[2020-06-09 09:17] katerina-semikina commented on #74
@cristianrgreco Hi! Seems like currently there is no easy way to create a Kafka container.
First of all, zookeeper and Kafka need to be in a network to communicate (luckily, custom network creation was released recently).

Second, we need to provide environment variable with advertised listeners to Kafka, which contains port accessible from host (mapped port). In java implementation for Kafka cont

[2020-06-09 10:53] jayarjo commented on #74
@katerina-semikina I can tell you that there's none, I specifically had discussion with maintainers of Java version about letting me implement ability to specify a port to map to directly (since they have that method) and they quite aggressively told me that I shouldn't, they even have a big blog article about why that is a very bad idea and they like to link it to everybody 😄

@cristianrgreco als

[2020-06-09 10:54] jayarjo commented on #74
@katerina-semikina у них так кстати какой-то русский там верховодит, спроси лично его, вдруг девичья просьба растопит его очерствевшее сердце 😄

[2020-06-09 13:58] katerina-semikina commented on #74
Yeah, I've read those article and mostly I agree, except such cases as Kafka containers. If testcontainers stick to random ports approach, it's okay, as long as it can be implemented in a way similar to java Kafka container, which I may try. Anyway, I think it is an important feature.

[2020-06-10 07:50] jayarjo commented on #74
I suspect that the only reason they can support that way is because they have a method to map the port to predefined value in first place.

Happy to be corrected, if that's not the case.

[2020-06-10 08:00] katerina-semikina commented on #74
There is a method, where environment variables are exported after ports are bound, but before container starts. That's why it is possible.

[2020-06-10 08:57] jayarjo commented on #74
Exported to where? Don't you need the final value of the port in the host system? Can you link that method?

[2020-06-18 15:19] nicolayr opened #87 "Container startup errors are muted"
I recently ran into an issue where a container failed to start, and the problem was tricky to track down because `testcontainers` does not expose the error. Even when running with `DEBUG=testcontainers`, the output does not include errors at startup. In the end I had to manually start the container with `docker run <image>` in order to find the error.

We're starting the container with the followi

[2020-06-19 03:50] shellscape opened #88 "StartedGenericContainer is not exported"
When using TypeScript with this project, we need `StartedGenericContainer` to be exported in order to define a container in a top level scope properly, and use the container without assigning it to `any`.

For example:

[code]

This is currently not possible, and `let container: any;` must be used.

[2020-06-19 08:22] cristianrgreco commented on #88
Hi @shellscape, any reason you can't use the exported interface? `StartedTestContainer`

[2020-06-19 12:01] shellscape commented on #88
Because it's not actually exported

[2020-06-19 12:22] cristianrgreco commented on #88
`StartedTestContainer`, the interface.
Not `StartedGenericContainer`, the implementation.
It's exported: https://github.com/testcontainers/testcontainers-node/blob/master/src/index.ts#L2

[2020-06-19 12:45] shellscape commented on #88
Hmmm I wasn't seeing that locally. Please allow me a few hours and I'll give that a second look.

[2020-06-19 13:17] shellscape commented on #88
Had to clear some cache and I was able to resolve the `StartedTestContainer` export. Thanks for the look.

[2020-06-19 13:17] #88 closed

[2020-06-24 00:38] t0v opened #89 "Image creation fails with no meaningful errors"
i'm trying to build an image with
[code]
and that just fails after ~40 seconds w/o giving any reasonable error message:
[code]

i can see that the building starts, but cannot get logs from the 'build' container
`Error response from daemon: configured logging driver does not support reading`

running node v14.3.0 on macOS 10.13.6 and docker desktop 2.1.0.4 (39773) engine 19.03.4

building the conta

[2020-06-24 16:51] t0v commented on #89
i did some more investigation and found the root issue: build ignores `.dockerignore`.

[2020-06-27 16:32] cristianrgreco commented on #89
Fixed in 2.13.0, container output is now TRACE logged with the container ID:

![Screenshot from 2020-06-27 17-31-50](https://user-images.githubusercontent.com/10348798/85927139-19792480-b89c-11ea-8dc3-894666a3a3f6.png)

[2020-06-27 16:32] #89 closed

[2020-06-27 16:33] cristianrgreco commented on #89
I will raise a separate issue to address .dockerignore being ignored

[2020-06-27 16:33] cristianrgreco opened #91 ".dockerignore is ignored"

[2020-06-27 16:34] cristianrgreco commented on #87
Duplicate of https://github.com/testcontainers/testcontainers-node/issues/89

[2020-06-27 16:34] #87 closed

[2020-06-27 16:34] #83 closed

[2020-06-27 16:35] cristianrgreco commented on #74
Hi @katerina-semikina, were you able to get this working?

[2020-06-27 17:39] katerina-semikina commented on #74
Hi @cristianrgreco, yes, thank you for releasing. I was able to successfully create Kafka test container.

[2020-06-27 21:13] cristianrgreco commented on #74
@katerina-semikina That's great! I don't suppose you could share some code to help @marcelo-turrin? :slightly_smiling_face:

[2020-06-29 14:33] nicolayr commented on #87
Thanks for looking at this @cristianrgreco! I now get useful logs when running with `DEBUG=testcontainers`.

It still doesn't appear to be possible to get the container logs from the code, though. Or am I missing something?

[2020-06-29 17:42] cristianrgreco commented on #87
@nicolayr Yes that's right, at the moment you can only get logs from a started container, so if the container fails to start you won't be able to get the logs from the code, but now you can see them via `DEBUG=testcontainers`.

Once the container has started successfully you can do:

[code]

Is there a reason you'd want to programmatically get the logs for a container that's failed to start?

[2020-06-29 21:49] cristianrgreco commented on #91
Available in 2.14.0

[2020-06-29 21:49] #91 closed

[2020-07-01 13:22] nicolayr commented on #87
Yes, the reason is that we're using testcontainers to run automatic tests in travis. If the container fails on creation we don't get any useful information in the logs, which makes it difficult to determine what went wrong.

However I was able to work around this by setting `DEBUG` programmatically, with the gotcha that it has to be set before the testcontainers module is imported/required, eg:

[

[2020-07-01 13:32] cristianrgreco commented on #87
@nicolayr I see. Is there any reason you don't add the environment variable to your `.travis.yml`?
[code]
https://docs.travis-ci.com/user/environment-variables/

[2020-07-01 13:38] nicolayr commented on #87
That would probably do the job as well. In our case we have a fairly complex build using Gradle, so adjusting things in travis would just add one more thing you have to check to understand how the build works.

In any case I just mentioned it in case it might help someone else in the future :)

[2020-07-04 09:15] polaroi8d commented on #75
Sorry @cristianrgreco for a late answer. I would like to use as in the Java lib has this feature. Is it implemented or why are you closed the "feature request".

[2020-07-04 13:42] cristianrgreco commented on #75
Hi @polaroi8d, no problem. I've raised a PR, if you're able to review that it provides what you need then please do, if not I'll merge it in a couple of days.

[2020-07-05 17:10] cristianrgreco commented on #71
FYI I have started work on this, see the `docker-compose` branch. I will share API info as soon as I have it

[2020-07-05 19:45] cristianrgreco commented on #71
I've raised a PR in case anyone wants to have a look https://github.com/testcontainers/testcontainers-node/pull/94. Here's an excerpt from the README:

## Docker Compose

Testcontainers supports docker-compose. For example for the following `docker-compose.yml`:

[code]

You can start and stop the environment, and interact with its containers.

[code]

Create the containers with their own wait str

[2020-07-06 10:58] polaroi8d commented on #75
@cristianrgreco  Thank you, it looks good to me.

Releated PR opened by Cristian #93

[2020-07-06 10:58] #75 closed

[2020-07-06 11:02] cristianrgreco commented on #75
Thanks @polaroi8d, it's available now in 2.15.0

[2020-07-06 15:44] Johnny850807 opened #95 "Select which Dockerfile to build from (i.e. support -f flag)"
In my application, I have to separate different test environments into different Dockerfile,
and name each of them in different Dockerfile names. (e.g. Dockerfile-a, Dockerfile-b, ...)

Can I achieve this?
Since I didn't find any **fileName** support from the `GenericContainer.fromDockerfile` api.

Thanks a lot!

[2020-07-06 16:30] cristianrgreco commented on #95
Hi @Johnny850807, I've created a PR https://github.com/testcontainers/testcontainers-node/pull/96.
I'll merge it unless you have any concerns?

[2020-07-06 16:45] Johnny850807 commented on #95
@cristianrgreco It looks great, thank you!

[2020-07-06 16:54] cristianrgreco commented on #95
Great! Thanks for raising this, it's available in 2.16.0

[2020-07-06 16:54] #95 closed

[2020-07-06 20:50] cristianrgreco commented on #71
Thanks for raising this, it has been released in 2.17.0. Please raise any issues/feature requests as new issues :slightly_smiling_face:

[2020-07-06 20:50] #71 closed

[2020-07-07 09:40] cristianrgreco commented on #74
@katerina-semikina Just following up in case you missed my last message. If not I'll look at doing this over the next few days

[2020-07-07 09:42] cristianrgreco commented on #61
@ismailkuruca Since this issue was raised we added container startup logging, so we'd be able to see what's happening inside the container. I don't suppose you could re-run your test on the Jenkins slave with DEBUG=testcontainers and share the output?

[2020-07-07 10:19] ismailkuruca commented on #61
Hey @cristianrgreco , just re-tried with 2.17,
It still fails when I dont give it a proper Wait strategy (unlike a local machine where this is not needed)

Here is the code I am using:
[code]

[code]

If I add one of the proper Wait strategies like
[code]

it works perfectly.

[2020-07-07 12:34] cristianrgreco commented on #61
Thanks @ismailkuruca, could you try the latest 2.18.3? I've upgraded dockerode/docker-modem to their latest versions

[2020-07-07 12:38] cristianrgreco commented on #40
Hi, could you please try 2.18.3? I've updated dockerode and docker-modem, with a major version update to docker-modem

[2020-07-07 14:29] ismailkuruca commented on #61
Hi again @cristianrgreco
Here is the log with 2.18.3

AFAIK the slaves are running inside AmazonLinux2 AMIs.

[code]

[2020-07-07 16:11] cristianrgreco commented on #61
What's the version of Docker running on the slave and what's the contents of `/.dockerenv`?

[2020-07-07 18:08] cristianrgreco commented on #61
Could you please share the output of `docker network inspect bridge` and confirm that the file `/.dockerenv` exists?

[2020-07-07 19:57] cristianrgreco commented on #61
I've merged a change to master which re-works how the host is resolved when running inside a container. Are you able to add a dependency to this GitHub repository in your `package.json` to test it? You should be able to do:
[code]

[2020-07-09 09:56] katerina-semikina commented on #74
@cristianrgreco sorry for delay. Yes, I'll prepare an example soon.

[2020-07-09 13:19] cristianrgreco commented on #61
@ismailkuruca Were you able to give it a try? I'm optimistic the version on master will fix your problem

[2020-07-10 15:01] katerina-semikina commented on #74
@cristianrgreco @marcelo-turrin I provided an example with possible way to create Kafka container here: https://github.com/katerina-semikina/node-examples/blob/master/src/__tests__/KafkaTestContainer.ts

[2020-07-10 16:42] cristianrgreco commented on #74
Thanks @katerina-semikina

[2020-07-17 12:41] rhyek opened #100 "Unable to resolve container name"
I'm trying out the docker compose functionality and for this `docker-compose.yaml`:
[code]
and this code:
[code]
I am getting this error:
[code]
This is using version `2.18.3`.

This also happens if I remove the `container_name` in the compose yaml.

[2020-07-17 13:09] cristianrgreco commented on #100
@rhyek I'll be able to take a proper look later, but I think a quick fix might be to change the `_` to something else in the container_name in the `docker-compose.yaml`

[2020-07-17 13:19] rhyek commented on #100
@cristianrgreco , thanks. as mentioned, even without `container_name` specified, i still get the same error (albeit, the error message mentions a different container name). one thing that looks odd is it always includes a leading slash. "/e2e_webapi_db"

[2020-07-17 14:13] cristianrgreco commented on #100
@rhyek Could you try 2.19.0? The release included a couple other things so hopefully I haven't created more work for myself :smile:

[2020-07-17 14:22] rhyek commented on #100
@cristianrgreco it seems `dist/index.d.ts` no longer exports `DockerComposeEnvironment`:

[code]

[2020-07-17 14:24] rhyek commented on #100
nvm, uninstalled and reinstalled and i can see it again. odd.

[2020-07-17 14:29] rhyek commented on #100
@cristianrgreco running the same test as mentioned above and everything works perfectly! :-) go ahead and close this is you like. thank you for your quick response.

[2020-07-17 14:33] cristianrgreco commented on #100
Thanks @rhyek :slightly_smiling_face:

[2020-07-17 14:33] #100 closed

[2020-07-17 16:15] cristianrgreco commented on #61
This has now been released in version 2.19.0. Let me know if it fixes it for you.

[2020-07-18 14:48] cristianrgreco commented on #74
@katerina-semikina Do you have any feedback for this PR? https://github.com/testcontainers/testcontainers-node/pull/102
It's mostly based off your example and I've added support to use a built-in ZK and removed the need for clients to provide ports.

[2020-07-20 14:57] grillorafael opened #104 "Is there any way to specify a port mapping ?"
I wasn't able to find in the code or docs but I figured it would be best to ask here. Is there any way to specify which host post my container port should be mapped to in case I need a strict port mapping ?

[2020-07-20 16:11] cristianrgreco commented on #104
Hi @grillorafael, it's not possible to specify the host mapping, this is to avoid port collisions

[2020-07-20 16:30] grillorafael commented on #104
Sounds good! I managed to find a decent way around it and use the assigned ports that we get so I'm good with that! thanks!

[2020-07-20 16:30] #104 closed

[2020-07-21 09:37] katerina-semikina commented on #74
For me it looks really good 👍

[2020-07-21 15:45] cristianrgreco commented on #74
This is now available in 3.0.0. Documentation on how to use the new Kafka module is here: https://github.com/testcontainers/testcontainers-node/tree/master/src/modules/kafka

Big thanks again to @katerina-semikina

If there are any problems please raise a new issue :slightly_smiling_face:

[2020-07-21 15:45] #74 closed

[2020-07-22 01:57] rhyek opened #105 "pass extra options to docker-compose up"
I'm running into the issue described here docker/compose#1487. I need to rebuild an image for a local dockerfile and would like the option pass the `--build` command line argument to docker-compose somehow.

Maybe something like passing a subset of the official [up](https://docs.docker.com/compose/reference/up/) options to the `up` method.

For example:
[code]

I'm currently having to manually rem

[2020-07-22 09:31] cristianrgreco commented on #105
Hi @rhyek, do you see any issues with https://github.com/testcontainers/testcontainers-node/pull/106 ?

[2020-07-22 13:05] rhyek commented on #105
@cristianrgreco that seems like it would do the trick.

[2020-07-22 15:10] cristianrgreco commented on #105
@rhyek Thanks, this is available in 3.1.0, please let me know if it works for you and if it does please close this issue :slightly_smiling_face:

[2020-07-22 15:48] rhyek commented on #105
@cristianrgreco it works perfectly. Thank you!

[2020-07-22 15:48] #105 closed

[2020-07-22 16:41] rhyek opened #107 "wait strategy conflict when two mysql databases are up (Port 33060 not bound after 60000ms)"
I'm working on a monorepo using `nx`. I have two `docker-compose.yaml`s: one for my local dev environment which I have permanently up using `docker-compose up -d` and then one dedicated to e2e tests using `testcontainers`.

dev:
[code]
e2e
[code]

The e2e environment is activated in my jest test file like this:
[code]

When I have my dev docker compose up I can't run my e2e tests successfully. The

[2020-07-22 19:13] rhyek commented on #107
So that PR fixes my issue, but as an aside, @cristianrgreco is the wait strategy I've supplied there necessary? Not sure how the implicit wait strategy works for a mysql-based container.

[2020-07-22 19:53] cristianrgreco commented on #107
@rhyek the wait strategy is only necessary if the service - mysql in this case - is not ready to accept connections once its port is bound. By default testcontainers will wait for any port the service exposes to be bound. Does it not work if you remove the wait strategy from your example?

[2020-07-22 19:55] rhyek commented on #107
@cristianrgreco thanks. it does work without it, but wasn't sure if it could cause any issues.

[2020-07-22 20:01] cristianrgreco commented on #107
GH auto-closes issues now when the PR is merged 🙂 Will release this shortly..

[2020-07-22 20:22] cristianrgreco commented on #107
Available in 3.2.0, pls close the issue if all is working 🙂

[2020-07-22 20:58] rhyek commented on #107
@cristianrgreco everything works perfect now. Thanks! :-)

[2020-07-22 20:58] #107 closed

[2020-07-22 21:05] rhyek commented on #107
@cristianrgreco, fyi and unrelated to this issue, I just tested without the log message wait strategy and I now get the same error `Port 33060 not bound after 60000ms`, only this time it's pointing to the correct container. I assume it's not an issue with testcontainers, but just a detail with the mysql image. What do you think?

[2020-07-23 10:35] cristianrgreco commented on #107
@rhyek I just tested this locally. If no wait strategy is provided, testcontainers defaults to waiting for the container's host ports. MySQL exposes two, 3306 and 33060. It seems port 33060 never gets bound, so the default wait strategy will timeout. I tried specifying the log message wait strategy and it works as expected:

[code]

[2020-07-23 15:33] rhyek commented on #107
@cristianrgreco yes, that code works fine for my purposes.

[2020-07-28 08:58] #61 closed

[2020-07-28 08:59] #40 closed

[2020-08-05 06:16] flolu opened #109 "DockerComposeEnvironment Does not start (Error: Port 2888 not bound after 60000ms)"
[code]

[code]

The `docker-compose.yaml` file works fine when running it via `docker-compose up`.
But the the code snippet above throws an error:

[code]

[2020-08-15 17:42] cristianrgreco commented on #109
It seems the zookeeper container exposes two ports, 2181 and 2888. By default testcontainers will wait for each port to be bound, but it seems 2888 is never bound. Changing the wait strategy for the zookeeper from a host-port wait strategy to a log wait strategy solves this, for example:

[code]

[2020-08-15 17:43] #109 closed

[2020-08-16 12:02] oleksandrz-tt commented on #61
You may need to run your jenkins with --net=host option if it's running in docker

[2020-08-31 22:08] flolu opened #113 "DockerComposeEnvironment Not Working in Bazel Test (Container not starting)"
I have a simple docker-compose.json file
[code]

and a small Typescript test:
[code]

Running the test directly with Jasmine works fine.
But running the test with Bazel doesn't work.

The http request fails with `Error: connect ECONNREFUSED 127.0.0.1:3000�[0m`
So it seems as if the container cannot start or is not starting properly.

**Minimal reproduction: https://github.com/flolu/bazel-testconta

[2020-09-01 10:20] cristianrgreco commented on #113
Hi @flolu, I don't know anything about Blaze.. why could it be that the test fails when using their runner?

[2020-09-01 10:43] flolu commented on #113
@cristianrgreco Honestly, I have no idea.
Maybe @alexeagle or @gregmagolan has any ideas about this one?

[2020-09-03 15:28] tomqwpl commented on #40
I am also encountering this.
My test code is basically the test from the README:
`const { GenericContainer } = require("testcontainers");

(async () => {
  const container = await new GenericContainer("redis")
    .withExposedPorts(6379)
    .start();

  await container.stop();
})();`

The container has started. Command output from various things run within the container:
`# cat /proc/net/tcp{,6}

[2020-09-03 15:33] cristianrgreco commented on #40
Hi @tomqwpl, does https://github.com/testcontainers/testcontainers-node/issues/40#issuecomment-623798900 help?

[2020-09-03 15:39] tomqwpl commented on #40
Java testcontainers have already potentially dealt with this issue, see:
See https://github.com/testcontainers/testcontainers-java/pull/2195

Using tcp{,6} doesn't always work. On the face of it, I can't see how my test code would work for anyone, since the failure is a function of the redis image it's running.

[2020-09-03 15:44] cristianrgreco commented on #40
@tomqwpl It works for me (and many others I guess) 🙂 Here's the output when I run your test code:

[code]

Thanks for sharing that issue, I've just tried it locally and all the tests pass - are you able to try changing the testcontainers-node code locally and see if it fixes your issue? If so it'd be great to merge it in and get this resolved

[2020-09-03 15:58] tomqwpl commented on #40
From the looks of it, the line
`const commandResults = yield Promise.all(commands.map((command) => this.dockerClient.exec(this.container, command)));`
never returns. So sounds like the same situation as the comment above.

I'm not going to use TCP mode, since that's insecure. I can make it work with a log message wait strategy for what I want to do.

[2020-09-03 15:59] cristianrgreco commented on #40
@tomqwpl Were you able to try the fix in testcontainers/testcontainers-java#2195?

[2020-09-03 16:10] tomqwpl commented on #40
@cristianrgreco, yes, that's what I was doing. But changing the commands it's running won't make any difference since fundamentally the commands never return. So the problem isn't (right now) the commands that are run, but the fact that running the commands hangs

[2020-09-06 18:21] cristianrgreco commented on #113
@flolu I'm unable to run the repro, I get:

[code]

[2020-09-06 18:26] flolu commented on #113
@cristianrgreco Interesting... it works on my side. It seems to have trouble pulling the `node:lts-alpine` image. Do you have Docker installed on your system?

[2020-09-08 11:24] vorant94 opened #115 "Can't connect my NestJS e2e tests to a postgres container"
Hi there, I am trying to move from testing my app with real testing database to use this test container approach. And I stuck on connecting to a container after it is up and running, can you help me? Here is my spec file:
[code]
After I turn on testcontainer debug mode for some reason I see that before I get "database system is ready to accept connections" and "Container is ready" I get "database

[2020-09-08 13:32] cristianrgreco commented on #115
Hi @vorant94, could you share the code that is using the container? Without it I can't say for sure but the error `Error: connect ECONNREFUSED 127.0.0.1:5432` suggests you are trying port `5432` (the default for postgres), but testcontainers will bind the container to a random port. Instead of `5432` you should get the port like `container.getMappedPort(5432)`

[2020-09-08 14:23] vorant94 commented on #115
@cristianrgreco thanks! I've changed host and port to use `container.getContainerIpAddress()`
`container.getMappedPort(5432)` respectively and succeeded to connect to database.

before that I used only `container.getMappedPort(5432)` without `container.getContainerIpAddress()` and also was getting erorr

[2020-09-08 14:23] #115 closed

[2020-09-09 09:18] FrederikP opened #116 "Error: Cannot get container "[...]" as it is not running - when using gitlab-ci, dind and docker-compose"
Hi,

I have a weird issue that only happens on our CI system and I'm unable to work around it.
Everything works fine locally.

DOCKER_HOST is set to the docker service specified in our gitlab ci job config. The setup works for testcontainers java in a different project.

This is the error that is thrown in every CI build:
[code]

At first I suspected that maybe the CI docker-compose call doesn't w

[2020-09-09 11:11] FrederikP commented on #116
I extracted the essential parts needed to reproduce the issue and created a gitlab project:

https://gitlab.com/FrederikP/reproduce-testcontainers-issue

It includes gitlab-ci config, testcontainers calls.

You can see the error here: https://gitlab.com/FrederikP/reproduce-testcontainers-issue/-/jobs/728802168

[code]

Locally the test is green for me and docker-compose works without issues.

If y

[2020-09-09 13:37] nellyged opened #117 "Unable to exec psql command within jest test"
My code successfully spins up a new docker container and starts up the postgres instance. The first command runs fine (I tested this and then ran another command that simply grabs the date from the container and it returned the proper value)

But when I attempt to connect to psql I get this error:

{ output:
         'OCI runtime exec failed: exec failed: container_linux.go:349: starting container

[2020-09-09 15:23] cristianrgreco commented on #117
Hi, I'm not sure if it's GitHub's formatting but ensure the command is split by word, for example like in the README:

[code]

[2020-09-10 20:10] cristianrgreco commented on #117
Hi @nellyged, was my last answer able to help?

[2020-09-10 23:13] nellyged commented on #117
Thanks for the response I was actually able to figure out making dB changes using typeorm once the docker instance is running

[2020-09-11 03:42] kolychev opened #118 "Throwable containers using Ryuk"
Hello,

Is there any plans to implement throwable containers feature, when containers are automatically killed when not used by any tests anymore ?
In java testcontainers project this is made using special ryuk container which as I understand is pinged by test framework while test is running.
Would be great if same technics could be implemented in testcontainers-node.

Example use case when this t

[2020-09-11 08:00] #117 closed

[2020-09-11 08:02] cristianrgreco commented on #118
Hi @kolychev, sounds like a great idea.
I don't know anything about ryuk but I'll look into it when I get some time. Of course PRs are welcome!

[2020-09-11 08:03] cristianrgreco commented on #113
@flolu Yes

[2020-09-11 08:16] kolychev commented on #118
Unfortunately I don't know much myself, but maybe @bsideup could share some links where to check how java testcontainers works with https://github.com/testcontainers/moby-ryuk

[2020-09-11 19:39] cristianrgreco commented on #116
Hi @FrederikP, are you able to run a `docker ps` after testcontainers starts the container?

I'd like to see if the problem is either:
1. The container is not starting
2. The container has started with a name testcontainers doesn't recognise

[2020-09-11 20:28] bsideup commented on #118
Most of it is described in Ryuk's README:
1. maintain a TCP connection to Ryuk
2. register everything you start to Ryuk (via labels). In testcontainers-java, we register a single label (session id) and then assign it to every container/network/volume/image/whatever we create, for example
3. if the TCP connection drops, reconnect
4. Ryuk will start removing containers if there was no reconnection f

[2020-09-12 07:10] FrederikP commented on #116
Hi @cristianrgreco ,
sure. I added it between `up()` and `getContainer()`. This is the result:

https://gitlab.com/FrederikP/reproduce-testcontainers-issue/-/jobs/734440586

Relevant lines:

[code]

To me it looks like both these things don't apply. The container started and the name is the same.

[2020-09-12 09:51] cristianrgreco commented on #116
Thanks @FrederikP that's very useful.

In that case it seems testcontainers didn't find the container. It does this by listing all running containers and filtering on their labels to find the ones started by docker-compose (https://github.com/testcontainers/testcontainers-node/blob/master/src/docker-compose-environment.ts#L110).

Are you able to run a `docker inspect` on the `issue_reproduction_po

[2020-09-13 07:18] FrederikP commented on #116
Okay, I did that. See: https://gitlab.com/FrederikP/reproduce-testcontainers-issue/-/jobs/735040601

Most relevant:

[code]

[code]

If you have a gitlab account you can also fork the repo and adjust console.logs yourself. There is no special setup involved. It's using gitlabs standard CI runners, etc. Might be quicker than waiting for me to react. But I'm happy to do so as well.

[2020-09-13 09:54] cristianrgreco commented on #116
@FrederikP This is now fixed in 3.4.4 https://gitlab.com/cristianrgreco/reproduce-testcontainers-issue/-/jobs/735098479. Thanks for raising the issue and having such a good repro 🙂 If all's well please close the issue

[2020-09-14 09:54] FrederikP commented on #116
Nice. Yes it is fixed for my more complex real-life project as well. Thanks a ton for the fix and quick reaction

[2020-09-14 09:54] #116 closed

[2020-09-14 11:34] cristianrgreco commented on #118
Hey @bsideup, I've noticed that even though I've labelled images built via Dockerfiles, ryuk isn't removing them - am I missing something? I see from the code that the images are pruned, rather than removed by label so perhaps this is expected?

Also I'm currently mounting '/var/run/docker.sock`, will that work for Windows?

[2020-09-16 08:37] cristianrgreco commented on #118
@kolychev I'm a bit stumped with this one. The implementation is done and it works well when running this library's tests.

The problem I have is that if you were to start a new container, we would also start a ryuk container. The problem is that when tests end, this container keeps running, meaning that the node process doesn't exit. Without having every consumer of the library call something lik

[2020-09-16 08:48] bsideup commented on #118
FYI the way Ryuk is designed is to be started once for the session, not per container

Ryuk will wait up to N seconds and then destroy everything registered to it and then exit

https://stackoverflow.com/a/5397119/1826422

[2020-09-16 08:56] cristianrgreco commented on #118
Thanks @bsideup, just a few clarifications

The implementation I've done is also that we have a single ryuk container, but it's started if/when a container/network starts. Do you see any issues with this approach?

Yep, the problem is that the tests will hang for 10s until ryuk exits

Damn, I had tried this and it didn't work - I just double checked and the reason it didn't work is because of the

[2020-09-16 08:58] bsideup commented on #118
No, just make sure that this "lazy" behaviour is implemented correctly and handles everything

There is absolutely no need to wait for Ryuk. You start it, you register a label to it, and then you forget about it.

Hm, I wonder why would you stop them gracefully. This is for testing, meaning that there is no point in gracefully stopping things IMO

[2020-09-16 09:02] cristianrgreco commented on #118
That's my wish, but unless I come back to shut it down the node process will run for the 10s needed for ryuk to stop.

Ah interesting, I'm not sure where I got the default of 10s from, but yeah I can change it to zero, I'll raise a separate PR for it.

Things are working well now with the `process.exit`, thanks @bsideup!

[2020-09-16 09:06] bsideup commented on #118
Ah, okay, now I see why :) So there is no option to do some kind of a "daemon" TCP connection that does not prevent the runtime from exiting?

Anyways, I am glad that `process.exit` works fine for you 👍 Glad to be helpful :)

[2020-09-16 10:44] cristianrgreco commented on #118
Dang, `process.exit` isn't working when running the tests in band or in CI 😞

[2020-09-16 11:37] kolychev commented on #118
First of all my congratulations to you, there is a good progress with this !

As for open socket to Ryuk, did you try socket.unref() method after you open socket: https://nodejs.org/api/net.html#net_socket_unref

Not sure if you still can send docker labels to unref'ed socket, but I think it is worth to try.

[2020-09-16 13:04] cristianrgreco commented on #118
Thanks @kolychev!

I gave unref a go but it's the same issue, the problem is it's not just the socket which keeps running, but the container itself

[2020-09-16 16:07] cristianrgreco commented on #118
I found the issue. The open handle isn't the container, it's the log stream! It's never been an issue before because shutting down the container terminates the log stream, whereas the ryuk container keeps the stream open, preventing the process from exiting. Changing the WaitStrategy of ryuk to HostPort works, though I will see if I can fix the wider issue.

[2020-09-16 17:18] cristianrgreco commented on #118
@kolychev PR is good to go 🙂

It will be a major release as there are 2 breaking changes. Let me know if you want to review or if I can go ahead and release.

[2020-09-17 01:48] kolychev commented on #118
Hi @cristianrgreco, I have made a quick look and it all look very promising to me!
I am not familiar with docker-compose cases, did not use them in my tests yet. However the rest looks good to me :)
I will certainly give it a try, whenever you release it.

[2020-09-18 19:01] aixellent opened #133 "Docker Compose for Node not properly finishing the spinup"
I tried to spin up my Testsetup in my globalSetup file (JEST) with the following docker-compose.yml:
[code]

This is just to ensure my dependencies for the service i want to Test.

Global Setup file
[code]

The following problem occurs after the timeout:

`
$ NODE_ENV=test jest --config=__integration-tests__/jest.config.js --testRunner='jest-circus/runner' --ci --verbose --maxWorkers=7
Error: Port

[2020-09-18 21:09] cristianrgreco commented on #118
@kolychev This is available in 4.0.2, I'm aware of an issue with docker-compose not working in GitLab but apart from that all is looking good. Please raise another issue if there are any problems - thanks again!

[2020-09-18 21:09] #118 closed

[2020-09-19 09:51] cristianrgreco commented on #116
Hi @FrederikP, just letting you know that since releasing 4.0.0 I have found another issue with docker-compose in gitlab, it's different to this one but just FYI don't upgrade just yet. I am working on it and will update here once resolved

[2020-09-19 10:31] cristianrgreco commented on #133
Hi @aixellent, could you confirm what version of testcontainers you're using?

[2020-09-19 11:01] aixellent commented on #133
Hi @cristianrgreco , sorry I missed you lift this up, I am using 3.4.4.

[2020-09-19 15:04] FrederikP commented on #116
Thank you very much. Very considerate!
Sep 19, 2020 11:51:29 Cristian Greco <notifications@github.com>:

[2020-09-19 17:03] cristianrgreco commented on #133
I think the problem is that rabbitmq doesn't bind to all the ports it exposes. The default wait strategy of testcontainers is to wait until all of the container's exports are bound. Could you try the log wait strategy instead and let me know if it fixes this issue?

[code]

[2020-09-19 17:16] cristianrgreco opened #135 "DockerComposeEnvironment not working in GitLab since 4.0.x"
Currently unable to get good debug information. It seems that the ryuk container is failing to start, resulting in everything failing to start: https://gitlab.com/cristianrgreco/reproduce-testcontainers-issue/-/pipelines

[2020-09-19 17:56] aixellent commented on #133
I will try this asap and update you here, but the interesting part is that all 3 ports are available for use if I call them manually over my tools.

[2020-09-19 19:55] cristianrgreco commented on #133
@aixellent Sure let me know 🙂
Running rabbit locally I see it exposes 5 ports, I'd need to double check but I assume by default it doesn't bind all of them

[2020-09-19 22:14] cristianrgreco commented on #135
Working in v4.0.9

[2020-09-19 22:14] #135 closed

[2020-09-19 22:15] cristianrgreco commented on #116
This is working again as of 4.0.9 🙂

[2020-09-20 20:44] aixellent commented on #133
@cristianrgreco
Thanks a lot, I tried your approach and it worked for my dependency Tools (API / rabbitMQ) right now, but wouldn´t it good if we can have a similar behaviour like when we use it for DEV reasons on the local machine? My problem now is that the Service container does not work with this WaitMechanism.
I know that since version 3 of compose it is not that easy to use a manually defined

[2020-09-21 10:09] cristianrgreco commented on #133
Hi @aixellent, I think there are a couple options here:

1. Change the service so that if the connection fails it retries (recommended by Docker https://docs.docker.com/compose/startup-order/):

2. For a `GenericContainer`, we're able to use a `HealthCheck` wait strategy as follows:

[code]

This isn't supported yet for docker-compose but would something like this solve the problem if you were abl

[2020-09-21 10:29] aixellent commented on #133
@cristianrgreco
Thanks for this advice, i tried the first option, but if it fails once, it breaks the cycle, the only difference is the follwoing

[code]

But no problem with that, i got it working with 2 COMPOSE Files, one for the dependencies and one for the service, they are bound over a network together so they can interact without problems.

But NOW i have the following problem on TEARDOWN

[

[2020-09-21 12:05] cristianrgreco commented on #133
@aixellent Apologies just a few questions so I'm sure I understand correctly:

What's meant by it breaks the cycle? My understanding is:
- We have a rabbit container which takes a while to start up
- We have a service container that tries to connect to rabbit immediately. Rabbit isn't ready at this point which causes this container to fail to start.

If this is the case, then I was suggesting that

[2020-09-21 15:51] aixellent commented on #133
@cristianrgreco
Sorry for the confusion, my bad.
I tried the approach here: https://github.com/testcontainers/testcontainers-node/issues/133#issuecomment-695332527 which is working fine for the dependencies (rabbit & API) now.
Then i thought about how to fix the problem with the SERVICE Container which needs to either wait for the rabbit to be ready OR to reconstruct the startup mechanism of it fo

[2020-09-21 21:16] cristianrgreco commented on #133
I ran a test locally with `--remove-orphans` but it still fails to stop docker-compose because the network is in use.

According to the docs:
- `docker-compose stop`: The docker-compose stop command will stop your containers, but it won’t remove them.
- `docker-compose down`: The docker-compose down command will stop your containers, but it also removes the stopped containers **as well as any netw

[2020-09-22 07:04] aixellent commented on #133
@cristianrgreco
That idea will fit the needs more properly, but therefore the DockerEnvironment should get the `stop` option or the down option runs stop at first for all services in the environment.
As said i actually found a solution by manually chain the TearDown in Promises so that it does not throw exceptions, but this would be really nice to have.

[2020-09-22 20:04] cristianrgreco commented on #133
Hey @aixellent, take a look at the referenced PR - unless you see any issues with it I'll release 🙂

[2020-09-23 05:27] aixellent commented on #133
Hi @cristianrgreco ,
Approved your PR, thanks for the support and the fast implementation.
🎉 Everything running properly now

[2020-09-23 05:27] #133 closed

[2020-09-23 19:12] cristianrgreco commented on #133
@aixellent Thanks for raising the issue, this has been released in 4.1.0 🙂

[2020-09-24 14:24] royprigat opened #141 "Container still running after HealthCheck failure"
Attempting to start a new container:
[code]

If health check fails, the container is still running in the background and the object returned is 'undefined'.
This means I can't use container.stop() to actually stop the container.

Is there any way to stop it completely?

[2020-09-24 20:09] cristianrgreco commented on #141
Hi @royprigat, thanks for raising the issue, I've created a PR for this, let me know if you want to take a look else I'll release it

[2020-09-25 20:08] cristianrgreco commented on #141
Released in 4.2.0

[2020-09-25 20:08] #141 closed

[2020-10-14 14:21] khalilou88 opened #145 "Better log when the container failed to be ready"
Hello,

Thank you for this project.
I try to start a container but for some reason the container failed to be ready.
With debug, I can't know the reason :

  testcontainers DEBUG Creating new DockerClient +0ms
  testcontainers INFO Using default Docker host: localhost, socket path: //./pipe/docker_engine +4ms
  testcontainers DEBUG Creating new Reaper for session: 9c4db888f30a0e7cb669b5d6102949b4

[2020-10-14 16:24] cristianrgreco commented on #145
Hi @khalilou88, thanks!

You can set `DEBUG=testcontainers*` to see the container output, that would show any error if there is one.

[2020-10-15 02:57] totalamd commented on #44
@rashid5 So???

[2020-10-15 10:27] cristianrgreco commented on #145
@khalilou88 was my message able to help / can I close this issue?

[2020-10-15 12:18] khalilou88 commented on #145
thanks for your reply.
yes you can close this issue.
the problem is with my docker

[2020-10-18 01:10] totalamd commented on #145
In my case containers starts ok from CLI but
[code]
for different containers. Neither ain't error for `catch(e)`, just `undefined`.

[2020-10-18 10:10] cristianrgreco commented on #145
@totalamd Could you set `DEBUG=testcontainers*` and run it again? Also share what version of testcontainers-node you're using and ideally a repro of the issue

[2020-10-18 14:40] totalamd commented on #145
Hi, @cristianrgreco,
I have docker 2.4.0.0, engine 19.03.13, windows 10.
I'm trying this minimal code and in node repl, with the same result:
[code]
I found any testcontiners v4.x.x gives an error on my machine (not only postgres, but anything I've tried):
[code]
also the error in catch() is always `undefined`,
while v3.5.0 works fine:
[code]

[2020-10-18 19:13] cristianrgreco commented on #145
Thanks that's useful information. The major difference between 3.x.x and 4.x.x is that there is a "reaper" container called ryuk which starts by default before any container. It seems from your logs that this container is failing to start. Are you able to debug from the CLI why the ryuk container is failing to start? It's hard for me to get a hold of a Windows machine so that'd be helpful

[2020-10-18 20:24] totalamd commented on #145
Could you give me a link/hint how to debug it properly inside testcontainers? I'm quite new to the docker. The image starts ok via docker cli.

[2020-10-18 21:53] totalamd commented on #145
@cristianrgreco Could you give me a link/hint how to debug it properly inside testcontainers? I'm quite new to the docker. The image starts ok via docker cli.

[2020-10-19 12:25] cristianrgreco commented on #145
@totalamd Do you see the ryuk container if you run `docker ps -a`? If you do could you share the logs (`docker logs <id>`)? This is the line that's failing https://github.com/testcontainers/testcontainers-node/blob/master/src/reaper.ts#L34, you could checkout the repo and run one of the `GenericContainer` tests to debug what's happening

[2020-10-20 17:16] pjroth commented on #145
We had a similar symptom today:
[code]

This was from a developer on windows with docker desktop.  We had not seen this issue on linux (using the standard /var/run/docker.sock).  The problem we determined was that ryuk fails to startup successfully on windows when using the standard Docker Desktop socket.  However, the lack of log output from the ryuk container even when using `DEBUG="testcontaine

[2020-10-21 17:46] cristianrgreco commented on #145
@pjroth Thanks for sharing! I managed to get my hands on a Windows machine and worked my way through a bunch of issues, it's now all working, even able to run the build on Windows!

Check out the attached PR, it should resolve this issue as well as others, and importantly as you said it now outputs the logs of ALL containers (including ryuk), which should mean people never have such a hard time de

[2020-10-21 21:16] cristianrgreco commented on #145
Released in v4.5.0

[2020-10-21 21:16] #145 closed

[2020-10-22 11:08] khalilou88 commented on #145
thanks working for me now 👍

[2020-10-22 12:49] pjroth commented on #145
Thanks so much for the quick turnaround on this fix!

[2020-10-25 10:34] johnico opened #148 "How can I map port into service port (Rabbitmq) - instead just expose the default"
I would like to create a rabbitContaienr  . like:

[code]

but today is not an option
if I have multiple services that run the test on the same machine, i want that each of the tests will create a rabbit container and will expose a random port

so how can I manage to achieve smth like:

[code]

thanks

[2020-10-25 10:55] johnico opened #149 "Error: Port XXX not bound after 10000ms docker-compose -rabbitmq"
Hello,  I am trying to create a docker-compose file with rabbitmq service but got the following error:

**Error: Port 15691 not bound after 10000ms**

evreytime with diffrent port

my docker -compose
[code]

my code

[code]

thanks

[2020-10-25 11:28] cristianrgreco commented on #148
hi @johnico, having each container expose a random port is the default behaviour, did you see the README?

[code]

so if each test starts its own container, each will have a rabbit listening on a random port

[2020-10-25 11:44] johnico commented on #148
hi
@cristianrgreco  thanks

how can I define multiple ports?

now I am getting

[code]

my code:

[code]

[2020-10-25 11:49] johnico commented on #148
@cristianrgreco  thanks a lot

how can I declare multiple ports? , is it by order?

[2020-10-25 11:52] cristianrgreco commented on #148
@johnico with varargs: `.withExposedPorts(80, 443)`, order doesn't matter

[2020-10-25 11:55] cristianrgreco commented on #149
Rabbit doesn't bind to all its exposed ports by default, meaning testcontainer's default wait strategy will timeout waiting for these ports to be bound. Use a log wait strategy instead:

[code]

Duplicate of https://github.com/testcontainers/testcontainers-node/issues/133. Would be a good idea to create a module for rabbit to stop people running into this.

[2020-10-25 12:48] JavoByte opened #150 "Disabling Ryuk"
Hello.

I am using this project to run integration tests on a node project and I want to introduce this to bitbucket pipelines.
However, bitbucket pipelines don't allow privileged mode on docker instances. This means that Ryuk container is failing to run. I saw in [documentation](https://www.testcontainers.org/features/configuration/) that I could set `TESTCONTAINERS_RYUK_DISABLED` but this doesn'

[2020-10-25 16:47] cristianrgreco commented on #150
Hi @JavoByte, indeed this isn't currently supported, let me know if there's any reason not to merge the referenced PR 🙂

[2020-10-25 16:49] #149 closed

[2020-10-25 16:49] #148 closed

[2020-10-25 20:18] cristianrgreco commented on #150
Released in https://github.com/testcontainers/testcontainers-node/releases/tag/v4.6.0, please close the issue if resolved

[2020-10-26 09:19] sondrele opened #152 "Support for regular expressions in LogWaitStrategy"
I have a case where it would be convenient to wait for a variable log message.

Specifially, a migrate-command with [flyway](https://github.com/flyway/flyway-docker) will output something along the line of
[code]

where `x` is a variable number depending how many migrations were actually applied.

The strategy seams a little less prone to errors with `Wait.forLogMessage(/Successfully applied \d+ m

[2020-10-26 09:22] cristianrgreco commented on #152
HI @sondrele, good idea! I'm happy to take a look at this later and implement it as suggested

[2020-10-26 13:57] cristianrgreco commented on #152
@sondrele check out the referenced PR, unless you have any issues I'll merge 🙂

[2020-10-26 14:00] #150 closed

[2020-10-26 14:37] sondrele commented on #152
@cristianrgreco  Perfect! :ok_hand:

[2020-10-26 15:31] cristianrgreco commented on #152
Released in https://github.com/testcontainers/testcontainers-node/releases/tag/v4.7.0 🙂

[2020-10-26 15:31] #152 closed

[2020-10-27 18:57] cristianrgreco commented on #113
@flolu i've raised a PR against your repro, there's no issue with testcontainers, just incorrect usage: https://github.com/flolu/bazel-testcontainers-repro/pull/1

[2020-10-27 18:57] #113 closed

[2020-10-27 20:43] rathboma opened #154 "health check never resolves for postgres container"
I'm creating a postgres container

[code]

But the health check never resolves and I cannot connect to it:

[code]
If I start a postgres container manually, it works and I can connect to it with my DB client:

[code]

Any thoughts?

I've tried:
- using docker-compose (same deal)
- removing all postgres images (same problem)
- upping the timeout (currently like 10 minutes)

I have a mysql test that

[2020-10-27 20:52] rathboma commented on #154
This is the command it runs:

[code]

[2020-10-27 21:00] rathboma commented on #154
Thinking it may be because the container starts postgres twice - once to create the database, once to actually run it, and it gets hung up during that process somewhere?

Matthew

[2020-10-27 21:15] cristianrgreco commented on #154
Hi @rathboma, does the Postgres image define a healthcheck? The wait strategies work like this:

1. `HostPortWaitStrategy` (default): if we define an exposed port of 8000, testcontainers will wait until that port is bound
2. `LogWaitStrategy`: wait until the container outputs a given log
3. `HealthCheckWaitStrategy`: wait for the container's health check to succeed. If the image doesn't provide a

[2020-10-27 21:29] helgridly opened #156 "Can we specify a port to bind to?"
I can spin up a container `.withExposedPorts(1234)` but that doesn't let me specify the port that it gets bound to on the host. I know I can get call `.getMappedPort(1234)` after the container is started, but I need to define a healthcheck that curls the container (like in the example), and the mapped port isn't available then.

Can we specify a fixed port on the host to bind to, and error if it's

[2020-10-27 21:31] cristianrgreco commented on #156
Hi @helgridly, there isn't a way to specify a port to bind to.
The health checks run within the container so if the port is 1234 you can use that directly (eg `curl http://localhost:1234`)

[2020-10-27 21:34] helgridly commented on #156
Oh - I assumed they ran from the outside, on the host. Thanks!

[2020-10-27 21:34] #156 closed

[2020-10-27 21:48] rathboma commented on #154
I tried that and still ran into problems. Let me do some double checking and double make sure I've not got a problem at my end.

(I also forgot to paste my custom wait strategy).

Hang tight I'll report back tomorrow (I'm probably doing something wrong)

[2020-10-27 21:53] cristianrgreco commented on #154
Cool let me know, just FYI this works for me:

[code]

[2020-10-27 21:57] rathboma commented on #154
Yeah I figured it out. I was using an old version of the pg library, but using the config syntax of the new version. It failed silently.

[2020-10-27 21:59] rathboma commented on #154
Sorry for the false bug report, but I very much appreciate the fast response. You helped a lot actually.

[2020-10-27 21:59] #154 closed

[2020-11-03 14:03] lamuertepeluda opened #158 "Allow multiple compose files"
Hi there,

I would like to use [multiple compose file](https://docs.docker.com/compose/extends/#multiple-compose-files), so that I can override some parameters in my `docker-compose.test.yml` file wrt. the main `docker-compose.yml` file.

I seen now that the options for the docker compose environment, and in particolar [this line](https://github.com/testcontainers/testcontainers-node/blob/abd3d47d

[2020-11-03 14:24] Shahan opened #159 "Add ability to get internal container ip"
When I create a container with `NetworkMode`, I have no chance to find out what is IP address of the container host in this network.

Experimentally I observed that internal container hostname may be computed as `startedContainer.getId().substr(0, 12)`, however, there is still even no workaround to get IP address.

Is it possible to add any method that will help us to obtain container's IP address

[2020-11-03 14:56] lamuertepeluda commented on #158
Maybe it is just a TypeScript definition and documentation issue, after all 😅

I just tried passing (in a `.js` file so that I don't get TS errors)

[code]

And it worked pretty fine!

Thanks God nor your library nor docker-compose makes any runtime validation of the arguments! 😄

[2020-11-03 14:59] cristianrgreco commented on #158
Haha that's great! I'm happy to change the API to allow for multiple files, will there be cases where we use files in different paths? If so I think I might inline `composeFilePath` and `composeFIle`, so `composeFile` becomes the full path including file

[2020-11-03 16:42] cristianrgreco commented on #159
hi @Shahan, thanks for raising the issue. I just had a read of the testcontainers-java docs and it seems they've solved this by using network aliases, see advanced networking at the bottom at https://www.testcontainers.org/features/networking/. Would something like that work for you? it seems they are quite against exposing the internal IP because it would cause other issues in remote environments

[2020-11-03 18:23] lamuertepeluda commented on #158
I think it could be, even though it's not that relevant for me, however the docker-compose library documentation says the files must be in the same cwd...

[2020-11-03 18:25] cristianrgreco commented on #158
Cool, the cwd will be the same then. Check out the referenced PR, will merge unless you see any issue 🙂

[2020-11-03 18:38] cristianrgreco commented on #158
Released in https://github.com/testcontainers/testcontainers-node/releases/tag/v5.1.0, thanks again!

[2020-11-03 18:38] #158 closed

[2020-11-05 08:30] Shahan commented on #159
hi @castarco
thank you for your attention to my problem.

I agree that the proposed solution with hostnames (from your example) is fine for normal people because hostnames are much better than IP addresses for multiple reasons. Unfortunately, it's not my case, because in my case my tests should verify that the application is capable to work with IP addresses correctly.
I understand, that exposing

[2020-11-05 14:45] cristianrgreco commented on #159
@Shahan What do you think about this:

[code]

[2020-11-05 14:51] cristianrgreco commented on #159
Ideally I would like to make the breaking change of renaming `container.getContainerIpAddress()` to `container.getHost()`, and then this PR could be simplified to `container.getIpAddress(networkName: string)`.. 🤔

[2020-11-05 15:29] Shahan commented on #159
Looks even better than I could dream about 👍  Thank you!

Even though `getContainerIpAddress` method result is confusing, but its strange behavior is fully in accordance with java version of test containers :P It would be great, if breaking change will be done in both java and node-js (nevermind, just thinking out loud)

[2020-11-05 17:29] cristianrgreco commented on #159
Amazing, how rare that I can make someone's dreams come true! 😄

That's what I thought, but according to this example they also use `getHost()`: https://www.testcontainers.org/quickstart/junit_5_quickstart/

[2020-11-06 02:49] traviscollins opened #163 "Expose Host Ports to Container"
I have the need for a container launched by testcontainers-node (the client) to communicate with a non-containerized service that I'm testing against (the server). The Java version of TestContainers supports ```Testcontainers.exposeHostPorts(localServerPort);```

https://www.testcontainers.org/features/networking/#exposing-host-ports-to-the-container

It does not appear that there is an equivalent

[2020-11-06 09:23] Shahan commented on #159
@cristianrgreco  You are right, in java they keep 3(!) methods that return the same:
1. Deprecated `getIpAddress()` that returns `getHost()`. Code pointer: https://github.com/testcontainers/testcontainers-java/blob/b28f6efafa8f60e70f95670fecfde29eafbf4e4b/core/src/main/java/org/testcontainers/containers/GenericContainer.java#L1257
2. `getContainerIpAddress()` that returns `getHost()`. Code pointer

[2020-11-06 09:26] cristianrgreco commented on #159
I think they want to remove the other methods and keep just `getHost()`

<img width="484" alt="Screenshot 2020-11-06 at 09 24 47" src="https://user-images.githubusercontent.com/10348798/98349481-f14fbe00-2011-11eb-8668-f34ded2f8b05.png">

I'm happy to make it a breaking change because I think the two methods we end up with are quite clear:

[code]

Let me know if you're happy for me to merge https

[2020-11-06 09:36] Shahan commented on #159
Regarding breaking change I can only warn about thousands of javascript tests around the world that will fail in runtime after a major update due to the not found method 'getContainerIpAddress()`.

I'm fully happy with all changes in #162, I'm ready to use the new version right after the merge.

[2020-11-06 09:54] cristianrgreco commented on #159
This is what major updates are for 🙂 I think in the long-term the change is beneficial so the sooner the better. This functionality is available in https://github.com/testcontainers/testcontainers-node/releases/tag/v6.0.0

[2020-11-06 10:35] Shahan commented on #159
@cristianrgreco  Thanks a lot :)

[2020-11-06 10:35] #159 closed

[2020-11-08 22:10] cristianrgreco commented on #163
@traviscollins check out the referenced PR, does it suit your needs?

[2020-11-08 22:13] traviscollins commented on #163
It does! Wow. Thanks!

[2020-11-08 22:24] cristianrgreco commented on #163
released in https://github.com/testcontainers/testcontainers-node/releases/tag/v6.1.0 🙂

[2020-11-08 22:24] #163 closed

[2020-11-16 08:22] mtwinux opened #166 "Can't use 'redirection' (<) with StartedTestContainer exec command"
Hello.
My environment :
- windows 10
- Node.js  [v12.18.4],NPM [ 6.14.8]
- loopback 4 [loopback@3.27.0]
- testcontainers [testcontainers@6.1.1]
- dockerode [dockerode@3.2.1]
- Docker [Docker version 19.03.13, build 4484c46d9d]

My problem :)
I am using GenericContainer to set up a MariaDB container and it goes well but i need to run one or more sql script file to the container. So, what i did is "

[2020-11-18 18:26] jackkainov opened #167 "Allow passing a custom zookeeper image into the Kafka container"
Hi,
the image path for zookeeper is hardcoded here https://github.com/testcontainers/testcontainers-node/blob/master/src/modules/kafka/kafka-container.ts#L66
With the recent Docker Hub limitations we started using our own private Docker registry inside the company, but unfortunately, the zookeeper image is still pulled from the Docker Hub.
Do you think it could be possible to either accept a priva

[2020-11-19 13:02] katerina-semikina commented on #167
+1, faced docker hub rate limiting limitations. Possibility to use docker hub proxy would be perfect.

[2020-11-19 14:03] cristianrgreco commented on #167
hi both, thanks for raising the issue. does the referenced PR work for you? I've exposed these settings via the constructor:

[code]

[2020-11-20 08:10] jackkainov commented on #167
Hi @cristianrgreco , thank you for such a swift reaction. The proposed solution would definitely do a trick and in the next major version, API could be cleaned up :) Also, Kafka is removing [this](https://www.confluent.io/blog/removing-zookeeper-dependency-in-kafka/) dependency so maybe we won't even need it in the new version.

[2020-11-20 09:30] cristianrgreco commented on #167
Sounds good! Released in https://github.com/testcontainers/testcontainers-node/releases/tag/v6.2.0

[2020-11-20 09:30] #167 closed

[2020-11-20 14:26] cristianrgreco commented on #166
hi, thanks for raising the issue.

i also cannot get redirection working using the underlying `dockerode` library, i've raised an issue here: https://github.com/apocas/dockerode/issues/600.

as a temporary workaround, instead of `["echo", "hello world", ">", "/tmp/test.txt"]` you could do `["/bin/sh", "-c", "echo 'hello world' > /tmp/test.txt"]`, which seems to work as expected

[2020-11-22 14:21] mtwinux commented on #166
thanks ! i will try this 👍

[2020-11-25 21:04] rhyek opened #169 "use current docker context"
I'm trying to save on my laptop's resource consumption by running a docker engine on a remote host (on my LAN) and am using docker's context functionality which is also supported by docker-compose (https://www.docker.com/blog/how-to-deploy-on-remote-docker-hosts-with-docker-compose/).

I am starting my testing environment like this:
[code]

Using docker-compose without specifying a context should

[2020-11-26 02:41] crickford opened #170 "Add support for loading registry auth information from config"
`testcontainers-java` has great support for loading credentials for private registries from wherever they might be stored: https://github.com/testcontainers/testcontainers-java/blob/cf8c349e43ff05f7364c645cebb9061fda90aabf/core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java#L31

Registry credentials can be provided by the credential store, credential helpers, or even just the us

[2020-12-11 17:04] beepsoft opened #173 "Configuring containers with circular dependency"
Hi,

I have two containers: a Hasura server and nodejs/express app. Both need to connect to the other, so I need to pass in an environment variable the IP:PORT of Hasura to nodejs/express and the IP:PORT of nodejs/express to Hasura. Is it possible to do this with testcontainers?

With docker-compose it works, because the domain name is derived form the container's name. In testcontainers - setting

[2020-12-12 19:21] cristianrgreco commented on #173
Hi,

There's an example of creating a container with a name in the README:

[code]

Other containers can then reference it by its name.

Does that help?

[2020-12-15 11:13] cristianrgreco commented on #173
@beepsoft Was my previous message able to help?

[2020-12-15 11:53] beepsoft commented on #173
@cristianrgreco oh, sorry for the delay. Yes, I gave explicit names for the containers and now it works all right. Thanks for your support!

[2020-12-15 12:01] #173 closed

[2020-12-15 16:08] beepsoft commented on #173
More precisely I also needed to add a common network for the containers to see each other. So something like:

[code]

[2020-12-21 16:23] cristianrgreco commented on #169
Hi @rhyek, it'd be easy enough to add a context argument to docker-compose, something like:

[code]

But I wonder if it's the right approach?

I assume if you set the docker context via the CLI, that you don't also need to set `--context foo` when you `docker-compose up` or `docker run x`?

Could you try setting `DOCKER_HOST` to your remote context? I guess something like `tcp://remote:port`, and

[2021-01-12 22:16] ignacysokolowski opened #177 "Can't use cached images with ':' in their name"
Hi, I'm running a local docker registry on localhost:5000. I tag my image with the registry address in front of the image name, for example `localhost:5000/my-image:latest`, and I want test that it was built and tagged correctly before pushing it to the registry. The problem is that testcontainers fails to find it in the cache and tries to pull it:

[code]

I found that when `GenericContainer` sta

[2021-01-13 17:49] cristianrgreco commented on #177
hi @ignacysokolowski, thanks for finding/raising the issue, it'd be great if you could raise a PR, if not i'll get to this in the next few days

[2021-01-13 23:48] dmitri-gb commented on #166
_Redirection_ is a feature of the _shell_. When simply executing `['mysql', '-u...', '-p...', '<', 'file']`, there's no shell involved, so naturally, no redirection can take place. `<` and whatever follows are just arguments to `mysql`.

If you really need to use redirection, you'll need to pass the command through a shell, e.g.
[code]

Another solution would be to have `mysql` read the file itsel

[2021-01-20 21:15] cristianrgreco commented on #166
Thanks @dmitri-gb !

[2021-01-20 21:15] #166 closed

[2021-01-20 21:32] cristianrgreco commented on #177
fixed in v6.4.2

[2021-01-20 21:32] #177 closed

[2021-01-22 21:41] cristianrgreco commented on #170
Hi @crickford, thanks for raising the issue. I've raised a PR which will find and use authentication from `$HOME/.docker/config.json`, using credential helpers if necessary, like in testcontainers-java

[2021-01-23 15:49] cristianrgreco commented on #170
Thanks for reviewing @crickford.
This has been released in 7.0.0 (https://github.com/testcontainers/testcontainers-node/releases/tag/v7.0.0).

[2021-01-23 15:49] #170 closed

[2021-01-25 10:43] belgattitude opened #181 "Error printed when $HOME/...docker.json does not exists"
Since V7 and the introduction of auth https://github.com/testcontainers/testcontainers-node/pull/179, it seems that I have a problem regarding

[code]

Is there a catch missing here ? ->

https://github.com/testcontainers/testcontainers-node/blob/2c17ea715521a5fd57ae2cb68eb19ae81e8ffb9b/src/registry-auth-locator/index.ts#L27

[2021-01-25 12:22] cristianrgreco commented on #181
Thanks @belgattitude. I've raised a PR, once it passes I'll release a patch 7.0.1

[2021-01-25 12:37] #181 closed

[2021-01-26 12:37] cristianrgreco commented on #169
Closing due to inactivity

[2021-01-26 12:37] #169 closed

[2021-01-26 17:18] belgattitude commented on #181
Wonderful.  Thanks a lot

[2021-01-28 15:25] lamuertepeluda opened #184 "Support for custom env-file in docker-compose"
Hi there, and thanks for your great work.

I am trying to use a different `.env` file configuration for my test environment, e.g. like in [the official docs for compose cli](https://docs.docker.com/compose/environment-variables/#substitute-environment-variables-in-compose-files).

Specifically, I'd like to

[code]

I want to stress on the option `--env-file .env.test`, which is the missing bit her

[2021-01-28 15:49] cristianrgreco commented on #184
Hi @lamuertepeluda, thanks! This sounds good, I'm open to PRs if not I'll take a look at this in the next few days 🙂

[2021-01-28 15:51] lamuertepeluda commented on #184
Yes that method looks fine. I'll try to do my best to make a PR

[2021-01-29 09:40] lamuertepeluda commented on #184
@cristianrgreco after further investigations I resolved my issue in a declarative way, using the [env_file](https://docs.docker.com/compose/environment-variables/#the-env_file-configuration-option) configuration option directly in the docker-compose! I honestly didn't know about that.
I don't think it's necessary to add this method, after all.

I am closing this issue, but feel free to re-open it

[2021-01-29 09:40] #184 closed

[2021-01-29 09:41] cristianrgreco commented on #184
@lamuertepeluda Sounds good, thanks for sharing how you solved this

[2021-02-01 17:17] jmacmahon opened #185 "Support environment variables in DockerComposeEnvironment"
You can do this for `GenericContainer` by using `.withEnv`, but there is nothing similar for a `DockerComposeEnvironment`

[2021-02-01 18:00] cristianrgreco commented on #185
Hi @jmacmahon, any reason not to have the env variables defined in the `docker-compose.yml` file directly?

[2021-02-01 19:19] jmacmahon commented on #185
We would like to specify a temporary source directory for a bind mount defined in the `docker-compose.yml` file.

A snippet from the file therefore looks like:
[code]

Our test code will create the temporary directory somewhere on the host, and pass it down to `docker-compose` by setting the appropriate environment variable.

For now, we have worked around this by setting `process.env.BIND_SOURCE

[2021-02-01 19:46] cristianrgreco commented on #185
@jmacmahon Thanks for explaining.

Would something like this work? I've deliberately kept the API the same to that of the `GenericContainer`:

[code]

[2021-02-01 21:46] jmacmahon commented on #185
That looks great 👍

[2021-02-01 22:49] cristianrgreco commented on #185
@jmacmahon Just to double check, here's an excerpt from the README in the PR, does it look good to you?

If so I'll merge and release

[2021-02-02 00:04] jmacmahon commented on #185
Looks good to me, thanks for doing it so quick! Great package 😊

[2021-02-02 09:24] cristianrgreco commented on #185
Great, thanks! Released in [v7.3.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.3.0) 🙂

[2021-02-02 09:24] #185 closed

[2021-02-03 18:19] TingeOGinge opened #187 "Told "Cannot get container as it is not running" when invoking getContainer()"
Failure when trying to invoke `getContainer(CONTAINER_NAME)` on a docker-compose environment.

## Context

I am setting up hooks for a Cucumber JS test suite to apply to an existing project that uses a PostgreSQL database and NodeJs webapp, both in running Docker containers and built / run using docker-compose.

When I try to get one of the containers from my `StarterDockedComposeEnvironment` I ge

[2021-02-04 14:48] cristianrgreco commented on #187
Hi @TingeOGinge, could you please share the logs of the `inse2c_server` container? I suspect that it is never logging `Server started on port 5000`

[2021-02-04 16:02] TingeOGinge commented on #187
Of course:

[code]

The "Connecting to 192.168.0.11 Failed" is the result of an existing bash script I used to pause the starting of the server until the postgres database is up and ready.

[2021-02-04 20:34] cristianrgreco commented on #187
Thanks @TingeOGinge, would you mind running `docker inspect inse2c_server` while it's running and share the output of `Config.Labels`?

[2021-02-04 23:21] TingeOGinge commented on #187
`Config.Labels` output:
[code]

[2021-02-05 09:35] cristianrgreco commented on #187
Hmm, could you upgrade to 7.4.0, and re-run the test with the env variable DEBUG=testcontainers* and share the output here? Could you also share your node/docker version? At the moment I don't see why you wouldn't be able to get the container

[2021-02-05 10:30] TingeOGinge commented on #187
Ah you cracked it! It was the docker-compose version that seemed to be holding me back, I've since upgraded to the latest version (`1.17.1 => 1.28.2`) using the instructions directly from Docker, as previously I had installed it through `apt`.

I can now get the container using `this.environment.getContainer("inse2c_server")` and it seems my tests work using localhost and don't need to get the con

[2021-02-05 10:37] cristianrgreco commented on #187
Great news! I will think about how testcontainers can better surface this issue, perhaps we could log a warning if the versions of docker/docker-compose are below a certain version. Thanks for raising the issue and for the great level of detail!

[2021-02-05 10:37] #187 closed

[2021-02-16 22:47] AaronDowdy opened #189 "docker images spam question (issue?)"
Really great node package! But I'm seeing a quirky behavior regarding leftover images after I run temporary containers.

I use the following to create throwaway containers based on a path and a Dockerfile:

[code]

This works and creates the image, which in turn I can use to instantiate a container. The containers correctly appear to clean themselves up (via Ryuk I believe).

However, even running

[2021-02-17 09:39] cristianrgreco commented on #189
Thanks for raising @AaronDowdy, yes it seems the images aren't being cleaned up as expected by ryuk. I've asked @bsideup over on Slack for some help as my understanding is that they should be being cleaned up

[2021-02-28 10:23] sazzer opened #190 "Able to wait for container port"
I might be missing something obvious, but I can't see how to make testcontainers-node wait for the container to be listening on a given port.

There is a `HostPortWaitStrategy` class, but to construct it I need access to values that I don't have - specifically `DockerClient`.

On the `Wait` class there is only the ability to wait for log messages or healthchecks - the first of which isn't hugely r

[2021-02-28 10:43] cristianrgreco commented on #190
Hi @sazzer, the default wait strategy is the host port wait strategy. So for example if you create a container with exposed port 8080, then testcontainers will by default wait for that port to be bound. Does that help answer your question? It says so here but I will make it clearer https://github.com/testcontainers/testcontainers-node#wait-strategies

[2021-03-01 13:01] #190 closed

[2021-03-09 09:28] ab316 opened #193 "Connection refused to Ryuk in Docker engine 20.10.5"
After updating the Docker desktop for Windows, the testcontainers fails to connect to the Ryuk container:

[code]

[code]
NodeJs: 12
testcontainers version: 7.4.1
Docker Desktop version: 3.2.1 (61626)
Docker Engine: 20.10.5

[2021-03-09 14:00] ab316 commented on #193
This could be some wrong with the new Docker version, not sure.

[2021-03-09 17:33] cristianrgreco commented on #193
Hi @ab316, thanks for raising, what version were you on previously and was that working?

[2021-03-10 14:42] everflux commented on #189
I observed this behavior as well. It might be caused by aborting the tests due to a failure.
It would be really helpful if the images would have at least a label, so I could delete by label=testcontainers or something like that

[2021-03-10 14:53] everflux commented on #189
I indeed missed that! Thanks, this helps indeed.
The command I actually used is

[code]
The issue occurs for me when executing tests and the building of an image fails.

[code]

[2021-03-10 14:57] cristianrgreco commented on #189
Thanks @everflux, I have updated my comment to show the correct command so others don't make the same mistake.

[2021-03-10 14:58] cristianrgreco commented on #193
Thanks for the info @ab316, the original issue was about docker engine 20.10.5, but it seems it's from testcontainers > 6.3.0 on docker engine 20.10.x ?

[2021-03-10 15:19] ab316 commented on #193
I have veried now. testcontainers 6.3.0 also doesn't work with Docker engine 20.10.5.
I get
[code]

That is connection refused to the Ryuk container.

[2021-03-10 17:13] cristianrgreco commented on #193
@ab316 You mentioned this previously worked, what versions of testcontainers and docker-engine were you using that worked?

[2021-03-10 17:20] ab316 commented on #193
@cristianrgreco  testcontainers 6.3.0 and docker engine 20.10.2.

[2021-03-13 19:22] cristianrgreco commented on #189
The issue is that when we build an image, we give it a name and a tag, the result is that the image is not "dangling". Because of this, `docker image prune` will not clear them unless you specify `-a` "Remove all unused images, not just dangling ones". I've raised a PR for moby-ryuk which implements this behaviour, I've tested the change and it works as expected. Just waiting for that PR to be mer

[2021-03-13 19:24] everflux commented on #189
Thanks, really appreciated.

[2021-03-14 11:46] cristianrgreco commented on #193
I’ve just tested the latest testcontainers on Windows against 19.03.8 and it works. Will update Docker and report back

[2021-03-14 11:51] cristianrgreco commented on #193
@ab316 I’ve just run the entire test suite against docker 20.10.2 on windows and it works. Could you please share some reproducible example or somehow show that the issue is with testcontainers? Have you checked you have enough free space for docker to run?

[2021-03-14 12:52] ab316 commented on #193
Have you tried on Docker 20.10.5? because it's there where testcontainers completely break. Even 6.3.0 fails on it. The testscontainers testsuite is also failing. I have enough space for Docker to run. It could be an issue with Docker though. I can not easily provide an example for testcontainers 7.4.1 failing on Docker 20.10.2

[2021-03-14 20:10] cristianrgreco commented on #193
@ab316 I’ve just upgraded to 20.10.5 and the test suite passes.

Can you share any logs? Without any logs/repro I will have to assume this is an issue on your side

[2021-03-15 20:15] cristianrgreco commented on #193
Hi @ab316, please re-open this issue when you have a reproducible example

[2021-03-15 20:15] #193 closed

[2021-03-16 09:33] SBD580 commented on #193
same issue here, after upgrading yesterday nothing works (testcontainers v7.x and docker windows 20.10.5)

[2021-03-16 09:35] cristianrgreco commented on #193
Please provide a reproducible example and logs. I have also tested the latest testcontainers on the same version of Docker engine without issue.

[2021-03-16 12:09] ab316 commented on #193
Okay, a bit occupied right now so can't provide at the moment.

[2021-03-16 20:55] everflux opened #195 "Provide ipc mode host"
In order to run cypress in a testcontainer the following setting is required:
_If you are running long runs on Docker, you need to set the ipc to host mode._  as discussed in this issue https://github.com/cypress-io/cypress/issues/350 and documented on https://docs.cypress.io/guides/continuous-integration/introduction.html#Missing-binary
Currently there seems to be no way to configure it using tes

[2021-03-17 09:55] cristianrgreco commented on #195
Hi @everflux, does the referenced PR work for you?

[2021-03-17 10:03] everflux commented on #195
That was lightning fast! Change makes sense and looks good to me, is there an easy way to test it, or should I just wait for the next release?

[2021-03-17 10:08] cristianrgreco commented on #195
I've never actually looked at the beta releases, I should at some point.. I will release for now because it's a new feature

[2021-03-17 10:27] everflux commented on #195
Very cool, thanks!

[2021-03-17 10:27] #195 closed

[2021-03-17 10:35] cristianrgreco commented on #195
Released in [7.6.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.6.0)

[2021-03-18 05:30] cristianrgreco commented on #189
This has been fixed in [7.6.1](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.6.1)

[2021-03-18 05:30] #189 closed

[2021-03-18 16:17] kincaidoneil opened #197 "TS build issue"
Since upgrading to 7.x, I run into this error with testcontainers when I try to build my project (with strict mode):

[code]

Since `archiver.Archiver` is now part of the [public API on `GenericContainer`](https://github.com/testcontainers/testcontainers-node/blob/747f58356ddd39b36786f1d76731838637e15166/src/generic-container.ts#L95), I think `@types/archiver` needs to be included as a direct depe

[2021-03-18 16:38] cristianrgreco commented on #197
Thanks for finding+fixing @kincaidoneil, released in [7.6.2](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.6.2)

[2021-03-18 16:38] #197 closed

[2021-03-25 17:19] crickford opened #200 "Auth config for default registry not respected"
If an image name does _not_ include a private registry, docker will attempt to pull from dockerhub. Credentials set for authenticated pulls from dockerhub are not respected by testcontainers-node, due to the image names not including a private registry.

Quick PR which fixes this behavior: #199

[2021-03-25 19:26] cristianrgreco commented on #200
Released in https://github.com/testcontainers/testcontainers-node/releases/tag/v7.7.0.
Thanks again @crickford !

[2021-03-25 19:26] #200 closed

[2021-04-19 11:01] fondberg opened #202 "Question regarding passing arguments"
Thanks for a great project!
I have a question regarding passing arguments.
I today start (in my case postgres) with `docker run .... -c fsync=off`.
How would I translate this into APi calls?

[2021-04-19 11:21] cristianrgreco commented on #202
Hi @fondberg, thanks! 🙂 Should be something like:

[code]

[2021-04-19 15:24] fondberg commented on #202
Great thanks!

[2021-04-19 19:35] #202 closed

[2021-04-30 13:30] fnordian opened #203 "Error making volume mountpoint for volume /var/run/docker.sock when running with podman"
When trying to run a jest testcase that uses testcontainers' KafkaContainer, the container won't start. Instead an error is produced:

`[Error: (HTTP code 500) server error - make cli opts(): error making volume mountpoint for volume /var/run/docker.sock: mkdir /var/run/docker.sock: permission denied ]`

I am using podman on Fedora 34. Testcontainers under java are working fine.

Here's my test-ca

[2021-05-01 21:14] luismqoliveira opened #204 "Failed to build Dockerfile with private registry as authorisation is missing"
I'm trying to build from a custom dockerfile and im getting error "Failed to build image" and i searched for the error and found that is in line 202 (isImageCached) from generic-container.js.
What i understood is that when i build a imagem from a dockerfile, if the "from" image is not cached it returns and error. Is that a bug? Shouldn't it push automatically when it's not cached? I have to build

[2021-05-02 16:45] cristianrgreco commented on #204
Hi @luismqoliveira

That is not correct

Push what?

Please share the error you got as well as a reproducible example

[2021-05-02 16:48] cristianrgreco commented on #203
Hi @fnordian, thanks for sharing. Could you please share the error with the stacktrace? I suspect the permission denied error is coming from trying to create the Reaper

[2021-05-03 01:19] fnordian commented on #203
@cristianrgreco, I am not able to get a stack-trace out of a jest test. But when I set `TESTCONTAINERS_RYUK_DISABLED=true`, the error goes away, kafka & zk containers are created, and `Error: socket hang up` is thrown.

[2021-05-03 14:56] luismqoliveira commented on #204
Hi @cristianrgreco
I'm sorry if you didn't understand my question, i'll try to explain it better.
I'm trying to create a container from a local dockerfile (which needs to download this library "FROM busybox:1.33.0 AS builder", but this happens with any library). Anytime i try to build this image if i don't have it locally cached it throws an error: "Error: Error: Failed to build image at GenericCo

[2021-05-03 16:50] cristianrgreco commented on #204
Yes that's right. I've just verified this by removing my local images and running this test:
https://github.com/testcontainers/testcontainers-node/blob/787c63fc39899ecc5986b3748830201af0614ff9/src/generic-container.test.ts#L378-L389

Set `DEBUG=testcontainers*` as an environment variable and re-try and share the error

[2021-05-03 16:59] cristianrgreco commented on #203
I see in this issue you are setting `DOCKER_HOST`, but the Java version which you say works for you uses `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE`:

Are you also setting `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE` in your Java example?

[2021-05-03 17:30] luismqoliveira commented on #204
ok i found the problem. When i use a private registry like nexus to download the images which are cached there its throws an error.
If i download the image from docker hub its ok. I tried to put DEBUG flag like you said but i get no extra logs from image build. The only thing i get extra with "testcontainers*" are the logs of the started containers. It doesn't show any information about images bui

[2021-05-03 17:52] cristianrgreco commented on #204
Great, it should just be a case then of running docker login into your
private registry and trying again?

On Mon, 3 May 2021, 18:31 luismqoliveira, ***@***.***> wrote:

[2021-05-04 03:45] fnordian commented on #203
Yes, it's set to the file-path of the unix-socket.

[2021-05-04 08:39] cristianrgreco commented on #203
Thanks @fnordian, please update to testcontainers 7.9.0 and set `TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE` to your podman socket accordingly

[2021-05-04 09:32] luismqoliveira commented on #204
@cristianrgreco
I'm trying to use my proxy private repo, even thought i have made docker login it seems that testcontainers is not picking up the right credentials... I mean i use testcontainers with java and it works well, but this one is not capable of picking up my private registry. I've compared them both and docker host and socket path are the same. This error is on jenkins, but i did use doc

[2021-05-04 10:01] cristianrgreco commented on #204
Thanks for the info @luismqoliveira, this seems the problem:

`testcontainers DEBUG No registry auth locator found for registry: "xpto"`

Could you share the contents of `~/.docker/config.json` (make sure to omit any plain text or base 64 encoded creds if you have them)? That will help me see why your registry isn't being found.

Also I know you're substituting the registry name to `xpto` but that

[2021-05-04 17:40] luismqoliveira commented on #204
Hello @cristianrgreco
This "xpto" is the URL of a nexus repository. I will try to find out a way to see the content of ~/.docker/config.json during a build on jenkins. I'm not really sure how but i'll try.
Couldn't you improve the log level so that the image creation of a custom docker file is printed as the logs of the containers are in "testcontainers*"? It would be easier to see what is causing

[2021-05-04 17:57] cristianrgreco commented on #204
I think the issue will be that xpto is represented in a way not currently
supported in your config.json file. If you are reproducing this issue
locally you could also share your local config.json file.

Regarding logs, the issue is clear from your previous message, we're
pulling from a private registry without providing authorisation.

On Tue, 4 May 2021, 18:40 luismqoliveira, ***@***.***> wrote:

[2021-05-05 08:22] luismqoliveira commented on #204
Here's my config.json file
{
	"auths": {
		"xpto": {
			"auth": "hash"
		},
		"xpto2": {
			"auth": "hash"
		}
	}
}

[2021-05-05 08:52] cristianrgreco commented on #204
I am confused 😄 This test shows that for your auth config, if your registry name is `xpto`, then it would return `true`, and you would not see `No registry auth locator found for registry: "xpto"`

https://github.com/testcontainers/testcontainers-node/blob/f58fe65acbbf1959c61416ad23a8727a7c8ca4e0/src/registry-auth-locator/auths.test.ts#L19-L22

There must be some discrepancy with the information I

[2021-05-05 08:56] cristianrgreco commented on #203
Hi @fnordian, could you please confirm the issue is now resolved?

[2021-05-05 09:10] cristianrgreco commented on #204
Yes I think I know the issue, we are not forwarding auth information when building Docker images, I will raise a PR to implement this as soon as I have a chance. Thanks for raising @luismqoliveira

[2021-05-05 21:56] luismqoliveira commented on #204
Thank you @cristianrgreco im happy I could help. Keep your good work mate !

[2021-05-06 09:07] cristianrgreco commented on #204
Thanks @luismqoliveira 🙂 I've released the above PR in [7.10.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.10.0), could you please update and let me know how it goes?

[2021-05-06 10:22] luismqoliveira commented on #204
Hello @cristianrgreco I've upgraded to 7.10.0 and the behavior is strange.
I'm trying to start 5 spring boot containers with custom Dockerfile from classpath. Each one of them have their unique Dockerfile but they are identic (the only diference is the jar name generated). I said the behavior is strange because sometimes i can successfully build two of them without any problem but in the third or

[2021-05-06 10:40] cristianrgreco commented on #204
Hmm, I'll need some more info to be able to reproduce, are you able to share any code which reproduces the issue? My understanding is that you have 5 identical Dockerfiles, all of which pull an image from a private registry, and when you build all of them, only a few of them succeed, is that correct?

There should be more Docker build output as TRACE logs, could you share that as well?

[2021-05-06 11:10] luismqoliveira commented on #204
@cristianrgreco it's working. I hidden my comment because it was my mistake.
Thank you very much !

[2021-05-06 11:32] cristianrgreco commented on #204
That's great! I will close the issue then, thanks again 🙂

[2021-05-06 11:33] #204 closed

[2021-05-06 11:33] #203 closed

[2021-05-10 15:38] jonathankeebler opened #210 "Kafka example fails with Zookeeper panic "Unable to create data directory""
MacOSX 11.3.1
Node 12.x

I copied/pasted the first "built-in Zookeeper" example from https://github.com/testcontainers/testcontainers-node/tree/master/src/modules/kafka. The docker instances are created, but the cp-zookeeper instance fails with the following:
[code]

[2021-05-11 10:28] cristianrgreco commented on #210
Hi @jonathankeebler, these are the tests that are run for the kafka module: https://github.com/testcontainers/testcontainers-node/blob/master/src/modules/kafka/kafka-container.test.ts

Are you able to use them to get a working example using the built-in ZK?

[2021-05-11 15:05] jonathankeebler commented on #210
FYI the generic container tests are passing (except for the private repos which I assume were just a permissions problem):
<img width="965" alt="Screen Shot 2021-05-11 at 11 03 20 AM" src="https://user-images.githubusercontent.com/4992815/117838662-87c29d80-b248-11eb-8366-936fbc84d848.png">

[2021-05-11 16:06] jonathankeebler commented on #210
I got it working when I specified the volumes on a custom Zookeeper:
[code]

[2021-05-12 08:20] cristianrgreco commented on #210
Looks like there was a major version change from `5.4.4` to `6.1.1`, could you try `5.4.4`? If that works then we can hardcode the version in the example

[2021-05-12 17:56] jonathankeebler commented on #210
I got a `Error: (HTTP code 404) no such container - No such image: confluentinc/cp-zookeeper:5.5.4` when I tried
[code]

[2021-05-12 18:06] jonathankeebler commented on #210
Nevermind, I tried to pull the image manually and I was out of docker disk space. ☝️ works I think. Verifying I can connect...

[2021-05-12 18:18] jonathankeebler commented on #210
Hardcoding v5.5.4 of the images resolves the issue. I would recommend hardcoding that version in your lib for the built-ins @cristianrgreco

[2021-05-12 18:52] cristianrgreco commented on #210
I've raised a PR which sets the version to 5.5.4 by default, thanks @jonathankeebler. Is there anything else for this issue or can it be closed?

[2021-05-13 08:26] #210 closed

[2021-05-19 13:47] fondberg opened #212 "How to define hostname for container?"
Thanks for excellent work!
I'm trying to have one testcontainer connect to another testcontainer on a docker network (setup using `const network = await new Network().start();` and would like to use something like

[code]

What are the recommendations here?

[2021-05-19 14:56] cristianrgreco commented on #212
Hi @fondberg, thanks 🙂 Looking at the Java examples there's this:

[code]

Which would allow another container on the same network to access this container like `http://foo`. Is this the kind of behaviour you are asking about? If so it's not currently implemented, but would be happy to add it

[2021-05-20 07:38] fondberg commented on #212
That is exactly what I'm looking for. Great that you want to add it! Can I help somehow?

[2021-05-20 16:36] cristianrgreco commented on #212
@fondberg Thanks for offering to help, I've raised a PR which implements this behaviour, I'll have it released as soon as the build passes/tasks are complete. Will update here once that's done

[2021-05-21 08:23] #212 closed

[2021-05-21 23:18] kpeters-cbsi opened #214 "Port not bound after 60000ms"
The following code produces the error: `Error: Port 3000 not bound after 60000ms`

[code]

Dockerfile:
[code]

[2021-05-22 18:02] fondberg commented on #212
Great!

[2021-05-22 21:15] kristiandupont opened #215 "start() rejects"
I am trying to start a container like this:
[code]

Now, the call to `start()` fails with this message:
[code]

As there is no stream established yet, I don't know how I can receive any information to debug this problem further?

[2021-05-23 07:21] cristianrgreco commented on #215
Hi @kristiandupont, as per the Configuration section of the README you can see all output by setting the `DEBUG=testcontainers*` environment variable. For example `DEBUG=testcontainers* npm test`

[2021-05-23 07:24] cristianrgreco commented on #214
Hi @kpeters-cbsi, are you sure your container exposes port 3000? Also you are providing a PORT build arg but the Dockerfile in the example doesn't have any build args.

[2021-05-23 07:34] kristiandupont commented on #215
My apologies, I missed that. I got it working though -- it turns out that even though it appears that the Ryuk image has been updated to multiarch, my maching (arm64 linux) tried to run the x86 version. I am not sure why, but when disabling ryuk it works.

A possible improvement could be to log something if ryuk fails to start because I spent a long time under the assumption that the problem was w

[2021-05-23 07:34] #215 closed

[2021-05-24 14:31] kpeters-cbsi commented on #214
As shown below, I updated the Dockerfile to expose port 3000; no change.

Dockerfile:
[code]

[2021-05-24 15:34] cristianrgreco commented on #214
@kpeters-cbsi I cannot even run that image via the CLI `docker run abhin4v/hastatic`:

[code]

This issue implies that the default wait strategy does not work, which is not the case as per the build. I will close this issue until you can show that this is an issue with testcontainers, providing logs would be a good start.

[2021-05-24 15:34] #214 closed

[2021-05-24 15:53] kpeters-cbsi commented on #214
OK, that's on me. The Docker image I was using works fine from the CLI, but not with testcontainers.

[2021-05-27 13:00] oskardudycz opened #217 "[Question] EventStoreDB pre-prepared module"
@cristianrgreco, would you be willing to take a PR with [EventStoreDB](https://developers.eventstore.com/) module? I'd be happy to send it if you're open to such a contribution.

If yes, then I would be grateful if you have some suggestions or guidelines besides having a look at other pre-configured modules :)

[2021-05-28 14:27] oskardudycz commented on #217
My draft (but working) EventStoreDB module looks as follows:

https://github.com/oskardudycz/EventSourcing.NodeJS/blob/snapshots/samples/snapshots/src/testing/eventStoreDB/eventStoreDBContainer.ts

I needed to use renamed method `startContainer` instead of `start` as my class `StartedEventStoreDBContainer` cannot implement `StartedTestContainer` without copy/pasting classes definitions (as they se

[2021-06-02 20:13] tim-oe opened #218 "docker-compose localstack container failing to start"
using docker compose to start container times out with the following error:
Port 4571 not bound after 60000ms for cc2f2b8b37d2f1acfb3c8255e8d2976dd98f98eaefe6394ed5c36c308fcd3e6f
this port isn't exposed in my compose file, see attached.

if the container is already present i get the following error:
    ERROR: for localstack  Cannot create container for service localstack: Conflict. The container

[2021-06-02 21:26] cristianrgreco commented on #218
Hi @tim-oe, when I run the attached docker-compose.yml, I see there is a container named `localstack` (the name is set in the docker-compose.yml) file, but the code defines a wait strategy for a container called `localstack_1`, which doesn't exist:

[code]

Could you confirm that changing `localstack_1` to `localstack` solves the issue? If it does then I will see how this can be made clearer, for

[2021-06-03 15:15] tim-oe commented on #218
good find, sorry about that. that fixes the clean run with increasing the jest timeout.

it still fails if I have run docker-compose externally from the tests.

[2021-06-03 15:36] cristianrgreco commented on #218
No worries, good news!

Because the container has a name, and container names are unique, you cannot start another container with the same name, hence the conflict. What is the behaviour you expect?

[2021-06-03 17:47] tim-oe commented on #218
I want to leverage the compose file for both dev/debugging and for testing, looking at the ctor is there a way to override the name in the jest test? kinda new to all the docker stuff.

`constructor(composeFilePath: string, composeFiles: string | string[], uuid?: Uuid);`

[2021-06-04 13:55] tim-oe commented on #218
i removed the container name from to docker compose but how do you know the name to pass for the wait? also once removed with having the tests call down/stop only one test will run. others fail with name conflict or port in use errors

it seems compose can only be used via globalsetup

[2021-06-04 19:22] cristianrgreco commented on #218
It is based on the image name, for example if the image is `localstack` then it will create `localstack_1`, if there is more than one localstack image then it would be `localstack_2`, etc.

The name conflict would be resolved by removing the name from the yaml file as you previously suggest. The port conflict would be resolved by removing the explicit binding, for example from

[code]

To
[code]

[2021-06-07 08:05] #218 closed

[2021-06-07 08:08] cristianrgreco commented on #217
Hi @oskardudycz, the existing modules are part of the `testcontainers-node` project, not separate repositories, which is why the other modules are able to import the types they need. See here an example of a module:

https://github.com/testcontainers/testcontainers-node/blob/f58fe65acbbf1959c61416ad23a8727a7c8ca4e0/src/modules/elasticsearch/elasticsearch-container.ts#L9-L30

[2021-06-16 21:00] #217 closed

[2021-07-06 09:15] fondberg opened #219 "Property 'logs' does not exist on type 'GenericContainer'"
It seems the logs method as described in the docs is not in the latest (^7.11.1) release for GenericContainer.
Is there another way of getting logs from the container?

This is my code:
[code]

[2021-07-06 09:45] cristianrgreco commented on #219
Hi @fondberg, I'm not sure what you mean, as per this test you should be able to get logs out of the container: https://github.com/testcontainers/testcontainers-node/blob/master/src/generic-container.test.ts#L273-L280

[2021-07-06 13:56] fondberg commented on #219
I think I made some mistake because not it works. Sorry to bother and keep up the good work!

[2021-07-06 13:56] #219 closed

[2021-07-06 16:35] Chaosbohne opened #220 "Ryuk container connection closes sporadicly"
Today I switched to a complete new environment running windows with wsl2 and docker desktop v3.5.1.

I have an integration test setup that spins up containers. Unfortunately, the test fails sporadically from time to time. Around 60%-80% of test executions do fail.

From logs and from docker desktop I can see, that the test fails without even starting to execute my actual test. This is indicated by

[2021-07-06 17:22] cristianrgreco commented on #220
Hi @Chaosbohne, I'll be raising a PR and releasing a change so that ryuk's logs are available when using `DEBUG=testcontainers*`, I hope that will make the problem clear. I will let you know once the release is ready and then please upgrade, try again and share the logs.

[2021-07-06 17:47] cristianrgreco commented on #220
@Chaosbohne please upgrade to 7.12.0 and try again

[2021-07-06 21:40] Chaosbohne commented on #220
Your upgrade already changes the test behavior. In version 7.11.1 I could easily reproduce the issue with one of my tests. Just upgrading to 7.12.0 solves the issue for this single test. This might indicate, that there is a race condition. I upgraded down again to 7.11.1, to prove nothing on my setup has changed and yes the issue is still reproducible in 7.11.1.

So I upgraded back 7.12.0. I execu

[2021-07-06 22:10] cristianrgreco commented on #220
Hmm, I'm not yet sure what could be the issue, I think I will need your help to try and reproduce - could you share some repro? If it's more likely on 7.11.1 then we can use that to try and track it down.

When you say you were able to reproduce it with a single test, was this starting a single container, and the reaper would just immediately close the socket? And to confirm, the exact same test w

[2021-07-07 07:22] Chaosbohne commented on #220
I can not share the original repo with you, but I extracted the test into a new repo and shrinked it down. Its not perfectly minimal but easy enough. The test now spins up a postgres, note that the test may fail initially due to the download of postgres, once the postgres is running the test validates true == true.

In error case, postgres is not started at all, as the connection to the socket doe

[2021-07-07 08:27] cristianrgreco commented on #220
Thanks @Chaosbohne, I'll take a look later. What version of node are you using?

[2021-07-07 08:30] Chaosbohne commented on #220
I am running the latest node lts which is v14.17.3

[2021-07-08 09:25] cristianrgreco commented on #220
@Chaosbohne Could you please upgrade to 7.12.1, reproduce the issue and share the logs again? I've added some more logging around the Reaper's socket

[2021-07-12 12:49] Chaosbohne commented on #220
Sorry for the late reply. I don't know why but its getting more and more difficult to reproduce the issue. See the error log, that I received after several test runs with version 7.12.1.

[code]

[2021-07-12 12:59] cristianrgreco commented on #220
thanks @Chaosbohne, I can see now that the client is actually unable to connect `ECONNREFUSED`
could you run it including the container logs? `DEBUG=testcontainers*`

[2021-07-13 07:09] Chaosbohne commented on #220
Those are the container logs already. Without the `DEBUG=testcontainers*` I would not be able to see those. There are no further logs containing the issuing reaper id `ecd1d5686914902e240ad608d7cb5cb316d96ab6e21afd050414e1a1bcaacb79`

[2021-07-13 08:23] cristianrgreco commented on #220
hmm, that's odd, I would've expected to see the logger used by containers (`testcontainers:containers`), something like:

[code]

perhaps the `*` needs to be quoted on the CLI for windows?

[2021-07-13 11:36] Chaosbohne commented on #220
Unfortunately there isn't more. Mostly the connection to the container fails if I run my test suite. If I run my test suite it is very difficult to connect the logs to each other as the tests run in parallel. Therefor I took all logs with the according container id.

[code]

I now did a test run with sequential test execution:
[code]

And this might be the issue you are looking for:
[code]

[2021-07-13 14:47] Chaosbohne commented on #220
Looks good! I can not reproduce the issue anymore.

[2021-07-13 14:58] cristianrgreco commented on #220
Great! thanks for raising the issue @Chaosbohne, I'm glad it's fixed 🙂

[2021-07-13 14:58] #220 closed

[2021-07-13 16:29] juanf9224 opened #226 "Gitlab CI ERROR Failed to up DockerCompose environment: Error: spawn docker-compose ENOENT"
Hi,

I'm trying to run the container from a docker compose in the pipeline but it fails with above mentioned error, locally it works fine.

I'm using:
[code]

docker-compose.yaml:
[code]

function to up environment:
[code]

These are the debug logs from testcontainer on the pipeline:
[code]

[2021-07-13 16:33] cristianrgreco commented on #226
hi @juanf9224, seems to me that the docker-compose binary isn't installed on the machine

[2021-07-13 16:55] cristianrgreco commented on #226
@juanf9224 From this StackOverflow it seems trivial to install docker-compose as part of the build: https://stackoverflow.com/questions/39868369/run-docker-compose-build-in-gitlab-ci-yml

[code]

Does this work for you?

[2021-07-13 16:59] cristianrgreco commented on #226
FYI if you upgrade to testcontainers 7.13.0 you should see a WARN log saying that docker-compose isn't installed

[2021-07-13 17:22] juanf9224 commented on #226
Thanks for your answer @cristianrgreco , I went back to using the generic containers instead, since I only need it for simple testing purposes and don't want to add more to the pipeline.

[2021-07-13 17:24] #226 closed

[2021-07-13 17:38] juanf9224 opened #228 "Jest hangs on Gitlab CI due to leaks"
testcontainers@7.13.0

When running tests on the pipline the job keeps running until timeout, test pass but it doesn't exit from the tests and this message shows in the console:

[code]

And if I run the test locally I get this warning:

[code]
using the leaked-handles package and running the tests with --detectOpenHandles flag I get the following locally:
[code]

not sure if those logs help, but

[2021-07-13 17:57] cristianrgreco commented on #228
@juanf9224, the testcontainers-node pipeline runs many tests which start and stop containers and they terminate as expected, why do you think this is an issue with testcontainers and not the test/CI environment?

are you stopping the container? all I can see from the log is that the mongo container started to stop and then nothing

[2021-07-13 18:40] juanf9224 commented on #228
thanks for the reply @cristianrgreco , as I mentioned, locally it has the leakes as well, the leaked-handles log is from my local environment.

this is the test that's causing the job to hang:

[code]

and this is the mongo container file being used:

[code]

If I remove this test or stop using the container, the test job doesn't hangs.

[2021-07-13 19:17] cristianrgreco commented on #228
the example doesn't run, what is `import { mongoDB } from "utils/db";` ?

[2021-07-13 22:55] juanf9224 commented on #228
Thanks! @cristianrgreco , closing the mongo connection solved the issue, as per your recommendations for the version I'm using, it says that ` testcontainers ` has no exported member ` StartedGenericContainer `, and the mongo container is of type ` StartedGenericContainer ` but ` new GenericContainer() ` returns a ` GenericContainer ` not a ` StartedGenericContainer ` which I get from the ` statrt

[2021-07-13 22:55] #228 closed

[2021-07-13 22:59] cristianrgreco commented on #228
@juanf9224 apologies, I meant StartedTestContainer. Glad it’s resolved now 👍

[2021-07-15 13:31] angelo-v opened #230 "Allow to run a container with a specific uid"
With docker run there is the `-u` option to use a specific uid. It would be great, if testcontainers supported this as well.

[2021-07-15 13:58] cristianrgreco commented on #230
Say no more my friend, it is released in [7.14.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.14.0)

[2021-07-16 08:21] #230 closed

[2021-07-21 13:41] nbardiuk opened #234 "Wrong host when running inside docker"
Hello, I've encountered a problem running testcontainers inside docker.
We are using gocd where job runs inside docker with a mounted docker socket.
This setup works for java jobs with testcontainers-java but fails with testcontainers-node.

The main symptom is that the test code cannot connect to the container started by testcontainers.

Extract from testconainers debug log:

[code]

It shows tha

[2021-07-21 14:41] cristianrgreco commented on #234
Hi @nbardiuk, thanks for raising and for providing so much info.

I've compared what testcontainers-java do and what testcontainers-node does and it seems we're missing the [`getDefaultGateway`](https://github.com/testcontainers/testcontainers-java/blob/c3a8ca76d0ed69f71c94e5bc2f7f1e0eef1a2259/core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java#L287) case. Could yo

[2021-07-22 16:53] nbardiuk commented on #234
I've just run the command on the alpine container and the output is `172.17.0.1`.
Hope that helps.

[2021-07-22 17:54] cristianrgreco commented on #234
Thanks @nbardiuk, could you please update to 7.15.0 and let me know if you still have an issue?

[2021-07-22 18:08] nbardiuk commented on #234
The update didn't fix the problem. There is an extra error message in the logs about the alpine image:

[code]

[2021-07-22 19:12] cristianrgreco commented on #234
@nbardiuk I forgot to actually pull the container.. please try 7.15.1

[2021-07-22 19:38] nbardiuk commented on #234
All good now. Thank you for your help! 🥳

[2021-07-22 19:38] #234 closed

[2021-08-02 04:34] yjwong opened #249 "Build multiple architectures for the default ryuk image"
Hi!

I noticed that the default testcontainers ryuk image is [cristianrgreco/ryuk:0.4.0](https://hub.docker.com/layers/cristianrgreco/ryuk/0.4.0/images/sha256-e1f13eca329e43f03f38786406507c65162e63acd35e7d4c3708b25a6c80f791?context=explore), which only supports `linux/amd64`, but the upstream `testcontainers/ryuk` image does support multiple architectures on its latest tag (0.3.1).

Is it possible

[2021-08-02 08:20] cristianrgreco commented on #249
Hi @yjwong, thanks for raising!

For a bit of context we had this issue a while back where ryuk wasn't cleaning up images: https://github.com/testcontainers/testcontainers-node/issues/189. A PR was raised on the upstream ryuk to fix this: https://github.com/testcontainers/moby-ryuk/pull/25. It's been merged but not released which is why `cristianrgreco/ryuk:0.4.0` was created.

@bsideup would it b

[2021-08-02 11:04] rnorth commented on #249
We had a problem with the multi-arch build, which was failing on an apparent regression in buildkit/qemu. We never had time to investigate more thoroughly, but it looks like [this PR](https://github.com/testcontainers/moby-ryuk/pull/26) now builds correctly when using latest versions of buildx and qemu, so we should be good to publish a new multi-arch version of ryuk.

I'll get onto that later tod

[2021-08-02 19:55] mmartinsky opened #250 "Unable to use container networking example in README"
I'm trying to network an express server container to another express server, but having difficulty running the networking example in the README. Created

s.js
[code]

as a test file, then ran `DEBUG=testcontainers node s.js`. It seems to fail on the exec for a stopped container:
[code]

Is there something incorrect in my setup, or are the docs out of date?

[2021-08-02 20:06] cristianrgreco commented on #250
The issue is that the alpine container will exit by default if not run in interactive mode. To keep the containers running I'd suggest adding something like `.withCmd(["top"])`, which will mean they are running when you run the nslookup command.

Thanks for raising @mmartinsky, I've updated the examples in the README.

[2021-08-02 20:11] #250 closed

[2021-08-03 09:17] rnorth commented on #249
OK, v0.3.2 of Ryuk is now published with this fix! https://hub.docker.com/repository/docker/testcontainers/ryuk/tags

[2021-08-03 09:56] cristianrgreco commented on #249
Released in [7.18.2](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.18.2), thanks @rnorth and @yjwong 🙂

[2021-08-03 09:56] #249 closed

[2021-08-03 10:08] yjwong commented on #249
That was quick, thanks @cristianrgreco @rnorth!

[2021-08-15 08:56] cristianrgreco opened #256 "Clearer output when container fails to start due to bad `withCmd`"

[2021-08-15 09:00] cristianrgreco opened #257 "Cache auth registry lookups"

[2021-08-15 16:35] #256 closed

[2021-08-15 16:46] #257 closed

[2021-08-27 09:58] katerina-semikina opened #263 "Kafka module is not working with Schema Registry"
Hey!

I've created PR https://github.com/testcontainers/testcontainers-node/pull/262.
The changes are needed to make Kafka module work with Schema Registry https://github.com/confluentinc/schema-registry.
Also this is a kind of clean up for env variables defined in this Kafka Container.

It would be great if these changes could be merged. Thanks!

[2021-08-28 15:11] cristianrgreco commented on #263
Thanks again @katerina-semikina! Released in [7.20.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.20.0).

[2021-08-28 15:11] #263 closed

[2021-09-06 16:02] atkinchris opened #265 "All exposed ports are subject to HostPortCheck, even if not bound to host"
When setting up a Docker Compose environment, the exposed ports are read from the Docker container inspect data. These are all put into a map of "bound" ports. However, these ports may not actually be mapped be mapped to a host port, as there's no requirement for them to be. As such, `PublicPort` would be undefined, and the `socket.connect` would fail during the Host check.

I suspect that `contai

[2021-09-06 16:42] cristianrgreco commented on #265
Thanks for raising @atkinchris, fixed in [7.20.1](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.20.1).

[2021-09-06 16:42] #265 closed

[2021-09-06 16:44] atkinchris commented on #265
Awesome, thanks!

[2021-09-06 17:59] atkinchris opened #268 "Errors on Docker Compose startup are incorrectly coerced to strings"
Error objects thrown by the `docker-compose` library in `upMany/upAll` are neither `Error` objects nor strings. However, they are handled as either, which means that meaningful error objects are coerced into `[object Object]`.

https://github.com/testcontainers/testcontainers-node/blob/7c19f5e412954bb8a24e6e261fefcf6417a8459f/src/docker-compose/functions/docker-compose-up.ts#L18-L26

For example,

[2021-09-07 08:23] cristianrgreco commented on #268
Thanks again @atkinchris, keep 'em coming! Fixed in [7.20.2](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.20.2).

[2021-09-07 08:23] #268 closed

[2021-09-17 16:48] wilsonianb opened #273 "manifest unknown with sha256 digest"
I get a `manifest unknown` error, when attempting to create a container with a specified sha256 digest:

[code]

[code]

logs:
[code]

[2021-09-17 21:30] #273 closed

[2021-09-17 21:33] cristianrgreco commented on #273
Thanks @wilsonianb, fixed in [7.20.3](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.20.3)

[2021-09-17 23:54] wilsonianb commented on #273
Thanks for the quick fix.
I'm seeing the same error with the image name includes a registry.
I've opened https://github.com/testcontainers/testcontainers-node/pull/275 to fix it.

[2021-09-25 12:25] batuhancaglayan opened #281 "Error on npm install"
Hello,

I take an error while i try to install package. I is not failing npm install process and everything works fine.
The error is as below;

![exception_on_npm_install](https://user-images.githubusercontent.com/24773791/134771438-d15813f2-e0e7-4ac4-9b8c-81ae82e87ca4.PNG)

thanks for your helps.

[2021-09-25 15:19] cristianrgreco commented on #281
Hi, did you read the error message? `cmake: not found` ..

[2021-09-25 15:19] #281 closed

[2021-10-11 19:55] zsiegel opened #283 "Containers not spinning up inside VSCode Container with latest Docker for Mac"
Hello

We have a number of projects that utilize VS Code running in containers. We mount the host docker socket into the container so it can access the Docker for Mac instance that is running on the host machine for our tests.

Up until the most recent version of Docker for Mac everything was going well.

Currently this no longer works on `Docker for Mac 4.1.0 (69386) - Docker version 20.10.8, bui

[2021-10-12 18:51] cristianrgreco commented on #283
Hi @zsiegel, thanks for raising such a detailed issue!

I've upgraded to Docker 20.10.8 and tried the repro but it works for me:

[code]

The only difference I see is the Docker architecture, aarch vs x86_64, but I've no idea if that's the reason. As it works for me, can you think of anything else that could be creating a difference?

[2021-10-15 01:39] zsiegel commented on #283
hmmm so I gave this a try as well and I still get nothing. If I watch the docker logs and do `watch -n 2 docker ps` I never see any new containers spin up. Is there any more info on what disabling this RYUK container does?

From what I can see when running in this wormhole situation test containers cant spin anything up at all.

[2021-11-05 17:41] tiloio opened #288 "Reusing of docker compose containers is not possible"
We have simple use case: We want to spin up some background containers (like a database or a file storage) to run our test against it. The test are cleaning the containers as they need. These containers should be reused on every test run so we save time in every TDD cycle.

We define these containers in a `docker-compose.yml` and use the [docker-compose cli](https://docs.docker.com/compose/referen

[2021-11-05 18:31] cristianrgreco commented on #288
Hi @tiloio, just so I understand, you are running code like:

[code]

Before every test/test suite, and because the container is already running, it fails.

1. Is the failure a conflict?
2.  In your `docker-compose.yml` file have you specified the `container_name`?

[2021-11-05 18:35] tiloio commented on #288
We are running it before every test run ( currently in the Jest global setup).

The `container_name` is specified and we get a conflict for that name.

[2021-11-05 18:42] cristianrgreco commented on #288
@tiloio https://github.com/testcontainers/testcontainers-node/pull/289, specifically:

[code]

[2021-11-05 19:38] cristianrgreco commented on #288
@tiloio it seems because each `DockerComposeEnvironment` has its own unique ID as a label, that `--no-recreate` doesn't work between different environments, for example this still fails with a conflict:

[code]

But this works as expected (no conflict):

[code]

Would this work for you?

[2021-11-05 19:48] cristianrgreco commented on #288
@tiloio it seems this does not work because the environments have different ID labels:

[code]

but this will work, is it OK for you?

[code]

[2021-11-05 22:11] tiloio commented on #288
We are starting every time a new process. So this will not work.

Why is it different to the normal `docker compose up`?

[2021-11-05 23:36] cristianrgreco commented on #288
I've got it working so that you can do:

[code]

And it won't conflict. I take it that will work?

[2021-11-06 11:03] cristianrgreco commented on #288
Released in [v7.22.0](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.22.0)

[2021-11-08 08:14] tiloio commented on #288
I forgot to mention that we are using `TESTCONTAINERS_RYUK_DISABLED=true`.
So we want to really reuse the containers between runs.

When I now use the v7.22.0 like that:
[code]

I will get a
[code]

So we are not able to run the DockerComposeEnvironment between multiple test runs.
Imagine having a npm task like
[code]

Then using this `npm run start` and after a few minutes a `npm run start` again

[2021-11-08 09:18] cristianrgreco commented on #288
@tiloio if ryuk is disabled and you are not downing/stopping the docker-compose env yourself, then it should stay running even after the tests have terminated, and `withNoRecreate` should mean there is no conflict when starting the same environment. See the test I added in the referenced PR which shows `withNoRecreate` working. If you have an issue please share your docker-compose file and prefera

[2021-11-11 14:59] kylemillar608 commented on #288
@cristianrgreco I am having the same issue as @tiloio. I have created a small project to demonstrate the issue. https://github.com/kylemillar608/testcontainers-sample

Recreate issue-
1. Run `npm install`
2. Run `tsc`
3. Run `npm test` OR run `docker-compose up` in the `src/test` directory
4. Run `npm test` again

Expected behavior-
Both test runs should be successful.

Actual behavior-
Test run n

[2021-11-11 15:06] cristianrgreco commented on #288
Ah I understand, thanks @kylemillar608. What's happening is that for each instance of there is a unique session ID created, and each docker-compose container is labelled with this unique ID. The reason for this is so the reaper can find these containers and delete them. If however if you start a completely new node instance (your step 4), then the label has changed and `withNoRecreate` has no effe

[2021-11-11 15:59] kylemillar608 commented on #288
@cristianrgreco So, just to clarify, if I run `npm test` and then run `docker-compose up --no-recreate` it won't work because the docker container created w/ `npm test` has been given a special label w/ the session ID? I wouldn't have expected the `docker-compose` command to be affected by that label.

Is there any reason we need the session ID if ryuk is disabled? If not, if `TESTCONTAINERS_RYUK_

[2021-11-11 16:04] cristianrgreco commented on #288
That's right. I didn't expect it either, I found out about it from the first part of this GH issue :slightly_smiling_face:

That sounds like a much better idea! I'll take a look now

[2021-11-11 16:51] cristianrgreco commented on #288
@kylemillar608 I've basically reverted the fix from the first part of this issue and what I've done is if `withNoRecreate` is specified, the project name label is set to a constant, "testcontainers-node" in this case. This means the hash will remain the same across instances and therefore the containers won't be recreated.

I opted against removing the label altogether if the reaper is disabled be

[2021-11-11 16:54] kylemillar-a commented on #288
@cristianrgreco That works for me. Thank you!

[2021-11-11 16:56] kylemillar608 commented on #288
@cristianrgreco That works for me. Thank you!

[2021-11-11 17:14] cristianrgreco commented on #288
@kylemillar608 released in [7.22.1](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.22.1)

[2021-11-11 17:14] #288 closed

[2021-11-12 10:46] michalosik88 opened #293 "Testcontainers don't work with docker-credential-gcloud on Win"
When I try to run testcontainers using the GCP PubSub emulator, I got a message:
[code]

The problem doesn't occur on Linux.
Node version: 16.3.0 (here I got a timeout on spawning the containers) or 12.22.7 (here the problem occurs openly).
When I try to run the docker-credential-gcloud using node console:
[code]
I got the same error message. However when I do:
[code]
Everything looks fine (althou

[2021-11-12 11:55] cristianrgreco commented on #293
Hi @michalosik88, that's interesting, I found this in the docs which would explain why setting `shell: true` fixes it for Windows:

https://nodejs.org/api/child_process.html#spawning-bat-and-cmd-files-on-windows

I'd welcome a PR which sets `shell` depending on the OS. If not I'll get to it soon

[2021-11-12 12:14] michalosik88 commented on #293
Thank you @cristianrgreco , that would explain a lot. I am not sure however if adding `shell` would fix the whole problem, cause AFAIK it runs a new shell to run the command. So running a test container in another shell than the rest of the test suite may mean that it won't be seen by other containers, or am I wrong?

[2021-11-12 12:56] cristianrgreco commented on #293
The process that gets the credentials runs before any container is started, and is killed as soon as we get them, so I think it should be fine

[2021-11-12 14:09] cristianrgreco commented on #293
@michalosik88 could you please try version `7.22.1-beta.0` and let me know if it works for you?

[2021-11-15 10:05] michalosik88 commented on #293
Hi @cristianrgreco just tried that and unfortunately nothing changed. Maybe full DEBUG log may help you in some way.
[code]

[2021-11-15 11:04] cristianrgreco commented on #293
Hi @michalosik88, thanks for sharing that. I don't understand, you mentioned adding `{ shell: true }` to the `spawn` fixed it for you, which is the same as I've done: https://github.com/testcontainers/testcontainers-node/blob/293/src/registry-auth-locator/credential-provider.ts#L58

I'm not able to reproduce the issue myself so need your help, could you please let me know what's different between

[2021-11-18 08:14] armen-ch opened #301 "Testcontainer build using Dockerfile hangs on WSL 2 based engine if the Dockerfile directory contains .dockerignore"
The command used:
const buildContext = <mypath>
const container = await GenericContainer.fromDockerfile(buildContext).build();

It hangs and never finishes.
Tested on Windows 10:
- Docker Desktop v4.0.1(Engine: 20.10.8) with WSL2/Hyper-V engine enabled
- WSL 2 distro Ubuntu
Passes if running on pure Linux VM (tested on RHEL)

[2021-11-18 10:19] cristianrgreco commented on #301
Hi @armen-ch, could you please share the log output (run with `DEBUG=testcontainers*` env variable)?

[2021-11-18 10:47] armen-ch commented on #301
Hi @cristianrgreco,

Here you go:

  Pact: Securities Provider Interface expected by Watchlist Provider verification
  testcontainers DEBUG Creating new Docker instance +0ms
Building microservice docker container...
  testcontainers DEBUG Creating new Reaper for session: 058a390c608c2c3e5b65ba092df0e9c7 +43ms
  testcontainers INFO  Docker host strategy OUTSIDE_CONTAINER: localhost +4ms
  testconta

[2021-11-18 11:03] cristianrgreco commented on #301
Thanks @armen-ch, and could you please also share the `.dockerignore` file contents? I don't have access to a Windows machine too often so just want to get as much info as I can :slightly_smiling_face:

[2021-11-18 12:07] armen-ch commented on #301
Hi @cristianrgreco,

It looks like you got right to the point :).

[code]
"Dockerfile" is the reason. If I delete it, the build passes through. Hopefully the fix will be pretty easy.

Thank you!

[2021-11-18 12:48] cristianrgreco commented on #301
@armen-ch Fixed in [7.23.2](https://github.com/testcontainers/testcontainers-node/releases/tag/v7.23.2), thanks for raising!